<!-- 预览框 -->
<div class="modal hide fade" tabindex="-1" id="modal-preview" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>图片预览</h3>
    </div>
    <div class="modal-body">
        <img id="previewImg" class="img-thumbnail"/>
    </div>
</div>
<!-- 上传框 -->
<div class="modal hide fade" tabindex="-1" id="modal-fileupload" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>图片上传</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal " target="hidden_frame" id="uploadForm" action="/upload"
              enctype="multipart/form-data" method="post">
            <div class="input-group">
                <input type="hidden" name="callbackId" id="callbackId"/>
                <input type="hidden" name="size" id="size"/>
                <input type="hidden" name="prex" id="prex"/>
                <input type="hidden" name="imageSpec" id="imageSpec"/>
                <div class="controls">
                    <input type="file" name="uploadFile" id="uploadFile"/>
                </div>
                <div class="controls">
                    <button type="button" class="btn btn-success" id="uploadBtn">上传</button>
                </div>
            </div>
            <iframe style="display:none" name='hidden_frame' id="hidden_frame"></iframe>
        </form>
    </div>
</div>
<script>
    $(function () {
        // 图片预览
        $(".previewBtn").bind("click", function () {
            var id = $(this).attr("data-id");
            var imgUrl = $("#" + id).val();
            $("#previewImg").attr("src", imgUrl);
            $('#modal-preview').modal();
        });

        // 上传文件选择
        $(".uploadImgBtn").bind("click", function () {
            $("#uploadFile").val("");
            $("#callbackId").val($(this).attr("data-id"));
            $("#size").val($(this).attr("data-size"));
            $("#prex").val($(this).attr("data-prex"));
            $("#imageSpec").val($(this).attr("imageSpec"));
            $('#modal-fileupload').modal();
        });

        // 上传
        $("#uploadBtn").bind("click", function () {
            if ($("#uploadFile").val() == "") {
                alert("请选择文件！");
            } else if (validateImg()) {
                $("#uploadForm").submit();
                $(this).attr("disabled", "disabled");
            }
        });
    });


    function validateImg() {
        var prex = $("#prex").val();
        var reg = new RegExp(".(" + prex + ")$")
        if (prex && !reg.test($("#uploadFile").val())) {
            alert("图片类型必须是" + prex);
            return false;
        }

        var size = $("#size").val();
        if (size && $("#uploadFile")[0].files[0].size / 1024 > size) {
            alert("图片不能大于" + size + "kb");
            return false;
        }

        return true;

    }

    // iframe中接收返回的图片url
    function callbackImg(id, imgUrl) {
        if (!imgUrl) {
            alert(id);
        } else {
            $('#modal-fileupload').modal('hide');
            $("#" + id).val(imgUrl);
            if (id == "multiImgs") {
                $.ajax({
                    url: 'saveImgUrl',
                    async: false,
                    data: {itemId: $(".item-tuan-id").val(), imgUrl: imgUrl},
                    type: 'post',
                    dataType: 'json',
                    success: function (result) {
                        if (result.data == null) {
                            window.wxc.xcConfirm("超过张数限制！", window.wxc.xcConfirm.typeEnum.confirm);
                            return false;
                        }
                        var imgId = result.data.id;
                        var imgContent = "<div class='hovereffect' data-id='" + imgId + "'>" +
                                "<a target='_blank' href='" + imgUrl + "'>" +
                                "<img class='img-polaroid td-img' src='" + imgUrl + "'" +
                                " style='width: 60px;height: 60px;'" +
                                " onerror='javascript:this.src='/dist/img/logo.png';'>" +
                                "</a>" +
                                "<button type='button' class='btn btn-danger btn-mini img-remove'" +
                                "style='display: block;margin-left: 35%;margin-top: 8px;' data-id='" + imgId + "'>删除" +
                                "</button>" +
                                "</div>";
                        $(".no-img-list").hide();
                        $(".img-list").append(imgContent);
                        $(".img-remove").on("click", function(){
                            var id = $(this).attr("data-id");
                            window.wxc.xcConfirm("确认删除该图片吗？", window.wxc.xcConfirm.typeEnum.confirm, {
                                onOk: function () {
                                    LoadingTask.showLoading("html");
                                    $.ajax({
                                        url: 'deleteImgUrl',
                                        async: false,
                                        data: {itemId: id},
                                        type: 'post',
                                        dataType: 'json',
                                        success: function (result) {
                                            LoadingTask.hideLoading("html");
                                            $("#imgHover_" + id).remove();
                                        },
                                    });
                                }
                            });
                        });

                    },
                });
            }
        }
        $("#uploadBtn").removeAttr("disabled");
    }
</script>