<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script src="http://cdn.bootcss.com/select2/4.0.3/js/select2.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
<script src="/dist/js/xcConfirm.js"></script>
<script src="/dist/js/jquery.loadmask.js"></script>
<script src="/dist/js/jquery.metadata.js"></script>
<script src="/dist/js/messenger.js"></script>
<script src="/dist/js/common.js"></script>
<script src="/dist/js/jquery-form.js"></script>
<script src="/dist/js/jquery-ui-1.12.1.js"></script>
<script src="/dist/ztree/js/jquery.ztree.core.js"></script>
<script src="/dist/ztree/js/jquery.ztree.excheck.js"></script>
<script src="/dist/js/common-cookie.js"></script>
