
<script type="text/javascript">
    $(document).ready(function () {
        var currLangKeyInput;
        var currLangValueInput;

        $("body").delegate(".addLang", "click", function (e) {
            var currEle = e.currentTarget;
            var td = $(currEle).parent();

            currLangKeyInput = td.find("input[name='name']");
            currLangValueInput = td.find("input[langskeyname='name']");

            $("input[id='keyCode']").css("border", "");
            $("#keyCodeStatus").hide();
            $("#requiredKey_1").hide();
            $("input[name='1']").css("border", "");
            $("#requiredKey_2").hide();
            $("input[name='2']").css("border", "");
            langsCommonDialog();
        });

        $(".saveLangsDictionary").on("click", function () {
            saveLangsDictionary();
        });

        /**
         * 保存多语言
         */
        function saveLangsDictionary() {
            if ($("#addLangSave").attr("disabled") != "disabled") {
                keyCodeRealTime();

                var checkResult = checkRequiredParams();
                if (!checkResult) {
                    return false;
                }

                var request = {};

                request.keyCode = $("input[id='keyCode']").val();
                request.categoryId = parseInt($("select[name='categoryId']").val());

                var langsMessageList = [];
                var keyCodes = $("input[data-name='langs']");

                for (var i = 0, j = keyCodes.length; i < j; i++) {
                    var keyCodeInput = keyCodes[i];
                    var langsKey = parseInt(keyCodeInput.getAttribute("data-key"));
                    var message = keyCodeInput.value;
                    var langsCountryMessageVo = {langsKey: langsKey, message: message};
                    langsMessageList.push(langsCountryMessageVo);
                }

                request.langsMessageList = langsMessageList;

                $.ajax({
                    url: '/langsDictionary/saveLangsDictionary',
                    data: JSON.stringify(request),
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        if (result.code == 0) {
                            $('#addLangsModal').modal('hide');
                            for (var i = 0; i < langsMessageList.length; i++) {
                                if (localelangsKey == langsMessageList[i].langsKey) {
                                    currLangKeyInput.val(request.keyCode);
                                    currLangValueInput.val(langsMessageList[i].message + "(" + request.keyCode + ")");
                                }
                            }
                        } else {
                            alert(result.msg);
                        }
                    }
                });
            }
        }

    });
    /** ########################多语言common弹出框增加######################## */
     /**
     * 通用弹窗
     */
    var localeLangs = false;
    var localelangsKey;

    /**
     * 检验必填项
     */
    function checkRequiredParams() {
        var requiredUS = $("input[name='1']").val();
        var requiredZH = $("input[name='2']").val();
        var categoryId = $("select[name='categoryId']").val();

        if (requiredUS == null || requiredUS == "") {
            $("#requiredKey_1").show();
            $("input[name='1']").css("border", "1px solid red");
            return false;
        } else if (requiredZH == null || requiredZH == "") {
            $("#requiredKey_2").show();
            $("input[name='2']").css("border", "1px solid red");
            return false;
        } else if (categoryId == null || categoryId == "") {
            alert("请选择分类!");
            return false;
        } else {
            $("#requiredKey_1").hide();
            $("input[name='1']").css("border", "");
            $("#requiredKey_2").hide();
            $("input[name='2']").css("border", "");
            return true;
        }
        return true;
    }

    keyCodeRealTime();
    /**
     * 验证keyCode是否重复
     */
    function verifykeyCode() {
        var request = {};
        var keyCode = $("input[name='keyCode']").val();

        request.keyCode = keyCode;
        $.ajax({
            url: '/langsDictionary/verifykeyCode',
            data: JSON.stringify(request),
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                if (result.code == 0) {
                    if (!result.data) {
                        $("#keyCodeStatus").show();
                        $("#keyCode").css("border", "1px solid red");
                        $("#addLangSave").attr("style", "background-color: gray;");
                        $(".saveLangsDictionary").attr("disabled", true);
                    } else {
                        $("#keyCodeStatus").hide();
                        $("#addLangSave").attr("style", "");
                        $("#keyCode").css("border", "");
                        $(".saveLangsDictionary").attr("disabled", false);
                    }
                }
            }
        });
    }

    /**
     * 实时更新keyCode展示
     */
    function keyCodeRealTime() {
        // 拼接KeyCode
        var requiredUS = $("input[name='1']").val();
        // 如果是英文,则要增加改变事件,用来改变keyCode
        $("input[name='1']").attr("onchange", "keyCodeRealTime()");
        // 选择的分类
        var categoryId = $("select[name='categoryId']").val();
        if (categoryId != null && categoryId != "") {
            var categoryName = $("select[name='categoryId']").find("option[value='" + categoryId + "']").text();
            $("input[name='keyCode']").val(categoryName + "_" + requiredUS);
        }
        if (categoryId == null || categoryId == "") {
            $("input[name='keyCode']").val(requiredUS);
        }
        // keyCode初始化值
        if (requiredUS != null && requiredUS != "") {
            if (categoryId != null && categoryId != "") {
                var categoryName = $("select[name='categoryId']").find("option[value='" + categoryId + "']").text();
                $("input[name='keyCode']").val(categoryName + "_" + requiredUS);
            }
        }
        verifykeyCode();
    }

    function langsCommonDialog() {
        $("input[id='keyCode']").val("");
        $("input[data-name='langs']").val("");
        $("#categoryId").val("");
        $("#select2-categoryId-container").html("全部分类");

        $("span[dir='ltr']").attr("style", "min-width: 366px;");

        $('#addLangsModal').modal('show');
        $.ajax({
            url: '/langsDictionary/viewLocalLanguage',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                if (result.code == 0) {
                    console.log(result.data);
                    if (result.data != null && localeLangs == false) {
                        localeLangs = true;
                        // 如果不是必填项中文和英文
                        var langsCountry = result.data;
                        localelangsKey = langsCountry.langsCountryKey;
                        if (langsCountry.langsValue != "zh-CN" && langsCountry.langsValue != "en-US") {
                            var localeInputHtml = "<div class='control-group'>"
                                    + "<label class='control-label'>"
                                    + langsCountry.langsDesc + (langsCountry.langsValue)
                                    + "：</label>"
                                    + " <div class='controls'>"
                                    + " <input name='" + langsCountry.langsCountryKey + "' data-key='" + langsCountry.langsCountryKey + "' type='text' onkeyup='keyCodeRealTime()' data-name='langs' class='span7 countryLanguage'>"
                                    + " </div>"
                                    + "</div>";
                            $("#langsInput").append(localeInputHtml);

                        }
                    }
                }
            }
        });
    }
</script>