<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 菜单管理</title>

    #include("common/css-support.vm")
</head>
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <div id="breadcrumb">
                <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
                <a href="list" class="tip-bottom" data-original-title="">参数管理</a>
                <a href="javascipt:void(0)" class="tip-bottom" data-original-title="">编辑/查看</a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>编辑&查看</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form action="update" method="post" class="form-horizontal commonValidate" role="form"
                                  id="cityform">
                                <div class="control-group">
                                    <span class="col-sm-2 control-label">ID</span>
                                    <div class="controls">
                                        #if($!type==2)
                                            <input name="id" readonly type="text" class="form-control" placeholder="ID"
                                                   value="$!entity.id">
                                        #end
                                        #if($!type==3)
                                            <label>$!entity.id</label>
                                        #end
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">合同关键字</label>
                                    <div class="controls">
                                        <input name="key" type="text" class="span7" value="$!entity.key"  #if($!type==2)
                                               disabled #end>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">名称</label>
                                    <div class="controls">
                                        <input name="name" type="text" class="span7" value="$!entity.name.key">
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label">默认值</label>
                                    <div class="controls">
                                        <input name="defaultValue" type="text" class="span7"
                                               value="$!entity.defaultValue" #if($!type==2) disabled #end>
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label">类型</label>
                                    <div class="controls">
                                        <select name="dataType" style="width: 70px"  #if($!type==2) disabled #end>
                                            <option value="1"  #if($!param.type==1)selected #end>
                                                文本
                                            </option>
                                            <option value="2" #if($!param.type==2)selected #end>整数
                                            </option>
                                            <option value="3" #if($!param.type==3)selected #end>
                                                小数
                                            </option>
                                            <option value="4" #if($!param.type==4)selected #end>日期
                                            </option>
                                            <option value="5" #if($!param.type==5)selected #end>
                                                下拉数据
                                            </option>
                                        </select>

                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label">是否可编辑</label>
                                    <div class="controls">
                                        <select name="editable" class="span7"  #if($!type==2) disabled #end>
                                            <option value="true"  #if($!entity.editable==true)  selected #end>是</option>
                                            <option value="false"  #if($!entity.editable==false)  selected #end>否
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label">是否多值</label>
                                    <div class="controls">
                                        <select name="multiValuable" class="span7"  #if($!type==2) disabled #end>
                                            <option value="true"  #if($!entity.multiValuable==true)  selected #end>是
                                            </option>
                                            <option value="false"  #if($!entity.multiValuable==false)  selected #end>否
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label">是否可为空</label>
                                    <div class="controls">
                                        <select name="nullable" class="span7"  #if($!type==2) disabled #end>
                                            <option value="true"  #if($!entity.nullable==true)  selected #end>是
                                            </option>
                                            <option value="false"  #if($!entity.nullable==false)  selected #end>否
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label">校验提示</label>
                                    <div class="controls">
                                        <input name="hint" type="text" class="span7" value="$!entity.hint.key">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">栏位提示</label>
                                    <div class="controls">
                                        <input name="remark" type="text" class="span7" value="$!entity.remark.key">
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label">正则表达式</label>
                                    <div class="controls">
                                        <input name="regex" type="text" class="span7" value="$!entity.regex">
                                    </div>
                                </div>


                                <div class="form-actions">
                                    #if($!type==2 || $!type==1)
                                        <button type="submit" class="btn btn-success">保存</button>
                                    #elseif($!type==3)
                                        <a href="edit?type=2&id=$!entity.id" class="btn btn-info">编辑</a>
                                    #end
                                    <a class="btn btn-primary" href="list">返回</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #include("common/js-support.vm")

    <script type="text/javascript">
        $(document).ready(function () {
            var type = $!type;
            if (type == 3) {
                $(":text").attr("disabled", "disabled");
                $("select").attr("disabled", "disabled");
            }
        });
    </script>
</body>
</html>
