#parse("common/list_start.vm")

<div id="content-header">
    <div id="breadcrumb">
        <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
        <a href="/templateParameter/list" class="tip-bottom" data-original-title="">商圈管理</a>
    </div>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>列表</h5>
    <a class="btn btn-mini btn-info buttons" href="edit?type=1">新增</a>
</div>
<table class="table table-bordered data-table dataTable" id="DataTables_Table_0">
    <thead>
    <tr role="row">
        <th>ID
        </th>
        <th>name</th>
        <th>key</th>
        <th>defaultValue</th>
        <th>type</th>
        <th>sort</th>
        <th>source</th>
        <th>editable</th>
        <th>nullable</th>
        <th>regex</th>
        <th>hint</th>
        <th>remark</th>
        <th>multiValuable</th>
        <th>common</th>
        <th>custom</th>
        <th class="table-set" width="90px">操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($entity in $!page.content)
        <tr class="odd gradeX">
            <td>$!entity.id</td>
            <td>$!entity.name</td>
            <td>$!entity.key</td>
            <td>$!entity.defaultValue</td>
            <td>$!entity.type</td>
            <td>$!entity.sort</td>
            <td>$!entity.source</td>
            <td>$!entity.editable</td>
            <td>$!entity.nullable</td>
            <td>$!entity.regex</td>
            <td>$!entity.hint</td>
            <td>$!entity.remark</td>
            <td>$!entity.multiValuable</td>
            <td>$!entity.common</td>
            <td>$!entity.custom</td>
            <td>
                <a href="edit?type=3&id=$!entity.id" class="btn btn-success btn-mini">查看</a>
                <a href="edit?type=2&id=$!entity.id" class="btn btn-info btn-mini">编辑</a>
            </td>
        </tr>
        #end
    </tbody>
</table>
#parse("common/list_mid.vm")
<form>
    <button type="submit" class="btn btn-primary">查询</button>
</form>
#parse("common/list_end.vm")

