<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统</title>
    #include("common/css-support.vm")
</head>
<body>
<div id="content" class="admin-content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
            <a href="../coupon/list" class="tip-bottom" data-original-title="">优惠券管理</a>
            <a href="#" class="tip-bottom" data-original-title="">优惠券派发</a>
        </div>
    </div>

    <div class="tabbable" id="doc-my-tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">指定优惠券</a></li>
            <li><a href="#tab2" data-toggle="tab">通用优惠券</a></li>
        </ul>
        <div class="tab-content">
            <div style="margin-left:15%;">
                <h3>运行用户一次性太多会很慢，建议分批发送</h3>
            </div>
            <div class="tab-pane active" id="tab1">
                <form class="form-horizontal " action="batchSendCoupon" method="post">
                    <input type="hidden" name="type" value="1">
                    <label class="control-label">优惠方案</label>
                    <div class="controls">
                        <select name="couponTemplateIds" class="select2" multiple>
                            #foreach($e in $!merchantTemplate)
                                <option value="$!e.id">$!e.title</option>
                            #end
                        </select>
                    </div>
                    <label class="control-label">用户ID</label>
                    <div class="controls">
                        <textarea type="text" name="userIdText"/></textarea>
                    </div>
                    <label class="control-label">有效期</label>
                    <div class="controls">
                        <select name="validTime">
                            <option value="1">1 个月</option>
                            <option value="2">2 个月</option>
                            <option value="3">3 个月</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button type="button" class="btn btn-primary submit">发送优惠券</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="tab2">
                <form class="form-horizontal " action="batchSendCoupon" method="post">
                    <input type="hidden" name="type" value="2">
                    <label class="control-label">优惠方案</label>
                    <div class="controls">
                        <select name="couponTemplateIds" class="select2" multiple>
                            #foreach($e in $!currencyTemplate)
                                <option value="$!e.id">$!e.title</option>
                            #end
                        </select>
                    </div>
                    <label class="control-label">用户ID</label>
                    <div class="controls">
                        <textarea type="text" name="userIdText"/></textarea>
                    </div>
                    <label class="control-label">有效期</label>
                    <div class="controls">
                        <select name="validTime">
                            <option value="1">1 个月</option>
                            <option value="2">2 个月</option>
                            <option value="3">3 个月</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button type="button" class="btn btn-primary submit">发送优惠券</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    #include("common/js-support.vm")
<script>
    $(function () {
        $(".submit").on("click", function () {
            var form = $($(this).parent()).parent();
            var action = $(form).attr("action");
            $.ajax({
                url: action, type: 'post',
                data: $(form).serialize(),
                success: function (result) {
                    if (result.code == 0) {
                        window.location.reload();
                    } else {
                        alert(result.msg);
                    }
                }
            });
        });
    });
</script>
</body>
</html>
