#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom"><i class="icon-home"></i>主页</a>
    <a href="javascript:void(0);" class="tip-bottom">工具栏管理</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>位置</th>
        <th>跳转</th>
        <th>图片</th>
        <th>显示</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($e in $!page.content)
        <tr>
            <td>$!e.id</td>
            <td>$!e.title</td>
            <td>$!e.position</td>
            <td>$!e.linkUrl</td>
            <td>$!e.imgUrl</td>
            <td>#if($!e.display)显示#else 隐藏#end</td>
            <td>
                <button data-id="$!e.id" class="btn btn-info btn-mini update-item" modal-id="update-modal">编辑</button>
                <button data-id="$!e.id" class="btn btn-danger btn-mini remove-item">删除</button>
            </td>
        </tr>
        #end
    </tbody>
</table>
<div class="form-actions ">
    <button class="btn btn-success update-item" modal-id="update-modal">新建</button>
</div>
#parse("common/list_mid.vm")
<div id="update-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>工具栏</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal " action="update">
            <input name="id" type="text" style="display: none;">
            <div class="control-group">
                <label class="control-label">名称</label>
                <div class="controls">
                    <input type="text" class="span11" placeholder="" name="title">
                </div>
                <label class="control-label">位置</label>
                <div class="controls">
                    <select name="position" class="span11">
                        <option value="index">首页-index</option>
                        <option value="user">用户-user</option>
                        <option value="tool">工具-tool</option>
                    </select>
                </div>
                <label class="control-label">是否显示</label>
                <div class="controls">
                    <input name="display" class="radio" type="radio" value="true" checked>显示
                    <input name="display" class="radio" type="radio" value="false">隐藏
                </div>
                <label class="control-label">图片</label>
                <div class="controls">
                    <input type="text" class="span11" placeholder="" id="imgUrl" name="imgUrl">
                    <button class="btn btn-success previewBtn" type="button" data-id="imgUrl">预览</button>
                    <button class="btn btn-success uploadImgBtn" type="button" data-id="imgUrl" imageSpec="Quick">上传</button>
                    <p>尺寸: 60 * 60, 限制: 3k</p>
                </div>
                <label class="control-label">跳转</label>
                <div class="controls">
                    <input type="text" class="span11" placeholder="" name="linkUrl">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary submit-item" type="button" modal-id="update-modal">保存</button>
    </div>
</div>
#include("common/js-support.vm")
#include("common/image-support.vm")
<script src="/dist/js/curd.js"></script>
#parse("common/list_end.vm")
