<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统</title>
    #include("common/css-support.vm")
    <link rel="stylesheet" href="/dist/markdown/css/editormd.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
    <style>
        .input-waring-tip {
            line-height: 0px;
            float: right;
            margin-right: 23%;
            cursor: pointer;
            display: none;
            font-weight: bold;
        }
    </style>

    <script>
            #if($!update)
            alert('保存成功');
            #else
            //            alert ('保存失败');
            #end
    </script>
</head>
<body>
<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div class="widget-box">
                    <div id="breadcrumb">
                        <a href="/index" class="tip-bottom" data-original-title="Go to Home">
                            <i class="icon-home"></i>
                            主页
                        </a>
                        <a href="list" class="tip-bottom" data-original-title="">团购商品管理</a>
                        <a href="javascipt:void(0);" class="tip-bottom" data-original-title="">编辑/查看</a>
                    </div>
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i></span>
                        <h5>商品编辑</h5>
                        <h5 style="float: right;">
                            <a class="goback" href="list">返回</a>
                        </h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal commonValidate" action="update" method="post" id="itemFrom">
                            <input type="hidden" class="item-tuan-id" name="id" value="$!entity.id">
                            <input type="hidden" name="itemType" value="2">
                            <input type="hidden" name="type" value="2">
                            <input type="hidden" name="itemTuans">
                            <div class="control-group">
                                <label class="control-label">商户</label>
                                <div class="controls">
                                    <select name="merchant.id" class="span9 select2" target-name="cat.id"
                                            target-url="/itemCat/api/list?display=true">
                                        #foreach($e in $!merchants)
                                            <option value="$!e.id" #if($!e.id == $!entity.merchant.id)
                                                    selected #end>$!e.id:$!e.name</option>
                                        #end
                                    </select>
                                </div>
                                <label class="control-label">分类</label>
                                <div class="controls">
                                    <select name="cat.id" class="span8" def-value="$!entity.cat.id"></select>&nbsp;
                                    <button class="btn btn-success setDetail" type="button">单品设置</button>
                                </div>
                                <label class="control-label">中文名称</label>
                                <div class="controls">
                                    <input name="name" type="text" class="span9 ch-name" value="$!entity.name"
                                           maxlength="50" placeholder="不得超过50个字">
                                </div>
                                <font color="red" class="ch-name-tip input-waring-tip">*不得超过50个字</font>
                                <label class="control-label">本地名称</label>
                                <div class="controls">
                                    <input name="kpname" type="text" class="span9 kp-name" value="$!entity.kpname"
                                           maxlength="50" placeholder="不得超过50个字">
                                </div>
                                <font color="red" class="kp-name-tip input-waring-tip">*不得超过50个字</font>
                                <label class="control-label">团购类型</label>
                                <div class="controls">
                                    #foreach($e in $!tuanTypes)
                                        <input name="tuanType" type="checkbox" class="checkbox" value="$!e"
                                            #foreach($t in $!entity.tuanType)
                                               #if($!t == $!e)checked#end
                                            #end
                                        /> $!e.name
                                    #end
                                </div>
                                <label class="control-label">模板选择</label>
                                <div class="controls">
                                    <select name="templateId" class="span9">
                                        <option value="">无</option>
                                        #foreach($e in $!templates)
                                            <option value="$!e.id" #if($!e.id == $!entity.templateId)
                                                    selected #end>$!e.name</option>
                                        #end
                                    </select>
                                </div>
                                <label class="control-label">原价(本地)</label>
                                <div class="controls">
                                    <input name="okpPrice" type="number" class="span9" value="$!entity.okpPrice"
                                           #if($hasItems)readonly#else required#end>
                                </div>
                                <label class="control-label">现价(本地)</label>
                                <div class="controls">
                                    <input name="kpPrice" type="number" class="span9" value="$!entity.kpPrice"
                                           #if(!$hasItems)required#end placeholder="单品现价之和">
                                </div>
                                <label class="control-label">暖游价</label>
                                <div class="controls">
                                    <input name="mchPrice" type="number" class="span9" value="$!entity.mchPrice"
                                           #if(!$hasItems)required#end placeholder="单品暖游价之和">
                                </div>
                                <label class="control-label">是否推荐</label>
                                <div class="controls">
                                    <input name="isHot" type="radio" value="true" #if($entity.isHot)checked#end/>
                                    是
                                    <input name="isHot" type="radio" value="false" #if(!$entity.isHot)checked#end/>
                                    否
                                </div>
                                <label class="control-label">是否上架</label>
                                <div class="controls">
                                    <input name="display" type="radio" value="true"#if($entity.display)checked#end/>
                                    是
                                    <input name="display" type="radio" value="false"#if(!$entity.display)checked#end/>
                                    否
                                </div>
                            #*             <label class="control-label">团购日期</label>
                                         <div class="controls">
                                             <input name="startTime" type="text" class="span5 dateTimeFormat" placeholder="开始时间" required value="$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!entity.startTime)">
                                             <input name="endTime" type="text" class="span5 dateTimeFormat" placeholder="结束时间" required value="$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!entity.endTime)">
                                         </div>*#
                                <label class="control-label">顺序</label>
                                <div class="controls">
                                    <input name="sort" type="number" class="span9" value="$!entity.sort">
                                </div>
                                <label class="control-label">概述</label>
                                <div class="controls">
                                    <textarea class="span9" name="intro" rows="5" style="resize: vertical;"
                                              maxlength="200">$!entity.intro</textarea>
                                </div>
                                <label class="control-label">当地描述</label>
                                <div class="controls">
                                    <textarea class="span9" name="localIntro" rows="5" style="resize: vertical;"
                                              maxlength="200">$!entity.localIntro</textarea>
                                </div>
                                <label class="control-label">展示图</label>
                                <div class="controls">
                                    <input type="text" class="span8" name="imgUrl" id="imgUrl" value="$!entity.imgUrl">
                                    <button type="button" class="btn btn-success previewBtn" data-id="imgUrl">预览
                                    </button>
                                    <button type="button" class="btn btn-success uploadImgBtn" data-id="imgUrl"
                                            imageSpec="TuanShow">上传
                                    </button>
                                    <p>尺寸: 640 * 480, 限制: 100k</p>
                                </div>
                                <label class="control-label">列表图</label>
                                <div class="controls">
                                    <input type="text" class="span8" name="indexImgUrl" id="indexImgUrl"
                                           value="$!entity.indexImgUrl">
                                    <button type="button" class="btn btn-success previewBtn" data-id="indexImgUrl">预览
                                    </button>
                                    <button type="button" class="btn btn-success uploadImgBtn" data-id="indexImgUrl"
                                            imageSpec="TuanList">上传
                                    </button>
                                    <p>尺寸: 320 * 240, 限制: 50k</p>
                                </div>
                                <label class="control-label">注意事项</label>
                                <div class="controls">
                                    <textarea name="notice" id="notice" class="span9">$!entity.notice</textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-success" type="submit" id="btn-save"
                                        onclick="return checkNameLength()">
                                    <i class="icon-edit"> 保存</i>
                                </button>
                                <a class="btn btn-warning" type="button" id="btn-edit">
                                    <i class="icon-edit"> 编辑</i>
                                </a>
                                <a class="btn btn-primary" href="list">
                                    <i class="icon-repeat"> 返回</i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-item-list" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>明细编辑</h3>
        </div>
        <div class="modal-body">
            <div style="width:30%; float:left;">
                <ul class="nav nav-pills nav-stacked" id="catList">
                </ul>
            </div>
            <div style="width:70%; float:left;">
                <ul class="nav nav-list" id="itemList">
                </ul>
            </div>
            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>中文名称</th>
                        <th>本地名称</th>
                        <th>数量</th>
                        <th>原价</th>
                        <th>现价</th>
                        <th width="30px">操作</th>
                    </tr>
                    </thead>
                    <tbody id="selecteditemList">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary fl" id="btn-add-custom">自定义商品</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button class="btn btn-primary" id="detail-save">保存</button>
        </div>
    </div>

    <div id="modal-add-custom" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>自定义商品</h3>
        </div>
        <div class="modal-body">
            <div>
                <form id="customItem" action="saveItem" method="post">
                    <input name="itemType" type="hidden" type="4">
                    <div class="control-group">
                        <label class="control-label">中文名称</label>
                        <div class="controls">
                            <input name="custom-name" type="text" class="span5">
                        </div>
                        <label class="control-label">原价(本地)</label>
                        <div class="controls">
                            <input name="custom-price" type="text" class="span5">
                        </div>
                        <label class="control-label">数量</label>
                        <div class="controls">
                            <input name="custom-num" type="number" class="span5">
                        </div>

                        <label class="control-label">列表图</label>
                        <div class="controls">
                            <input type="text" class="span4" name="custom-imgUrl" id="itemImg">
                            <button type="button" class="btn btn-success previewBtn" data-id="itemImg">预览</button>
                            <button type="button" class="btn btn-success uploadImgBtn" data-id="itemImg"
                                    imageSpec="ItemList">上传
                            </button>
                            <p>尺寸: 320 * 240, 限制: 50k</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-close-custom">取消</button>
            <button class="btn btn-primary btn-save-custom">保存</button>

        </div>
    </div>

    #parse("common/js-support.vm")
    <script type="text/javascript">
        $(".ch-name").on("blur", function () {
            var length = $(this).val().length;
            if (length > 50) {
                $(".ch-name-tip").show();
                $(".ch-name").css("border-color", "red");
                return false;
            }
            $(".ch-name-tip").hide();
            $(".ch-name").css("border-color", "");
        });

        $(".kp-name").on("blur", function () {
            var length = $(this).val().length;
            if (length > 50) {
                $(".kp-name-tip").show();
                return false;
            }
            $(".kp-name-tip").hide();
        });

        // 校验字数
        function checkNameLength() {
            var chNameLength = $(".ch-name").val().length, kpNameLength = $(".kp-name").val().length;
            if (chNameLength > 50) {
                $(".ch-name-tip").show();
                return false;
            }
            if (kpNameLength > 50) {
                $(".kp-name-tip").show();
                return false;
            }
            var itemId = $(".item-tuan-id").val();
            var checkUnRedeem = true;
            if (itemId != null && itemId != undefined) {
                // 查看是否有未核销的订单
                $.ajax({
                    type: 'POST',
                    async: false,
                    url: 'checkUnRedeem',
                    dataType: "json",
                    data: {itemId: itemId},
                    success: function (result) {
                        if (result.data) {
                            if (confirm("该商户存在未核销的订单，确定要修改吗？")) {
                                checkUnRedeem = true;
                            } else {
                                checkUnRedeem = false;
                            }
                        }
                    },
                });
            }

            return checkUnRedeem;
        }

            #if($!disabled)
            $("#btn-save").hide();
            $(":input").attr("disabled", true);
            $("#btn-edit").on("click", function () {
                $(":input").attr("disabled", false);
                $("#btn-save").show();
                $("#btn-edit").hide();
            });
            #else
            $("#btn-edit").hide();
            #end

        // 取得商户可选择的单品分类列表以及单品商品列表，弹出套餐产品设置页面
        var box = null;
        $("select[name='merchant.id']").on("change", function () {
            box = null;
        });

        $(".setDetail").on("click", function () {
            if (box == null) {
                var mchId = $("select[name='merchant.id']").val();
                if (!mchId) {
                    alert("请选择商户!");
                    return false;
                }
                var itemcat = $("select[name='cat.id']").val();
                if (!itemcat) {
                    alert("请选择套餐分类!");
                    return false;
                }
                box = new ItemDetailBox();

                var itemId = $("input[name='id']").val();
                if (itemId) {
                    $.ajax({
                        url: '/itemTuan/api/list', async: true, data: {itemId: itemId},
                        success: function (result) {
                            box.initSelecteditemList(result.data);
                        }
                    });
                } else {
                    box.initSelecteditemList([]);
                }
                $.ajax({
                    url: '/itemCat/api/list', async: true, data: {id: mchId, display: true},
                    success: function (result) {
                        box.initCatList(result.data);
                    }
                });
                $.ajax({
                    url: '/item/api/list', async: true, data: {'merchant.id': mchId, type: 1, display: true},
                    success: function (result) {
                        box.initItemList(result.data);
                    }
                });
            }
            box.reset();
            $("#modal-item-list").modal("show");
        });


        function ItemDetailBox() {
            var catList = $("#catList");
            var itemList = $("#itemList");
            var selecteditemList = $("#selecteditemList");

            var itemTuans;

            this.reset = function () {
                var val = $("input[name='itemTuans']").val();
                if (val)
                    itemTuans = $.parseJSON(val);
                else
                    itemTuans = [];
                renderSelecteditemList();
            };


            this.initCatList = function (cats) {
                catList.empty();
                for (var i in cats) {
                    var cat = cats[i];
                    catList.append("<li cat-id='" + cat.id + "'><a class='btn' href='javascript:void(0);'>" + cat.name + "</a></li>");
                }
                catList.find("li").on("click", catList.refreshItem);
            };
            this.initItemList = function (items) {
                itemList.empty();
                for (var i in items) {
                    var item = items[i];
                    itemList.append('<li style="display: none;" cat-id="' + item.cat.id + '" item-id="' + item.id + '" item-name="' + item.name + '" item-kpname="' + item.kpname + '" item-okpprice="' + item.okpPrice + '" item-kpprice="' + item.kpPrice + '"><a href="javascript:void(0);">' + item.name + '<i class="icon-plus"></i></a></li>');
                }
                itemList.find("li").on("click", itemList.addItem);
                catList.find("li").get(0).click();
            };
            this.initSelecteditemList = function (itemTuansCall) {
                itemTuans = itemTuansCall;
                var temp = $("input[name='itemTuans']").val(JSON.stringify(itemTuansCall));

                renderSelecteditemList();
                $("#detail-save").on("click", function () {
                    $("input[name='itemTuans']").val(JSON.stringify(itemTuans));
                    //有单品情况下
                    if (itemTuans.length > 0) {
                        var hasCustom = false;
                        var kpTotal = 0;
                        var okpTotal = 0;
                        for (var k in itemTuans) {
                            var itemTuan = itemTuans[k];
                            var subItem = itemTuan.subItem;

                            var kpPrice = parseFloat(subItem.kpPrice);
                            var okpPrice = parseFloat(subItem.okpPrice);

                            var num = parseInt(itemTuan.num);
                            kpTotal += kpPrice * num;
                            okpTotal += okpPrice * num;

                            if (subItem.type == 4)
                                hasCustom = true;
                        }
                        $("input[name=okpPrice]").attr("readonly", true).val(okpTotal.toFixed(2));

                        //有自定义商品情况
                        if (hasCustom) {
                            $("input[name=kpPrice]").attr("required", false).val(okpTotal.toFixed(2)).attr("placeholder", "单品现价之和");
                            $("input[name=mchPrice]").attr("required", false).val(okpTotal.toFixed(2)).attr("placeholder", "单品暖游价之和");
                        } else {
                            $("input[name=kpPrice]").attr("required", false).val(null).attr("placeholder", "单品现价之和");
                            $("input[name=mchPrice]").attr("required", false).val(null).attr("placeholder", "单品暖游价之和");
                        }
                    } else {
                        $("input[name=okpPrice]").attr("required", true).attr("readonly", false);
                        $("input[name=kpPrice]").attr("required", true).attr("placeholder", "");
                        $("input[name=mchPrice]").attr("required", true).attr("placeholder", "");

                    }

                    $("#modal-item-list").modal('hide');
                });
            };

            catList.refreshItem = function () {
                var catId = $(this).attr("cat-id");
                itemList.find("li").hide();
                itemList.find("li[cat-id='" + catId + "']").show();
            };

            itemList.addItem = function () {
                var li = $(this);
                var currItemId = parseInt(li.attr("item-id"));
                // 判断已经选择的产品明细里有没有当前选择的这条记录, 如果没有，新创建一条明细记录
                var found = false;
                for (var k in itemTuans) {
                    var itemTuan = itemTuans[k];
                    if (itemTuan.subItem.id == currItemId) {
                        itemTuan.num++;
                        found = true;
                    }
                }

                if (!found) {
                    var itemTuan = {};
                    var item = {};
                    itemTuan.num = 1;
                    itemTuan.subItem = item;
                    item.id = currItemId;
                    item.name = li.attr("item-name");
                    item.kpname = li.attr("item-kpname");
                    item.okpPrice = li.attr("item-okpprice");
                    item.kpPrice = li.attr("item-kpprice");
                    itemTuans.push(itemTuan);
                }
                renderSelecteditemList();
            };

            selecteditemList.minus = function () {
                var li = $(this);
                var subItemId = li.attr("item-id");

                // 减少选择的单品，如果已经是最后一个，删除整条单品记录
                for (var k in itemTuans) {
                    var itemTuan = itemTuans[k];
                    if (itemTuan.subItem.id.toString() == subItemId) {
                        if (itemTuan.num == 1) {
                            itemTuans.splice(k, 1);
                        } else {
                            itemTuan.num--;
                        }
                    }
                }
                renderSelecteditemList();
            };

            // 显示已经选择的单品明细
            renderSelecteditemList = function () {
                $("#selecteditemList").empty();

                for (var i in itemTuans) {
                    var tuan = itemTuans[i];
                    var item = tuan.subItem;

                    var tr = '<tr style="text-align:left;">';
                    tr += '<td>' + item.name + '</td>';
                    tr += '<td>' + item.kpname + '</td>';
                    tr += '<td>' + tuan.num + '</td>';
                    tr += '<td>' + item.okpPrice + '</td>';
                    tr += '<td>' + item.kpPrice + '</td>';
                    tr += '<td><span style="float:right;"><a href="javascript:void(0);" class="icon-minus-sign" item-id="' + item.id + '"></a></span></td>';
                    tr += '</tr>'

                    $("#selecteditemList").append(tr);
                }
                $("#selecteditemList").find("a").on("click", selecteditemList.minus);
            };

            $("#btn-add-custom").on("click", function () {
                $("#modal-item-list").modal("hide");
                $("#modal-add-custom").modal("show");
            });
            $(".btn-close-custom").on("click", function () {
                $("#modal-add-custom").modal("hide");
                $("#modal-item-list").modal("show");
            });
            $(".btn-save-custom").on("click", function () {
                var form = $($("#customItem"));
                var itemTuan = {};
                var item = {};
                itemTuan.num = form.find("input[name='custom-num']").val();
                itemTuan.subItem = item;
                item.id = 0 - Math.round(Math.random() * 100000);
                item.name = form.find("input[name='custom-name']").val();
                item.kpname = "";
                item.type = 4;
                item.okpPrice = parseInt(form.find("input[name='custom-price']").val());
                item.kpPrice = item.okpPrice;
                item.indexImgUrl = form.find("input[name='custom-imgUrl']").val();
                if (!itemTuan.num) {
                    alert("数量不能为空");
                    return;
                }
                if (!item.name) {
                    alert("名称不能为空");
                    return;
                }
                if (!item.okpPrice) {
                    alert("原价不能为空");
                    return;
                }
                if (!item.indexImgUrl) {
                    alert("列表图不能为空");
                    return;
                }

                itemTuans.push(itemTuan);
                renderSelecteditemList();
                $("#customItem")[0].reset();

                $("#modal-add-custom").modal("hide");
                $("#modal-item-list").modal("show");
            });
        }
    </script>
    #include("common/image-support.vm")
    <script src="/dist/js/cascade-select.js"></script>
    <script charset="utf-8" src="/dist/kindeditor/kindeditor.js"></script>
    <script type="text/javascript">
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('#notice', {
                items: [
                    'forecolor', 'bold'
                ]
            });
        });
    </script>
</body>
</html>
