#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>主页</a>
    <a href="javascipt:void(0);" class="tip-bottom" data-original-title="">特品推荐商品管理</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>商品列表</h5>
    <a class="btn btn-mini btn-info buttons" href="add">
        <i class="icon-plus"> 新增</i>
    </a>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>所属商户</th>
        <th>分类名称</th>
        <th>商品名称</th>
        <th>是否推荐</th>
        <th>是否上架</th>
        <th width="120px">操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($item in $!page.content)
        <tr class="odd gradeX">
            <td>$!item.id</td>
            <td>$!item.merchant.name</td>
            <td>$!item.cat.name</td>
            <td>$!item.name</td>
            <td>#if($!item.isHot)推荐#else 普通#end</td>
            <td>#if($!item.display)上架#else 下架#end</td>
            <td width="15%" style="text-align: center;">
                <a class="btn btn-success btn-mini" data-id="$!item.id" href="detail?id=$!item.id">
                    <i class="icon-eye-open"> 查看</i>
                </a>
                <a class="btn btn-info btn-mini" data-id="$!item.id" href="edit?id=$!item.id">
                    <i class="icon-edit"> 编辑</i>
                </a>
                <a class="btn btn-primary btn-mini" data-id="$!item.id" href="copy?id=$!item.id">
                    <i class="icon-random"> 复制</i>
                </a>
            </td>
        </tr>
        #end
    </tbody>
</table>
#parse("common/list_mid.vm")
<form class="search-form" method="get">
    <div class="control-group">
        <label>商户</label>
        <select class="span11 select2" name="merchant.id">
            <option value="">全部</option>
            #foreach($merchant in $!merchants)
                <option value="$!merchant.id"
                    #if($!entity.merchant.id == $!merchant.id)
                        selected
                    #end
                >$!merchant.id:$!merchant.name</option>
            #end
        </select>

        <label>商户名称</label>
        <input type="text" class="span11" name="merchant.name" value="$!entity.merchant.name"/>

        <label>商品分类名称</label>
        <input type="text" class="span11" name="cat.name" value="$!entity.cat.name"/>

        <label>商品名称</label>
        <input type="text" class="span11" name="name" value="$!entity.name"/>

        <button type="submit" class="btn btn-primary">
            <i class="icon-search"> 查询</i>
        </button>
        <button class="btn btn-warning search-reset" style="margin-left: 3px;">
            <i class="icon-refresh"> 重置</i>
        </button>

    </div>
</form>
#parse("common/list_end.vm")
#include("common/js-support.vm")
<script type="text/javascript">
    // 搜索框重置
    $(".search-reset").click(function () {
        $(".search-form").find('input:text, input:password, input:file, select, textarea').val('');
        $(".search-form").find(".select2").val('').trigger('change');
    });
</script>