<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 菜单管理</title>
    #include("common/css-support.vm")
</head>
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
            <a href="list" class="tip-bottom" data-original-title="">订单管理</a>
            <a href="javascipt:void(0)" class="tip-bottom" data-original-title="">编辑/查看</a>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>订单查看</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">订单编号</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!order.ordersn">
                                    </div>
                                    <label class="control-label">流水号</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!order.transactionid">
                                    </div>
                                    #if($order.verifyCode)
                                        <label class="control-label">核销码</label>
                                        <div class="controls">
                                            <input type="text" disabled class="span11" value="$!order.verifyCode">
                                        </div>
                                    #end
                                    <label class="control-label">订单类型</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!order.ordertype.name">
                                    </div>
                                    <label class="control-label">订单状态</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!order.orderstatus.name">
                                    </div>
                                    <label class="control-label">商户</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!order.merchant.name">
                                    </div>
                                    <label class="control-label">下单时间</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!order.createtime)">
                                    </div>
                                    <label class="control-label">支付时间</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!order.paytime)">
                                    </div>
                                    <label class="control-label">使用时间</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!order.usetime)">
                                    </div>
                                    <label class="control-label">短信通知状态</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!sms.code">
                                    </div>
                                    <label class="control-label">短信通知次数</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!sms.times">
                                    </div>
                                    <label class="control-label">购买次数</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!buyNum">
                                    </div>
                                    <label class="control-label">优付优惠（本地）</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!numberFormatter.format("#0.00",$!order.youfulocalereduce)">
                                    </div>
                                    <label class="control-label">优付优惠（人民币）</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!numberFormatter.format("#0.00",$!order.youfurmbreduce)">
                                    </div>
                                    <label class="control-label">商户优惠（本地）</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!numberFormatter.format("#0.00",$!order.mchlocalereduce)">
                                    </div>
                                    <label class="control-label">商户优惠（人民币）</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!numberFormatter.format("#0.00",$!order.mchrmbreduce)">
                                    </div>
                                    <label class="control-label">收货地址</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!logistics.fullAddress">
                                    </div>
                                    <label class="control-label">买家留言</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!order.message">
                                    </div>
                                    <label class="control-label">购买人</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!user.nickname">
                                    </div>
                                    <label class="control-label">手机</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!userTel.tel">
                                    </div>
                                    <label class="control-label">邮费（RMB）</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!numberFormatter.format("#0.00",$!directMail.postageRmb)">
                                    </div>
                                    <label class="control-label">邮费</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!numberFormatter.format("#0.00",$!directMail.postage)">
                                    </div>
                                    <label class="control-label">邮编</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!sms.code">
                                    </div>
                                    <label class="control-label">原价(本地)</label>
                                    <div class="controls">
                                        <input type="text" disabled class="span11" value="$!numberFormatter.format("#0.00",$!order.okpprice)">
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-primary" href="list" onclick="window.history.go(-1);">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
