#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
    <a href="../order/list" class="tip-bottom" data-original-title="">订单管理</a>
</div>
<div style="overflow: auto;width: 100%">
    <table class="table table-bordered data-table dataTable" id="DataTables_Table_0" style="width: 2500px">
        <thead>
        <tr role="row">
        <tr>
            <th class="table-set">操作</th>
            <th>ID</th>
            <th>订单ID</th>
            <th>订单状态</th>
            <th>退款状态</th>


            <th>渠道</th>
            <th>订单类型</th>
            <th>支付类型</th>
            <th>来源平台</th>
            <th>来源系统</th>


            <th>使用码</th>
            <th>商户中文名称</th>
            <th>商户本地名称</th>
            <th>userid</th>
            <th>购买人</th>
            <th>优惠券/面值/本地面值</th>
            <th>总价(本地)</th>
            <th>原价(本地)</th>
            <th>总价(人民币)</th>
            <th>原价(人民币)</th>
            <th>商户优付补贴</th>
            <th>下单时间</th>
            <th>使用时间</th>
            <th>订单手机号码</th>
        </tr>
        </tr>
        </thead>
        <tbody>
            #foreach($order in $!page.content)
            <tr>
                <td>
                    <a href="edit?type=3&id=$!order.id" data-id="$!order.id" class="btn btn-success btn-mini">详情</a>
                    <a href="itemList?id=$!order.id" class="btn btn-success btn-mini">商品</a>
                     #if($!order.refundQualified)
                        <a href="javascript:void(0);" data-id="$!order.id" class="btn btn-success btn-mini tuikuan">退款</a>
                     #end
                </td>
                <td>$!order.id</td>
                <td>$!order.ordersn</td>
                <td>$!order.orderstatus.name</td>
                <td>$!order.refundstatus.name</td>


                <td>$!order.sceneid</td>
                <td>$!order.ordertype.name</td>
                <td>$!order.paytype.name</td>



                <td>
                    $!order.platform.name
                </td>
                <td>
                    $!order.os.name
                </td>




                <td>$!order.ordercode</td>
                <td>
                    <a href="$!link.requestPath/merchant/detail?id=$!order.merchant.id" class="alink"> $!order.merchant.name</a>
                </td>
                <td>$!order.merchant.kpname</td>
                <td>$!order.user.userid</td>
                <td>$!order.user.nickname</td>
                <td>
                    #if($!order.coupon)$!order.coupon.title/$!order.coupon.price/$!order.coupon.localPrice#end
                </td>
                <td>$numberFormatter.format("#0.00",$!order.kpprice)</td>
                <td>$numberFormatter.format("#0.00",$!order.okpprice)</td>
                <td>
                    #if($!order.payable)
                        $!order.payable
                    #else
                        $!order.price
                    #end
                </td>
                <td>$!order.oprice</td>
                <td>$!order.merchantsubsidy</td>
                <td>$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!order.createtime)</td>
                <td>$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!order.usetime)</td>
                <td>$!order.user.userTel.tel</td>

            </tr>
            #end
        </tbody>

    </table>
</div>
#parse("common/list_mid.vm")
<form class="form-horizontal orderForm" method="get">
    <div class="control-group">

        <label>订单ID：</label>
        <input type="text" class="span11" name="id" value="$!entity.id" placeholder="订单ID">

        <label>订单编号：</label>
        <input type="text" class="span11" name="ordersn" value="$!entity.ordersn" placeholder="订单编号">


        <label>渠道：</label>
        <input type="text" class="span11" name="sceneid" value="$!entity.sceneid" placeholder="渠道">



        <label for="status">商户搜索：</label>
        <select id="merchant.id" name="merchant.id" class="span11 select2">
            <option value="">全部</option>
            #foreach($merchant in $!merchants)
                <option value="$!merchant.id"
                    #if($!entity.merchant.id == $!merchant.id)
                        selected
                    #end
                >
                    $!merchant.id:$!merchant.name
                </option>
            #end
        </select>

        <label>商户本地名称：</label>
        <input type="text" class="span11" name="merchant.kpname" value="$!entity.merchant.kpname" placeholder="商户本地名称">

        <label>开始时间：</label>
        <input type="text" class="span11 dateTimeFormat" name="begin" id="beginTime" value="$!time.beginStr" placeholder="开始时间">

        <label>结束时间：</label>
        <input type="text" class="span11 dateTimeFormat" name="end"  value="$!time.endStr" id="endTime" placeholder="结束时间">


        <label for="status">国家：</label>
        <select id="merchant.district.country.id" name="merchant.district.country.id" class="span11">
            <option value="">全部</option>
            #foreach($c in $!countries)
                <option value="$!c.id"
                    #if($!entity.merchant.district.country.id == $!c.id)
                        selected
                    #end
                >
                    $!c.name
                </option>
            #end
        </select>

        <label for="status">订单类型：</label>
        <select id="ordertype" name="ordertype" class="span11">
            <option value="">全部</option>
            #foreach($o in $!orderTypes)
                <option value="$o" #if($!entity.ordertype== $o) selected #end>$o.name</option>
            #end
        </select>

        <label for="orderstatus">订单状态：</label>
        <select id="orderstatus" name="orderstatus" class="span11">
            <option value="">全部</option>
            #foreach($o in $!refundStatuses)
                <option value="$o" #if($!entity.orderstatus== $o) selected #end>$o.name</option>
            #end
        </select>
        <label for="status">支付类型：</label>
        <select id="paytype" name="paytype" class="span11">
            <option value="">全部</option>
            #foreach($o in $!orderPayTypes)
                <option value="$o" #if($!entity.paytype== $o) selected #end>$o.name</option>
            #end
        </select>
        <button type="submit" class="btn btn-success">查询</button>
        <a class="btn btn-warning export" href="javascript:void(0);">导出</a>
    </div>
</form>
#parse("common/list_end.vm")


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">退款详情</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">退款备注</label>
            <div class="controls">
                <input name="refundremark" id="refundremark" type="text">
            </div>
        </div>
        <input type="hidden" id="refundid" name="refundid">

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" id="saveRefund">Save</button>
    </div>
</div>







<script>
    $(function () {
        $(".export").on("click", function () {
            var begin=$("#beginTime").val();
            var end=$("#endTime").val();
            if(!validateTime(begin,end)){
                return alert("开始时间和结束时间不能为空,且只能在七天以内!");
            }
            $(this).attr("disabled",true);
            alert("正在导出Excel,20秒后可以重新导出!");
            setTimeout(disableButton, 20000);
            var form = $(".orderForm");
            form.attr("action", "export");
            form.attr("target", "_blank");
            form.submit();
            form.attr("action", "");
            form.attr("target", "");
        })

        function disableButton(){
            $(".export").attr("disabled",false);
        }

        function validateTime(begin,end){
            if(begin==""||end==""){
                return false;
            }
            var begin=new Date(begin.replace("-", "/").replace("-", "/"));
            var end=new Date(end.replace("-", "/").replace("-", "/"));
            var result = end-begin;
            if(result>7*24*60*60*1000){
                return false;
            }
            return true;
        }



        $(".tuikuan").each(function (i, o) {
            $(o).on("click", function (event) {
                var id = $(this).attr("data-id");
                $("#refundid").val(id);
                $('#myModal').modal('show');
            })
        });







        $("#saveRefund").on("click", function () {
            var refundremark = $("#refundremark").val();
            var id = $("#refundid").val();
            $.ajax({
                url: 'refund',
                data: {refundremark: refundremark, id: id},
                type: 'post',
                success: function (result) {
                    if (result.code == 0) {
                        alert("退款申请成功");
                        window.location.reload();
                    } else {
                        alert("Fail Code: " + result.code + " MSG: " + result.msg);
                    }
                }
            });
            $('#myModal').modal('hide');
        });

    });
</script>

