#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
    <a href="../order/refundList" class="tip-bottom" data-original-title="">退款管理</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>退款列表</h5>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>订单编号</th>
        <th>下单时间</th>
        <th>订单状态</th>
        <th>退款状态</th>
        <th>退款理由</th>
        <th>提出退款时间</th>
        <th>处理时间</th>
        <th>来源</th>
        <th>备注</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($e in $!page.content)
        <tr>
            <td>$!e.id</td>
            <td >
                 <a href="$!link.contextPath/order/list?ordersn=$!e.ordersn" class="alink">$!e.ordersn</a>
            </td>
            <td> $!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!e.createtime)</td>
            <td>$!e.orderstatus.name</td>
            <td>$!e.refundstatus.name</td>
            <td>$!e.refundreason</td>
            <td> $!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!e.refundtime)</td>
            <td>$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!e.refundaudittime)</td>
            <td>
                #if($!e.refundsource==1)
                    客户端
                #elseif($!e.refundsource==2)
                    cms
                #elseif($!e.refundsource==3)
                    商户通
                #end
            </td>
            <td>$!e.refundremark</td>
            <!--操作-->
            <td>
                <a href="refundEdit?type=3&id=$!e.id" class="btn btn-success btn-mini">退款操作</a>
            </td>
        </tr>
        #end
    </tbody>
</table>
#parse("common/list_mid.vm")
<form class="form-horizontal " role="form" method="get">
    <div class="control-group">
        <label>ID：</label>
        <input type="text" class="span11" name="id" value="$!entity.id" placeholder="ID">
    </div>

    <div class="control-group">
        <label>订单编号：</label>
        <input type="text" class="span11" name="ordersn" value="$!entity.ordersn" placeholder="订单编号">
    </div>


    <label>开始时间：</label>
    <input type="text" class="span11 dateTimeFormat" name="begin" id="beginTime" value="$!time.beginStr" placeholder="开始时间">

    <label>结束时间：</label>
    <input type="text" class="span11 dateTimeFormat" name="end"  value="$!time.endStr" id="endTime" placeholder="结束时间">

    <div class="control-group">
        <div class="input-group-addon">退款状态</div>
        <select name="refundstatus" class="span11">
            <option value="">请选择</option>
            #foreach($o in $!refundStatuses)
                <option value="$o" #if($!entity.refundstatus== $o) selected #end>$o.name</option>
            #end
        </select>
    </div>


    <button type="submit" class="btn btn-primary">查询</button>
</form>
#parse("common/list_end.vm")



