#parse("common/list_start.vm")
<link href="/dist/css/order-refund/refund.css" rel="stylesheet"/>
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home">
        <i class="icon-home"></i>
        主页
    </a>
    <a href="../order/refundList" class="tip-bottom" data-original-title="">退款管理</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>退款列表</h5>
</div>

<div style="overflow: auto;width: 100%">
    <table class="table table-bordered table-striped" style="width: 2500px">
        <thead>
        <tr>
            <th>操作</th>
            <th>ID</th>
            <th>订单编号和流水</th>
            <th>下单时间</th>
            <th>订单状态</th>
            <th>订单类型</th>
            <th>支付类型</th>
            <th>商户</th>
            <th>退款人</th>
            <th>退款人名称</th>
            <th>退款状态</th>
            <th>退款理由</th>
            <th>申请退款时间</th>
            <th>处理时间</th>
            <th>来源</th>
            <th>备注</th>


            <th>总价(本地)</th>
            <th>原价(本地)</th>
            <th>总价(人民币)</th>
            <th>原价(人民币)</th>
        </tr>
        </thead>
        <tbody>
            #foreach($e in $!page.content)
            <tr>
                <!--操作-->
                <td style="text-align: center">
                    #if($!e.refundstatus == 'RefundInProgress')
                        <a href="refundEdit?type=3&id=$!e.id" class="btn btn-info btn-mini">手工操作</a>
                        <button class="btn btn-primary btn-mini auto-refund" data-id="$!e.id" data-transactionid="$!e.transactionid">自动退款</button>
                    #end
                </td>
                <td>$!e.id</td>
                <td>
                    <a href="$!link.contextPath/order/list?ordersn=$!e.ordersn" class="alink">
                        订单编号:$!e.ordersn
                        <br>
                        订单流水号:$!e.transactionid
                    </a>
                </td>
                <td> $!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!e.createtime)</td>
                <td>$!e.orderstatus.name</td>
                <td>$!e.ordertype.name</td>
                <td>$!e.paytype.name</td>
                <td>
                    <a href="$!link.requestPath/merchant/detail?id=$!e.merchant.id" class="alink">
                        ID $!e.merchant.id
                        <br>
                        名称 $!e.merchant.name
                        <br>
                        本地 $!e.merchant.kpname
                    </a>
                </td>
                <td>$!e.userId</td>
                <td>$!e.user.nickname</td>
                <td>$!e.refundstatus.name</td>
                <td>$!e.refundreason</td>
                <td> $!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!e.refundtime)</td>
                <td>$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!e.refundaudittime)</td>
                <td>$!e.refundsource.name</td>
                <td>
                    <span title="$!e.refundremark">$!e.refundremark</span>
                </td>
                <td>$!numberFormatter.format("#0.00",$!e.kpprice)</td>
                <td>$!numberFormatter.format("#0.00",$!e.okpprice)</td>
                <td>
                    #if($!e.payable)
                        $!e.payable
                    #else
                        $!e.price
                    #end
                </td>
                <td>$!e.oprice</td>
            </tr>
            #end
        </tbody>
    </table>
</div>
#parse("common/list_mid.vm")
<form class="form-horizontal " role="form" method="get">
    <div class="control-group">
        <input type="hidden" class="span11" name="countryids" value="$!countryids">
        #if($!countries.size() > 1)
            <label>国家：</label>
            <select name="countryid" class="span11">
                <option value="">全部</option>
                #foreach($country in $!countries)
                    <option value="$country.id" #if($!entity.countryid== $country.id)
                            selected #end>$country.name</option>
                #end
            </select>
        #end

        <label>ID：</label>
        <input type="text" class="span11" name="id" value="$!entity.id" placeholder="ID">

        <label>订单编号：</label>
        <input type="text" class="span11" name="ordersn" value="$!entity.ordersn" placeholder="订单编号">

        <label>商户中文名：</label>
        <input type="text" class="span11" name="merchant.name" value="$!entity.merchant.name" placeholder="商户中文名">

        <label>下单开始时间：</label>
        <input type="text" class="span11 dateTimeFormat" name="begin" value="$!time.beginStr" id="beginTime"
               placeholder="开始时间">

        <label>下单结束时间：</label>
        <input type="text" class="span11 dateTimeFormat" name="end" value="$!time.endStr" id="endTime"
               placeholder="结束时间">

        <label>申请退款开始时间：</label>
        <input type="text" class="span11 dateTimeFormat" name="begin_2" value="$!time.begin_2Str" id="beginTime2"
               placeholder="开始时间">

        <label>申请退款结束时间：</label>
        <input type="text" class="span11 dateTimeFormat" name="end_2" value="$!time.end_2Str" id="endTime2"
               placeholder="结束时间">

        <div class="input-group-addon">退款状态</div>
        <select name="refundstatus" class="span11">
            <option value="">全部</option>
            #foreach($o in $!refundStatuses)
                <option value="$o" #if($!entity.refundstatus== $o) selected #end>$o.name</option>
            #end
        </select>

    </div>

    <div class="form-btn">
        <button type="submit" class="btn btn-primary">查询</button>
        <a class="btn btn-warning export" href="javascript:void(0);">导出</a>
    </div>

</form>
<script type="text/javascript">
    $(function () {
        $(".auto-refund").on("click", function () {
            var id = $(this).attr("data-id");
            var transactionId = $(this).attr("data-transactionid");
            window.wxc.xcConfirm("自动退款，请点击确认按钮。", "confirm", {
                onOk: function () {
                    LoadingTask.showLoading("html");
                    $.ajax({
                        url: '/orderRefundLog/autoHandleRefund',
                        data: {id: id, transactionId: transactionId},
                        type: 'post',
                        dataType: 'json',
                        success: function (result) {
                            LoadingTask.hideLoading("html");
                            window.wxc.xcConfirm(result.data.msg, "warning", {
                                onOk: function () {
                                    window.location.reload();
                                }
                            });
                        }
                    });
                }
            });
        });

        $(".export").on("click", function () {

            if (!validateTime($("#beginTime").val(), $("#endTime").val()) && !validateTime($("#beginTime2").val(), $("#endTime2").val())) {
                return alert("下单时间或 申请退款时间的 开始和结束时间不能为空,且只能在7天以内!");
            }

            var form = $(document.forms[0]);
            form.attr("action", "refundList/export");
            form.attr("target", "_blank");
            form.submit();
            form.attr("action", "");
            form.attr("target", "");
        });

        function validateTime(begin, end) {
            if (begin == "" || end == "") {
                return false;
            }
            var begin = new Date(begin.replace("-", "/").replace("-", "/"));
            var end = new Date(end.replace("-", "/").replace("-", "/"));
            var result = end - begin;
            if (result > 7 * 24 * 60 * 60 * 1000) {
                return false;
            }
            return true;
        }
    });

</script>
#parse("common/list_end.vm")



