<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 菜单管理</title>
    #include("common/css-support.vm")
    <link href="/dist/css/order-virtual/virtual.css" rel="stylesheet"/>
</head>
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <div id="breadcrumb">
                <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
                <a href="javascipt:void(0)" class="tip-bottom" data-original-title="">新增</a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span7">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>虚拟订单</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form action="virtual" id="form-main" method="post" class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">销售渠道：</label>
                                    <div class="controls">
                                        <select id="saleChannel" name="channel" class="span9">
                                            #foreach($channel in $!channels)
                                                <option value="$!channel.name">$!channel.name</option>
                                            #end
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"><font color="red" style="vertical-align: sub"><b>*</b></font>
                                        渠道订单号：</label>
                                    <div class="controls">
                                        <input id="channelOrderNo" name="channelOrderNo" type="text" class="span9"
                                               placeholder="请输入渠道订单号" required>
                                        <span style="color: red" id="orderNoName"></span>
                                    </div>
                                </div>
                                <div class="control-group number-control-group">
                                    <label class="control-label">特品推荐产品ID：</label>
                                    <div class="controls">
                                        <input id="id" name="id" type="number" class="span9 number-control"
                                               placeholder="请输入特品推荐产品ID" required>
                                        <span style="color: red" class="itemName"></span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"><font color="red" style="vertical-align: sub"><b>*</b></font>
                                        购买数量：</label>
                                    <div class="controls">
                                        <input id="number" name="number" type="number" min="1" class="span9"
                                               placeholder="请输入购买数量" required>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">
                                        收件人邮箱：</label>
                                    <div class="controls">
                                        <input id="email" name="email" type="email" min="1" class="span9"
                                               placeholder="收件人邮箱" required>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-success" type="button" id="btn-save">保存</button>
                                    <button class="btn btn-primary" type="button" onclick="window.history.go(-1);">返回
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #include("common/js-support.vm")
    <script>
        $(function () {

            $("#id").on("change", function () {
                $(".itemName").text("");
                var id = $(this).val();
                if(!id){
                    return;
                }
                $.ajax({
                    url: '/item/api/list', async: true, data: {id: id, itemType: 2, display: true},
                    success: function (result) {
                        if (result.data.length > 0) {
                            var item = result.data[0];
                            $(".itemName").text(item.name);
                        } else {
                            $(".itemName").text("没有查询到对应团购产品！");
                        }
                    }
                });
            });

            $("#btn-save").on("click", function () {
                var num = $("#number").val();
                if (num % 1 != 0 || num < 1) {
                    window.wxc.xcConfirm("<b>购买数量为正整数！</b>", window.wxc.xcConfirm.typeEnum.warning);
                    return;
                }

                var btn = this;
                btn.disabled = true;
                var form = $("#form-main");
                $.ajax({
                    url: $(form).attr('action'), type: 'post',
                    data: $(form).serialize(),
                    success: function (result) {
                        btn.disabled = false;
                        if (result.code == 0) {
                            window.location.href = "list";
                        } else {
                            window.wxc.xcConfirm("<b>保存失败！" + result.msg + "</b>", window.wxc.xcConfirm.typeEnum.warning);
                        }
                    }
                });
            });
        });
    </script>
</html>