<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统</title>
    #include("common/css-support.vm")
    <link href="/dist/font-awesome/css/font-awesome-checkbox.css" rel="stylesheet"/>
    <link href="/dist/css/mission/missionTask.css" rel="stylesheet"/>
    #include("common/js-support.vm")
    <script src="/dist/js/mission/missionTask.js"></script>
</head>
<body>
<div id="content" class="content-container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <div id="breadcrumb"><a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>
                            商户模块</a>
                            <a href="/mission_task/distribute" class="tip-bottom" data-original-title="">商户战地任务</a>
                        </div>
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>战地任务列表</h5>
                            <div style="float: left;margin: 2px;">

                                <span class="has-choosed">已选择：
                                    <strong class="has-choosed-task" style="color: red;margin: 0 3px;">
                                        <span style="cursor:pointer" class="badge badge-important">$!requestVo.taskIds.size()</span>
                                    </strong>条，任务总数：
                                    <strong style="color: red;margin: 0 3px;">
                                        <span style="cursor:pointer" class="badge badge-info">$!page.totalElements</span>
                                    </strong>条
                                </span>
                            </div>
                            <div style = "margin: 2px;" class="public-div" data-group="$!group.id" data-public="$!group.isPublic">
                                <button style = "margin: 3px;" class="btn btn-small btn-success task-type-change">
                                    <i class="icon-bullhorn"> 类型变更</i>
                                </button>
                                <button style = "margin: 3px;float: none;" class="btn btn-small btn-success task-distribute">
                                    <i class="icon-bullhorn"> 任务指派</i>
                                </button>
                                <button style = "margin: 3px;" class="btn btn-small btn-success task-create">
                                    <i class="icon-bullhorn"> 新建任务</i>
                                </button>
                            </div>

                        </div>

                        <table class="table table-bordered data-table dataTable">
                            <thead class="thead-class">
                            <tr class="thread-tr">
                                <th class="th-op">
                                    <input style="margin-top: 0px;display: none" id="checkbox-all" class="th-checked" type="checkbox">
                                    <strong>全选</strong>
                                </th>
                                <th class="th-op">任务类型</th>
                                <th class="th-op">商户信息</th>
                                <th class="th-op">当地名称</th>
                                <th class="th-op">商圈</th>
                                <th class="th-op">BD名称</th>
                                <th class="th-op">状态</th>
                                <th class="th-op">驳回原因</th>
                                <th class="th-op">指派时间</th>
                                <th class="th-op">拜访时间</th>
                                <th class="th-op">审核时间</th>
                            </tr>
                            </thead>
                            #set($checkboxCount = 0)
                            <tbody class="tbody-list">
                                #if ($null.isNull($page.content) || $page.content.size()==0)
                                <tr>
                                    <td colspan="11" style="text-align:center;">
                                        <div class="no-result-div"
                                             style="text-align: center;vertical-align: middle;height: 50px;line-height: 50px;">
                                            <p>没有符合条件的战地任务信息！</p>
                                        </div>
                                    </td>
                                </tr>
                                #end
                                #set($today = $!dateFormatter.format("dd", $!dateFormatter.systemTime))
                                #foreach($entity in $!page.content)
                                <tr>
                                    <td #if($!entity.status.key!=2 )class="td-holl-check"#end>
                                        #if($!entity.status.key!=2 )
                                            #set($checkboxCount = $checkboxCount + 1)
                                            <input class="styled td-checked input-checkbox" type="checkbox" task-id="$!entity.id">
                                        #end
                                    </td>
                                    <td class="td-task-status">
                                        $!entity.version
                                    </td>
                                    <td class="merchant-info">
                                        <span>$!entity.merchant.id</span>
                                        <br/>
                                        <a target="_blank" href="/merchant/edit?id=$!entity.merchant.id">$!entity.merchant.name</a>
                                    </td>
                                    <td>$!entity.merchant.kpname</td>
                                    <td class="merchant-district">$!entity.merchant.district.name</td>
                                    <td class="task-cnName">$!entity.bdUser.chineseName</td>
                                    <td class="td-task-status" data-isExpired="$!entity.isExpiredDistributed" data-status="$!entity.status">
                                        #if ($!entity.isExpiredDistributed)
                                            <label class="expired-time" style="color: red">$!entity.status.value</label>
                                        #else
                                            $!entity.status.value
                                        #end
                                    </td>
                                    <td class="td-bz" title="$!entity.remark">$!entity.remark</td>
                                    <td>$!dateFormatter.format("yyyy-MM-dd",$!entity.distrDt)</td>
                                    <td>$!dateFormatter.format("yyyy-MM-dd HH:mm",$!entity.visitDt)</td>
                                    <td>$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!entity.auditDt)</td>
                                </tr>
                                #end
                                <input type="hidden" class="checkbox-count" value="$!checkboxCount">
                            </tbody>
                        </table>

                    </div>
                    #set($i=$!page.number + 1)
                    <div class="pagination" style="float:right">
                        <ul total="$!page.totalPages" index="$!i"></ul>
                    </div>
                </div>
            </div>

            <div class="span2">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-list"></i></span>
                        <h5>筛选列表</h5>
                    </div>
                    <div class="widget-content">
                        <form class="form-horizontal search-form" method="get">
                            <div class="search-select">
                                <label>商圈</label>
                                <select class="span11 select2" name="district">
                                    <option value>全部</option>
                                    #foreach($e in $!districts)
                                        <option value="$!e.id" #if($!requestVo.district == $!e.id) selected #end>$!e.id : $!e.name</option>
                                    #end
                                </select>
                            </div>
                            <div class="search-select">
                                <label>商户名称</label>
                                <select class="span11 select2" name="mchId">
                                    <option value>全部</option>
                                    #foreach($e in $!merchants)
                                        <option value="$!e.id" #if($!requestVo.mchId == $!e.id) selected #end>$!e.id : $!e.name</option>
                                    #end
                                </select>
                            </div>
                            <div class="search-select">
                            <label>合作状态</label>
                            <select name="cooperationStatus" class="span11">
                                <option value="">全部</option>
                                #foreach($status in $!cooperationStatuses)
                                    <option value="$!status" data-key="$!status.key" #if($!status==$!requestVo.cooperationStatus)selected #end>$!status.name</option>
                                #end
                            </select>
                            </div>
                            <div class="search-select">
                                <label>任务类型</label>
                                <select class="span11" name="version">
                                    <option value>全部</option>
                                    <option value="拓新"#if($!requestVo.version == '拓新')selected#end>拓新</option>
                                    <option value="维护"#if($!requestVo.version == '维护')selected#end>维护</option>
                                    <option value="团购"#if($!requestVo.version == '团购')selected#end>团购</option>
                                </select>
                            </div>
                            <div class="search-select">
                                <label>批量商户ID</label>
                                <textarea class="batch-mch-id" name="originalMchIds" placeholder="以英文逗号','或换行分隔,最多支持20个" rows="3">$!requestVo.originalMchIds</textarea>
                                <input class="real-batch-mch-id" name="mchIds" type="hidden">
                            </div>
                            <div class="search-select">
                                <label>BD名称</label>
                                <select class="span11 select2" name="bdId">
                                    <option value>全部</option>
                                    #foreach($e in $!bdUsers)
                                        <option value="$!e.id" #if($!requestVo.bdId == $!e.id) selected #end>$!e.id : $!e.chineseName</option>
                                    #end
                                </select>
                            </div>
                            <div class="search-select">
                                <label>任务状态</label>
                                <select class="span11 select2 task-status" name="status">
                                    <option value>全部</option>
                                    #foreach($e in $!taskStatus)
                                        <option value="$!e" #if($!e.key == $!requestVo.status.key) selected #end>$!e.value</option>
                                    #end
                                </select>
                            </div>

                            #if($!requestVo.status.key==1 || $!requestVo.status.key==2 || "$!requestVo.status" == "")
                                <div class="search-select task-distrdt" style="display:block">
                                    <label>指派日期：</label>
                                    <input type="text" name="distrDt" class="span11 dateTimeFormatDay" value="$!requestVo.distrDtStr" text="$!requestVo.distrDtStr" placeholder="指派日期">
                                </div> #else
                                <div class="search-select task-distrdt" style="display:none">
                                    <label>指派日期：</label>
                                    <input type="text" name="distrDt" class="span11 dateTimeFormatDay" value="$!requestVo.distrDtStr" text="$!requestVo.distrDtStr" placeholder="指派日期">
                                </div>
                            #end
                            #if($!requestVo.status.key==3 || $!requestVo.status.key==4 || "$!requestVo.status" == "")
                                <div class="search-select task-auditdt" style="display:block">
                                    <label>审核日期：</label>
                                    <input type="text" name="auditDt" class="span11 dateTimeFormatDay" value="$!requestVo.auditDtStr" text="$!requestVo.auditDtStr" placeholder="审核日期">
                                </div>
                            #else
                                <div class="search-select task-auditdt" style="display:none">
                                    <label>审核日期：</label>
                                    <input type="text" name="auditDt" class="span11 dateTimeFormatDay" value="$!requestVo.auditDtStr" text="$!requestVo.auditDtStr" placeholder="审核日期">
                                </div>
                            #end
                            #if($!requestVo.status.key==2 || "$!requestVo.status"== "")
                                <div class="search-select task-finishdt" style="display:block">
                                    <label>拜访日期：</label>
                                    <input type="text" name="finishDt" id="finishDt" class="span11 dateTimeFormatDay" value="$!requestVo.finishDtStr" text="$!requestVo.finishDtStr" placeholder="拜访日期">
                                </div>
                            #else
                                <div class="search-select task-finishdt" style="display:none">
                                    <label>拜访日期：</label>
                                    <input type="text" name="finishDt" id="finishDt" class="span11 dateTimeFormatDay" value="$!requestVo.finishDtStr" text="$!requestVo.finishDtStr" placeholder="拜访日期">
                                </div>
                            #end
                            <div class="btn-group">
                                <input type="hidden" name="isAudit" value="false"/>
                                <input type="hidden" name="taskIds" class="hide-checked-taskIds" value="$!requestVo.checkedTaskStr">
                                <button type="submit" class="btn btn-primary btn-ok">
                                    <i class="icon-search"> 查询</i>
                                </button>
                                <button class="btn btn-warning search-reset" style="margin-left: 3px;">
                                    <i class="icon-refresh"> 重置</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- 指派弹窗 -->
                <div class="modal hide fade taskDistributeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">任务指派
                            <label class="has-choosed" style="display: inline;float: none;">已选择：
                                <strong class="task-distribute-count" style="color: red;margin: 0 3px;">$!requestVo.taskIds.size()</strong>条
                            </label>
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="search-select bd-checkd-prev">
                            #if ($null.isNull($bdUsers) || $bdUsers.size()==0)
                                <strong style="margin-left: 45%;">暂无BD</strong>
                            #end
                            #if ($null.isNotNull($bdUsers) || $bdUsers.size()>0)
                                #foreach($e in $!bdUsers)
                                    <div style="margin: 5px;margin-left: 20%;">
                                        <input style="margin-top: -5px;" bd-id="$e.id" name="bdCheckboxInput" class="bd-checkbox-input" type="checkbox">
                                        <span class="bd-checkbox-label">
                            $!e.chineseName / $!e.dmail
                        </span>
                                    </div>
                                #end

                            #end
                        </div>
                        <div class="search-select">
                            <label style="display: inline;margin-left: 6%">指派时间：</label>
                            <input type="text" name="input-distrDt" style="width: 30%" class="span8 timeFormatNoDay datetime-distrDt" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary sure-distribute">确认</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>

                <!-- 新建任务弹窗 -->
                <div class="modal hide fade taskCreateModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">新建任务
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="search-select">
                            <label style="display: inline;margin-left: 6%">商户ID：</label>
                            <input class = "create-mch-id" type="text" name="mchId" style="width: 30%" class="span8" value="">
                            <p class = "create-mch-id-tip" style="display: none;margin-left: 6%"><strong style='color: red'>*请填写商户ID</strong></p>
                        </div>
                        <div class="search-select">
                            <label style="display: inline;margin-left: 6%">任务类型：</label>
                            <select style="width: 30%"  class="span11 create-version" name="version" >
                                <option value="拓新">拓新</option>
                                <option value="维护">维护</option>
                                <option value="团购">团购</option>
                            </select>
                            <p class = "create-version-tip" style="display: none;margin-left: 6%"><strong style='color: red'>*任务类型不可为空</strong></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                        <button class="btn btn-primary sure-create">确认</button>
                    </div>
                </div>

                <!-- 类型变更弹窗 -->
                <div class="modal hide fade taskTypeChangeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">任务指派
                            <label class="has-choosed" style="display: inline;float: none;">已选择：
                                <strong class="task-type-change-count" style="color: red;margin: 0 3px;">$!requestVo.taskIds.size()</strong>条
                            </label>
                        </h3>
                    </div>
                    <div class="modal-body">
                        <label>任务类型变更为：</label>
                        <div class="search-select bd-checkd-prev">
                            <div style="margin: 5px;margin-left: 20%;">
                                <input style="margin-top: -5px;" task-type="拓新" name="bdCheckboxInput" class="bd-checkbox-input" type="checkbox">
                                <span class="bd-checkbox-label">拓新任务</span>
                            </div>
                            <div style="margin: 5px;margin-left: 20%;">
                                <input style="margin-top: -5px;" task-type="维护" name="bdCheckboxInput" class="bd-checkbox-input" type="checkbox">
                                <span class="bd-checkbox-label">维护任务</span>
                            </div>
                            <div style="margin: 5px;margin-left: 20%;">
                                <input style="margin-top: -5px;" task-type="团购" name="bdCheckboxInput" class="bd-checkbox-input" type="checkbox">
                                <span class="bd-checkbox-label">团购任务</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary sure-type-change">确认</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>

                <!-- 是否可见 提示框 -->
                <div class="modal hide fade publicSwichModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="publicSwichLabel">提示</h3>
                    </div>
                    <div class="modal-body">
                        <p class="public-switch-text"></p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="hide-isPublic" class="hide-public"/>
                        <input type="hidden" id="hide-groupId" class="hide-groupId"/>
                        <button class="btn btn-primary sure-public-switch">确认</button>
                        <button class="btn btn-colse" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>

                <!-- 可见 结果提示框 -->
                <div class="modal hide fade publicSwichResultModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="publicSwichLabel">提示</h3>
                    </div>
                    <div class="modal-body">
                        <p class="public-switch-result-text"></p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" class="isPublic-result"/>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>

                <!-- 指派结果弹窗 -->
                <div class="modal hide fade taskDistributeResultModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">提示</h3>
                    </div>
                    <div class="modal-body">
                        <p class="distributeResult-text"></p>
                    </div>
                    <input type="hidden" class="audit-result"/>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>

                <!-- 类型变更结果弹窗 -->
                <div class="modal hide fade taskTypeChangeResultModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">提示</h3>
                    </div>
                    <div class="modal-body">
                        <p class="typeChangeResult-text"></p>
                    </div>
                    <input type="hidden" class="change-result"/>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>

                <!-- 创建任务结果弹窗 -->
                <div class="modal hide fade taskCreateResultModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">提示</h3>
                    </div>
                    <div class="modal-body">
                        <p class="createResult-text"></p>
                    </div>
                    <input type="hidden" class="create-result"/>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>

                <!-- 批量商户ID校验不合法提示框 -->
                <div class="modal hide fade mchid-reg-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">提示</h3>
                    </div>
                    <div class="modal-body">
                        <p class="mchid-reg-text">
                            以英文逗号','或换行分隔,最多支持<label style="color: red;font-weight: bold;display: inline-block">20</label>个商户ID。
                        </p>
                    </div>
                    <input type="hidden" class="audit-result"/>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>

                <!-- 选择任务警告弹窗 -->
                <div class="modal hide fade checkTaskWarningModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">提示</h3>
                    </div>
                    <div class="modal-body">
                        <p class="check-task-waring-text">选择任务不能超过<label style="color: red;font-weight: bold;display: inline-block">300</label>条！</p>
                    </div>
                    <input type="hidden" class="audit-result"/>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>
            </div>

            <script src="/dist/js/page-support.js"></script>
            <script>
                $('.timeFormatNoDay').datetimepicker({
                    format: "Y-m-d",
                    timepicker: false,
                    yearStart: 2000,
                    yearEnd: 2050,
                    todayButton: true,
                    scrollMonth: false,
                    scrollTime: false,
                    scrollInput: false,
                    minDate: new Date()
                });
            </script>
</body>
</html>