<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 菜单管理</title>
    #include("common/css-support.vm")
</head>
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <div id="breadcrumb">
                <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
                <a href="/list" class="tip-bottom" data-original-title="">Banner管理</a>
                <a href="javascipt:void(0)" class="tip-bottom" data-original-title="">编辑/查看</a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>广告编辑&查看</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form action="update" method="post" class="form-horizontal" id="bannerForm">
                                <div class="control-group">
                                    <input type="hidden" name="id" value="$!entity.id">
                                    <label class="control-label">国家</label>
                                    <div class="controls">
                                        <select id="country.id" for="country.id" name="country.id" class="span9" target-name="city.id" target-url="/city/api/getCitys">
                                            <option value="">请选择</option>
                                            #foreach($e in $!countries)
                                                <option value="$!e.id" #if($!entity.country.id==$!e.id) selected #end>$!e.id:$!e.name</option>
                                            #end
                                        </select>
                                    </div>

                                    <label class="control-label">城市</label>
                                    <div class="controls">
                                        <select id="city.id" for="city.id" name="city.id" class="span9" def-value="$!entity.city.id">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>

                                    <label class="control-label">广告类型</label>
                                    <div class="controls">
                                        <select name="userange" class="span9">
                                            <option value="1" #if($!entity.userange==1) selected #end>Banner</option>
                                            <option value="2" #if($!entity.userange==2) selected #end>弹窗</option>
                                        </select>
                                    </div>
                                    <label class="control-label">标题</label>
                                    <div class="controls">
                                        <input name="title" id="title" for="title" type="text" class="span9" placeholder="标题" value="$!entity.title">
                                    </div>
                                    <label class="control-label">跳转链接</label>
                                    <div class="controls">
                                        <input name="linkurl" id="linkurl" type="text" class="span9" placeholder="跳转链接" value="$!entity.linkurl">
                                    </div>
                                    <label class="control-label">排序</label>
                                    <div class="controls">
                                        <input name="sort" id="sort" type="text" class="span9" placeholder="排序" value="$!entity.sort">
                                    </div>
                                    <label class="control-label">位置</label>
                                    <div class="controls">
                                        <select name="page" class="span9">
                                            <option value="youfu">youfu</option>
                                            <option value="index"  #if($!entity.page=="index") selected #end>index</option>
                                            <option value="up"  #if($!entity.page=="up") selected #end>up</option>
                                            <option value="down"  #if($!entity.page=="down") selected #end>down</option>
                                            <option value="tuanFood"  #if($!entity.page=="tuanFood") selected #end>美食团购</option>
                                            <option value="hotActivity"  #if($!entity.page=="hotActivity") selected #end>热门活动</option>
                                        </select>
                                    </div>
                                    <label class="control-label">开始时间</label>
                                    <div class="controls">
                                        <input type="text" class="span9 dateTimeFormat" name="starttime" value="$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!entity.starttime)" id="starttime" placeholder="开始时间">
                                    </div>
                                    <label class="control-label">结束时间</label>
                                    <div class="controls">
                                        <input type="text" class="span9 dateTimeFormat" name="endtime" value="$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!entity.endtime)" id="endtime" placeholder="结束时间">
                                    </div>
                                    <label class="control-label">图片链接</label>
                                    <div class="controls">
                                        <input type="text" class="span7" id="bannerurl" name="bannerurl" value='$!entity.bannerurl'/>
                                        <button type="button" class="btn btn-success previewBtn" data-id="bannerurl">预览</button>
                                        <button type="button" class="btn btn-success uploadImgBtn" id="bannerImgBtn" data-id="bannerurl" imageSpec="">上传</button>
                                        <p id="bannermsg"></p>
                                    </div>
                                    <label class="control-label">app图片链接</label>
                                    <div class="controls">
                                        <input type="text" class="span7" id="appbannerurl" name="appbannerurl" value='$!entity.appbannerurl'/>
                                        <button type="button" class="btn btn-success previewBtn" data-id="appbannerurl">预览</button>
                                        <button type="button" class="btn btn-success uploadImgBtn" data-id="appbannerurl">上传</button>
                                    </div>

                                    <label class="control-label">是否热门</label>
                                    <div class="controls">
                                        <select id="ishot" name="ishot" class="span9">
                                            <option value="true"  #if($!entity.ishot==true)  selected #end>是</option>
                                            <option value="false"  #if($!entity.ishot==false)  selected #end>否</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    #if($!type==2 || $!type==1)
                                        <button type="submit" class="btn btn-success">保存</button>
                                    #elseif($!type==3)
                                        <a href="edit?type=2&id=$!entity.id" class="btn btn-info">编辑</a>
                                    #end
                                    <a class="btn btn-primary" href="list">返回</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #include("common/js-support.vm")
    #include("common/image-support.vm")
    <script src="/dist/js/cascade-select.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var type = $!type;
            if (type == 3) {
                $(":text").attr("disabled", "disabled");
                $("select").attr("disabled", "disabled");
            }
        });

        $("select[name='page']").on("change", function () {
            var val = $(this).val();
            if (val == "index") {
                $("#bannerImgBtn").attr("imageSpec", "BannerIndex");
                $("#bannermsg").empty().append("尺寸: 720 * 400, 限制: 150k");
            } else if (val == "up") {
                $("#bannerImgBtn").attr("imageSpec", "BannerUp");
                $("#bannermsg").empty().append("尺寸: 338 * 128, 限制: 80k");
            } else if (val == "down") {
                $("#bannerImgBtn").attr("imageSpec", "BannerDown");
                $("#bannermsg").empty().append("尺寸: 270 * 134, 限制: 50k");
            } else if (val == "tuanFood") {
                $("#bannerImgBtn").attr("imageSpec", "BannerTuanFood");
                $("#bannermsg").empty().append("尺寸: 720 * 400, 限制: 120k");
            } else if (val == "hotActivity") {
                $("#bannerImgBtn").attr("imageSpec", "HotActivity");
                $("#bannermsg").empty().append("尺寸: 338 * 128, 限制: 80k");
            } else {
                $("#bannerImgBtn").attr("imageSpec", "BannerYoufu");
                $("#bannermsg").empty().append("尺寸: 160 * 120, 限制: 15k");
            }
        }).trigger("change");
    </script>
</body>
</html>