#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>主页</a>
    <a href="javascipt:void(0);" class="tip-bottom" data-original-title="">新闻管理</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>新闻列表</h5>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>标题</th>
        <th>类型</th>
        <th>是否显示</th>
        <th>发布日期</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($e in $!page.content)
        <tr class="odd gradeX">
            <td>$!e.title</td>
            <td>#if($!e.type==1)新闻报道#else 大记事#end</td>
            <td>#if($e.display)显示#else 隐藏#end</td>
            <td>$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!e.newsTime)</td>
            <td>
                <a class="btn btn-success btn-mini" data-id="$!e.id" href="detail?id=$!e.id">查看</a>
                <a class="btn btn-info btn-mini" data-id="$!e.id" href="edit?id=$!e.id">编辑</a>
            </td>
        </tr>
        #end
    </tbody>
</table>
<div class="form-actions ">
    <a class="btn btn-info" href="add?cat.id=$!entity.cat.id">新增</a>
</div>
#parse("common/list_mid.vm")
<form>
    <div class="control-group">
        <label>类型</label>
        <select name="type" class="span11">
            <option value="">全部</option>
            <option value="1" #if($!entity.type == 1) selected#end>新闻报道</option>
            <option value="2" #if($!entity.type == 2) selected#end>大记事</option>
        </select>
    </div>
    <div class="control-group">

        <label>标题:</label>
        <input type="text" name="title" class="span11" value="$!entity.title" placeholder="标题"/>
    </div>
    <div class="control-group">
        <button type="submit" class="btn btn-primary">查询</button>
    </div>
</form>
#parse("common/list_end.vm")