#parse("common/list_start.vm")
<div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
    <h5>商户详情图2.0</h5>
</div>
<div class="widget-content">
##    <div class="span10">
    <ul class="quick-actions">
        #foreach($e in $!list)
            <li class="bg_lb">
                <img height="300" width="300" src="$!e.detailImgUrl">
                <a class="remove" data-id="$!e.id" href="javascript:void(0);"><i class="icon-remove"></i></a>
            </li>
        #end
    </ul>
##    </div>
</div>

<div id="add-img-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>新增图片</h3>
    </div>
    <div class="modal-body">
        <input id="add-img-mchId" type="hidden" class="span11">
        <input id="add-img-url" type="text" class="span11" value="$!entity.id">
        <button class="btn btn-success previewBtn" type="button" data-id="add-img-url">预览</button>
        <button class="btn btn-success uploadImgBtn" type="button" data-id="add-img-url" data-width="640" data-height="260">上传</button>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <a href="javascript:void(0);" id="add-img-submit" class="btn btn-primary">保存</a>
    </div>
</div>
#parse("common/list_mid.vm")
<a class="btn btn-success" id="add-img" data-mchId="$!entity.mchId" href="javascript:void(0);">新增</a>
<script>
    $(function () {
        $("#add-img").on("click", function (event) {
            var mchId = $(this).attr("data-mchId");
            $("#add-img-mchId").attr("value", mchId);
            $("#add-img-modal").modal();
        });

        $("#add-img-submit").on("click", function (event) {
            var detailImgUrl = $("#add-img-url").val();
            var mchId = $("#add-img-mchId").val();

            $.ajax({
                url: 'add',
                data: {detailImgUrl: detailImgUrl, mchId: mchId},
                type: 'post',
                success: function (result) {
                    if (result.code == 0) {
                        window.location.reload();
                    } else {
                        alert("失败:" + result.msg);
                    }
                }
            });
        });

        $(".remove").each(function (i, o) {
            $(o).on("click", function () {
                var id = $(this).attr("data-id");
                if (!confirm('确实要删除该内容吗?'))
                    return;
                $.ajax({
                    url: 'remove',
                    data: {id: id},
                    type: 'get',
                    success: function (result) {
                        if (result.code == 0) {
                            window.location.reload();
                        } else {
                            alert("失败:" + result.msg);
                        }
                    }
                });
            });
        });
    });
</script>
#include("common/image-support.vm")
#parse("common/list_end.vm")
#include("common/js-support.vm")