<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 菜单管理</title>
    #include("common/css-support.vm")
</head>
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
            <a href="/contractTemplate/list" class="tip-bottom" data-original-title="">模板参数管理</a>
            <a href="#" class="tip-bottom" data-original-title="">编辑</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span20">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>编辑&查看</h5>
                        <input id="optype" name="type" type="hidden" value="$!type">
                    </div>
                    <div class="widget-content nopadding">
                        <form action="update" method="post" a
                              class="form-horizontal templateFormValidate"
                              role="form">
                            <div class="control-group">
                                <input name="id" type="hidden" class="form-control" placeholder="ID"
                                       value="$!entity.id">
                                <label class="control-label">国家</label>
                                <div class="controls">
                                    <select name="countryId" class="span5">
                                        #foreach($e in $!countries)
                                            <option value="$!e.id" #if($!e.id == $!entity.countryId)
                                                    selected #end>$!e.name</option>
                                        #end
                                    </select>
                                </div>
                                <label class="control-label">标题</label>
                                <div class="controls">
                                    <input name="title" type="text" class="span5" value="$!entity.title"">
                                </div>
                                <label class="control-label">类型</label>
                                <div class="controls">
                                    <select class="span5" name="templateType">
                                        <option value="1"  #if($!entity.type==1)selected #end>主合同</option>
                                        <option value="2"  #if($!entity.type==2)selected #end>附加合同</option>
                                    </select>
                                </div>
                                <label class="control-label">选择已有参数</label>
                                <div class="controls">
                                    <select class="span5 select2" id="selectedParamIds" name="selectedParamIds"
                                            multiple>
                                        #foreach($param in $!selectableParams)
                                            <option value="$!param.id">
                                                $!param.id  >>  $!param.key >>  $!param.name >> $!param.remark
                                            </option>
                                        #end
                                    </select>
                                </div>
                                <label class="control-label">自定义参数</label>
                                <div class="controls">
                                    <div style="overflow: auto;width: 100%">

                                        <table class="table table-bordered data-table dataTable" id="mytable"
                                        >
                                            <tbody>
                                            <tr id="0">
                                                <th id="roleSuperid0">key</th>
                                                <th id="roleSuperid0">参数名</th>
                                                <th id="roleSuperid0">默认值</th>
                                                <th id="roleSuperid0">内容填写类型</th>
                                                <th id="roleSuperid0">是否可编辑</th>
                                                <th id="roleSuperid0">是否可为空</th>
                                                <th id="roleSuperid0">栏位提示</th>
                                                <th style="text-align: left">

                                                    <a class="btn btn-info btn-mini addRow">手动添加</a>
                                                    <a class="btn btn-info btn-mini selectParameter">选择添加</a>

                                                </th>
                                            </tr>

                                                #foreach($param in $!selectedParams)
                                                <tr>
                                                    <td>$!param.id : $!param.key
                                                        <input name="paramId" type="hidden" value="$!param.id"
                                                               style="width: 200px" readonly>
                                                    </td>
                                                    <td>$!param.name</td>
                                                    <td>$!param.defaultValue</td>
                                                    <td>

                                                        #if($!param.type==1)
                                                            文本
                                                        #elseif($!param.type==2)
                                                            整数
                                                        #elseif($!param.type==3)
                                                            小数
                                                        #elseif($!param.type==4)
                                                            日期
                                                        #end

                                                    </td>

                                                    <td>
                                                        #if($!param.editable==true)
                                                            是
                                                        #else
                                                            否
                                                        #end
                                                    </td>
                                                    <td>

                                                        #if($!param.nullable==true)
                                                            是
                                                        #else
                                                            否
                                                        #end

                                                    </td>
                                                    <td>$!param.remark</td>
                                                    <td style="text-align: left">


                                                        <a class="btn btn-info btn-mini removeRow">删除</a>


                                                    </td>
                                                </tr>
                                                #end

                                            <tr class="firstRow" disabled="disabled" style="display: none">
                                                <td>
                                                    <input name="key" style="width: 200px">
                                                    <input name="paramId" type="hidden" value="" style="width: 200px"
                                                           readonly>
                                                </td>
                                                <td><input name="name" style="width: 90px"></td>
                                                <td><input name="defaultValue" style="width: 90px"></td>
                                                <td>
                                                    <select name="dataType" style="width: 90px" readonly>
                                                        <option value="1">文本</option>
                                                        <option value="2">整数</option>
                                                        <option value="3">小数</option>
                                                        <option value="4">日期</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="editable" style="width: 90px">
                                                        <option value="true">是</option>
                                                        <option value="false">否</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="nullable" style="width: 90px">
                                                        <option value="true">是</option>
                                                        <option value="false">否</option>
                                                    </select>
                                                </td>
                                                <td><input name="remark" style="width: 100px"></td>
                                                <td style="text-align: left;width: 300px">
                                                    <a class="btn btn-info btn-mini removeRow">删除</a>
                                                </td>
                                            </tr>

                                            <tr class="spanRow" disabled="disabled" style="display: none">
                                                <td>
                                                    <input name="key" style="width: 200px">
                                                    <label name="key"></label>
                                                    <input name="paramId" type="hidden" value="" style="width: 200px"
                                                           readonly>
                                                </td>
                                                <td><input name="name" style="width: 90px"></td>
                                                <td><input name="defaultValue" style="width: 90px"></td>
                                                <td>
                                                    <select name="dataType" style="width: 90px" readonly>
                                                        <option value="1">文本</option>
                                                        <option value="2">整数</option>
                                                        <option value="3">小数</option>
                                                        <option value="4">日期</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="editable" style="width: 90px">
                                                        <option value="true">是</option>
                                                        <option value="false">否</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="nullable" style="width: 90px">
                                                        <option value="true">是</option>
                                                        <option value="false">否</option>
                                                    </select>
                                                </td>
                                                <td><input name="remark" style="width: 100px"></td>
                                                <td style="text-align: left;width: 300px">
                                                    <a class="btn btn-info btn-mini removeRow">删除</a>
                                                </td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    #if($!optype==2 || $!optype==1)
                                        <button type="button" class="btn btnSave btn-success">保存
                                        </button>
                                    #elseif($!optype==3)
                                        <button type="button" class="btn btnSave btn-success">保存
                                        </button>
                                    #end
                                    <a class="btn btn-primary" href="list">返回</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--***************************************模态框begin*************************************************************-->
<div id="parameterModal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>参数选择</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">可选参数列表</label>
            <div class="controls">
                <select class="span5 select2" id="selectedParamIds" name="selectedParamIds"
                >
                    #foreach($param in $!selectableParams)
                        <option value="$!param.id">
                            $!param.id  >>  $!param.key >>  $!param.name
                        </option>
                    #end
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" id="parameterSave" class="btn btn-primary">保存</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>

</body>
    #include("common/js-support.vm")
    #include("common/image-support.vm")
<script src="/dist/js/cascade-select.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var tr = $(".firstRow").html();
        $(".btnSave").click(function () {
            var form = $(".templateFormValidate");
            var request = {};
            var list = [];
            var paramIds = [];
            $(".oneRow").each(function (i, o) {
                var templateParameterRequest = {};
                templateParameterRequest.name = $(o).find("input[name='name']").val();
                templateParameterRequest.key = $(o).find("input[name='key']").val();
                templateParameterRequest.defaultValue = $(o).find("input[name='defaultValue']").val();
                templateParameterRequest.type = $(o).find("select[name='dataType']").val();
                templateParameterRequest.editable = $(o).find("select[name='editable']").val();
                templateParameterRequest.nullable = $(o).find("select[name='nullable']").val();
                templateParameterRequest.remark = $(o).find("input[name='remark']").val();
                list.push(templateParameterRequest);
            });
            $("input[name='paramId']").each(function (i, o) {
                paramIds.push($(o).val());
            });
            $("select[name='selectedParamIds']").each(function (i, o) {
                request.selectedParamIds = $(o).val();
            });
            request.title = $("input[name='title']").val();
            request.countryId = $("select[name='countryId']").val();
            request.templateType = $("select[name='templateType']").val();
            request.type = $("input[name='type']").val();
            request.id = $("input[name='id']").val();
            request.paramIds = paramIds;
            request.list = list;
            $(".firstRow").remove();
            $.ajax({
                url: 'saveTemplate',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        alert("操作成功");
                        window.location.href = "/contractTemplate/edit?optype=2&id=" + result.data;
                    } else {
                        alert(result.msg);
                    }
                }
            });
        });


        $("#mytable").delegate(".removeRow", "click", function (e) {
            var currEle = e.currentTarget;
            $(currEle).parent().parent().remove();
        });

        $("#mytable").delegate(".addRow", "click", function (e) {
            var table = $("#mytable");
            //var trHTML=$("tr[name='firstRow']").eq(0).prop('outerHTML');
            var trHTML = "<tr class='oneRow'>" + tr + "</tr>";
            table.append(trHTML);
        });

        var currTr;
        $("#mytable").delegate(".selectParameter", "click", function (e) {
            var currEle = e.currentTarget;
            currTr = $(currEle).parent().parent();
            $('#parameterModal').modal('show');

        });


        $("#parameterSave").on("click", function () {

            $(currTr).find("input[name='name']").val("sdf");
            $(currTr).find("input[name='key']").val("sdf");
            $(currTr).find("input[name='defaultValue']").val();
            $(currTr).find("select[name='dataType']").val();
            $(currTr).find("select[name='editable']").val();
            $(currTr).find("select[name='nullable']").val();
            $(currTr).find("input[name='remark']").val();


            $('#parameterModal').modal('hide');
            if (true) {
                return false;
            }

            $.ajax({
                url: 'saveTemplate',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        alert("操作成功");
                        window.location.href = "/contractTemplate/edit?optype=2&id=" + result.data;
                    } else {
                        alert(result.msg);
                    }
                }
            });


        });


        $(".templateFormValidate").validate({
            rules: {
                sort: {
                    digits: true
                },
                title: {
                    maxlength: 50
                },
                source: {
                    required: true, maxlength: 20
                }
            },
            errorPlacement: function (error, element) {
                $(element)
                        .closest("form")
                        .find(element)
                        .after(error);
            },
            errorElement: "span"
        });


    });

</script>
</html>
