<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 菜单管理</title>
    #include("common/css-support.vm")
</head>
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
            <a href="/contractTemplate/list" class="tip-bottom" data-original-title="">模板参数管理</a>
            <a href="#" class="tip-bottom" data-original-title="">编辑</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span20">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>编辑&查看</h5>
                        <input id="optype" name="type" type="hidden" value="$!type">
                    </div>
                    <div class="widget-content nopadding">
                        <form action="update" method="post" a
                              class="form-horizontal templateFormValidate"
                              role="form">
                            <div class="control-group">
                                <input name="id" type="hidden" class="form-control" placeholder="ID"
                                       value="$!entity.id">
                                <label class="control-label">国家</label>
                                <div class="controls">
                                    <select name="countryId" class="span5">
                                        #foreach($e in $!countries)
                                            <option value="$!e.id" #if($!e.id == $!entity.countryId)
                                                    selected #end>$!e.name</option>
                                        #end
                                    </select>
                                </div>
                                <label class="control-label">标题</label>
                                <div class="controls">
                                    <input name="title" type="text" class="span5" value="$!entity.title"">
                                </div>
                                <label class="control-label">类型</label>
                                <div class="controls">
                                    <select class="span5" name="templateType">
                                        <option value="1"  #if($!entity.type==1)selected #end>主合同</option>
                                        <option value="2"  #if($!entity.type==2)selected #end>附加合同</option>
                                    </select>
                                </div>
                                <label class="control-label">自定义参数</label>
                                <div class="controls">
                                    <div style="overflow: auto;width: 100%">

                                        <table class="table table-bordered data-table dataTable" id="mytable"
                                        >
                                            <thead>
                                            <tr id="0">
                                                <th id="roleSuperid0">key</th>
                                                <th id="roleSuperid0">参数名</th>
                                                <th id="roleSuperid0">默认值</th>
                                                <th id="roleSuperid0">内容填写类型</th>
                                                <th id="roleSuperid0">是否可编辑</th>
                                                <th id="roleSuperid0">是否可为空</th>
                                                <th id="roleSuperid0">栏位提示</th>
                                                <th style="text-align: left" style="width: 15%">

                                                    <a class="btn btn-info btn-mini addRow">手动添加</a>
                                                    <a class="btn btn-info btn-mini selectParameter">选择添加</a>

                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                #foreach($param in $!selectedParams)
                                                <tr>
                                                    <td>$!param.id : $!param.key
                                                        <input name="paramId" type="hidden" value="$!param.id"
                                                               style="width: 200px" readonly>
                                                    </td>
                                                    <td>$!param.name.key</td>
                                                    <td>$!param.defaultValue</td>
                                                    <td>
                                                        #if($!param.type==1)
                                                            文本
                                                        #elseif($!param.type==2)
                                                            整数
                                                        #elseif($!param.type==3)
                                                            小数
                                                        #elseif($!param.type==4)
                                                            日期
                                                        #end
                                                    </td>

                                                    <td>
                                                        #if($!param.editable==true)
                                                            是
                                                        #else
                                                            否
                                                        #end
                                                    </td>
                                                    <td>

                                                        #if($!param.nullable==true)
                                                            是
                                                        #else
                                                            否
                                                        #end
                                                    </td>
                                                    <td>$!param.remark.key</td>
                                                    <td style="text-align: left">
                                                        <a class="btn btn-info btn-mini removeRow">删除</a>
                                                    </td>
                                                </tr>
                                                #end
                                            <tr class="inputRowExample editRow" style="display: none">
                                                <td>
                                                    <input name="key" style="width: 200px">
                                                    <input name="paramId" type="hidden" value="" style="width: 150px" readonly>

                                                </td>
                                                <td>
                                                   <input name="name" style="width: 150px" ><br>
                                                    <a class="btn btn-info btn-mini selectLang" inputLangsName="name">选择</a>
                                                    <a class="btn btn-info btn-mini addLang" inputLangsName="name">添加</a>
                                                </td>
                                                <td><input name="defaultValue" style="width: 90px"></td>
                                                <td>
                                                    <select name="dataType" style="width: 90px">
                                                        <option value="1">文本</option>
                                                        <option value="2">整数</option>
                                                        <option value="3">小数</option>
                                                        <option value="4">日期</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="editable" style="width: 90px">
                                                        <option value="true">是</option>
                                                        <option value="false">否</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="nullable" style="width: 90px">
                                                        <option value="true">是</option>
                                                        <option value="false">否</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input name="remark" style="width: 150px" ><br>

                                                    <a class="btn btn-info btn-mini selectLang" inputLangsName="remark">选择</a>
                                                    <a class="btn btn-info btn-mini addLang" inputLangsName="remark">添加</a>
                                                </td>
                                                <td style="text-align: left;width: 300px">
                                                    <a class="btn btn-info btn-mini removeRow">删除</a>
                                                </td>
                                            </tr>

                                            <tr class="rowSpanExample" style="display: none">
                                                <td>
                                                    <span class="paramId"></span> : <span class="key"></span>
                                                    <input name="paramId" type="hidden" value="$!param.id"
                                                           style="width: 200px" readonly>
                                                </td>
                                                <td><span class="name"></span></td>
                                                <td><span class="defaultValue"></span></td>
                                                <td>

                                                    <span class="dataType"></span>
                                                </td>
                                                <td>
                                                    <span class="editable"></span>
                                                </td>
                                                <td>
                                                    <span class="nullable"></span>
                                                </td>
                                                <td>
                                                    <span class="remark"></span>
                                                </td>
                                                <td style="stext-align: left;width: 300px">
                                                    <a class="btn btn-info btn-mini removeRow">删除</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    #if($!optype==2 || $!optype==1)
                                        <button type="button" class="btn btnSave btn-success">保存
                                        </button>
                                    #elseif($!optype==3)
                                        <a href="edit?optype=2&id=$!entity.id" class="btn btn-info">编辑</a>
                                    #end
                                    <a class="btn btn-primary" href="list">返回</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--***************************************模态框begin*************************************************************-->
<div id="parameterModal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>参数选择</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">可选参数列表</label>
            <div class="controls">
                <select class="span5 select2" id="selectedParamId" name="selectedParamId"
                >
                    #foreach($param in $!selectableParams)
                        <option value="$!param.id">
                             key:  $!param.key ; 属性名:  $!param.name.key 备注:$!param.note
                        </option>
                    #end
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" id="parameterSave" class="btn btn-primary">保存</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>




<div id="selectLangsModal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>多语言选择</h3>
    </div>
    <div class="modal-body">

        <div class="control-group">
            <label class="control-label">多语言分类</label>
            <div class="controls">
                <select class="span5 select2"  name="langsCategoryId" onchange="dictionaryList()">
                    <option value="0">全部</option>
                    #foreach($e in $!selectableLangsCategory)
                        <option value="$!e.id">$!e.name</option>
                    #end
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">多语言列表</label>
            <div class="controls">
                <select class="span5 select2" id="langsKey" name="selectedLangsKey">
#*                    #foreach($lang in $!selectableLangs)
                        <option value="11">全部</option>
                        <option value="$!lang.id">
                           key:
                        </option>
                    #end*#
                </select>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" id="selectLangSave" class="btn btn-primary">保存</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>









<div id="addLangsModal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>多语言添加</h3>
    </div>
    <div class="modal-body">

        <div class="control-group">
            <label class="control-label">keyCode</label>
            <div class="controls">
                <input for="name" name="keyCode" type="text" class="span5"
                       value="$!entity.keyCode">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">多语言分类</label>
            <div class="controls">
                <select class="span5 select2 " name="categoryId">
                    #foreach($e in $!selectableLangsCategory)
                        <option value="$!e.id">$!e.name</option>
                    #end
                </select>
            </div>
        </div>


        #foreach($langCountry in $!langsCountries)
            <div class="control-group">
                <label class="control-label">$!langCountry.desc ($!langCountry.value)</label>
                <div class="controls">
                    <input name="$!langCountry.key" type="text" class="span5 countryLanguage">
                </div>
            </div>
        #end

    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" id="addLangSave" class="btn btn-primary">保存</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>




</body>
    #include("common/js-support.vm")
    #include("common/image-support.vm")
<script src="/dist/js/cascade-select.js"></script>
<script type="text/javascript">
    /**
     * 根据下拉选择的分类填充语言列表
     */
    function dictionaryList(){
        var id = $("select[name='langsCategoryId']").val();
        console.log(id);
        $.ajax({
            url: '/langsDictionary/api/list',
            data: { id : id},
            type: 'post',
            dataType: 'json',
            success: function (result) {
                if (result.code == 0) {
                    // langsKey
                    console.log(result.data);
                    $("#langsKey").empty();
                    var langsDictionarys = result.data;
                    for(var i=0;i<langsDictionarys.length;i++){
                        var option = "<option value='"+langsDictionarys[i].id+"'>"+langsDictionarys[i].language+"</option>";
                        $("#langsKey").append(option);
                    }
                } else {
                    alert(result.msg);
                }
            }
        });
    }

    $(document).ready(function () {

        var type = $!optype;
        var currLangInput;
        var inputRowExample = $(".inputRowExample").html();
        var spanRowExample = $(".rowSpanExample").html();

        if (type == 3) {
            $(":text").attr("disabled", "disabled");
            $("select").attr("disabled", "disabled");
            $(".removeRow").css("display",  "none");
            $(".addRow").css("display", "none");
            $(".selectParameter").css("display", "none");
        }

        $(".btnSave").click(function () {
            $(".inputRowExample").remove();
            $(".rowSpanExample").remove();
            var form = $(".templateFormValidate");
            var request = {};
            var list = [];
            var paramIds = [];
            $(".editRow").each(function (i, o) {
                var templateParameterRequest = {};
                templateParameterRequest.name = $(o).find("input[name='name']").val();
                templateParameterRequest.key = $(o).find("input[name='key']").val();
                templateParameterRequest.defaultValue = $(o).find("input[name='defaultValue']").val();
                templateParameterRequest.type = $(o).find("select[name='dataType']").val();
                templateParameterRequest.editable = $(o).find("select[name='editable']").val();
                templateParameterRequest.nullable = $(o).find("select[name='nullable']").val();
                templateParameterRequest.remark = $(o).find("input[name='remark']").val();
                list.push(templateParameterRequest);
            });
            $("input[name='paramId']").each(function (i, o) {
                paramIds.push($(o).val());
            });
            $("select[name='selectedParamIds']").each(function (i, o) {
                request.selectedParamIds = $(o).val();
            });
            request.title = $("input[name='title']").val();
            request.countryId = $("select[name='countryId']").val();
            request.templateType = $("select[name='templateType']").val();
            request.type = $("input[name='type']").val();
            request.id = $("input[name='id']").val();
            request.paramIds = paramIds;
            request.list = list;
            $.ajax({
                url: 'saveTemplate',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        alert("操作成功");
                        window.location.href = "/contractTemplate/edit?optype=3&id=" + result.data;
                    } else {
                        alert(result.msg);
                    }
                }
            });
        });

        $("#mytable").delegate(".removeRow", "click", function (e) {
            var currEle = e.currentTarget;
            $(currEle).parent().parent().remove();
        });

        $("#mytable").delegate(".addRow", "click", function (e) {
            var table = $("#mytable");
            //var trHTML=$("tr[name='firstRow']").eq(0).prop('outerHTML');
            var trHTML = "<tr class='editRow'>" + inputRowExample + "</tr>";
            table.append(trHTML);
        });

        $("#mytable").delegate(".selectParameter", "click", function (e) {
            $('#parameterModal').modal('show');

        });

        $("#parameterSave").on("click", function () {
            var lastInputRow= $('#mytable .editRow').eq(0);
            var table = $("#mytable");
            var trHTML = "<tr class='rowSpan'>" + spanRowExample + "</tr>";
            $(trHTML).insertBefore(lastInputRow);
            var selectedParamId=$("select[name='selectedParamId']").val();
            console.log("selectedParamId:" + selectedParamId);
            var request={};
            request.selectedParamId=selectedParamId;
            $.ajax({
                url: 'getParameterDetail',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        var parameter=result.data;
                        console.log("result:" + result.data.name)
                        //var lastTr= $('#mytable tr:last');  //var lastTr= $(trHTML);//$('#mytable tr:id')   $("input[name='paramId']")不为空的上一个
                        var lastTr=$('#mytable .rowSpan:last');
                        var dateTypeText="";
                        if(parameter.type==1){
                            dateTypeText="文本";
                        }else if(parameter.type=2){
                            dateTypeText="整数";
                        }else if(parameter.type=3){
                            dateTypeText="小数";
                        }else if(parameter.type=4){
                            dateTypeText="日期";
                        }
                        var editableText="";
                        if(parameter.editable){
                            editableText="是";
                        }else{
                            editableText="否";
                        }
                        var nullableText="";
                        if(parameter.nullable){
                            nullableText="是";
                        }else{
                            nullableText="否";
                        }
                        lastTr.find("span[class='key']").html(parameter.key);
                        lastTr.find("span[class='paramId']").html(parameter.id);
                        lastTr.find("input[name='paramId']").val(parameter.id);
                        lastTr.find("span[class='name']").html(parameter.name.key);
                        lastTr.find("span[class='defaultValue']").html(parameter.defaultvalue);
                        lastTr.find("span[class='dataType']").html(dateTypeText);
                        lastTr.find("span[class='editable']").html(editableText);
                        lastTr.find("span[class='nullable']").html(nullableText);
                        lastTr.find("span[class='remark']").html(parameter.remark);
                        $('#parameterModal').modal('hide');
                    } else {
                        alert(result.msg);
                    }
                }
            });
        });

        $("#mytable").delegate(".selectLang", "click", function (e) {
            var currEle = e.currentTarget;
            var name=$(currEle).attr("inputLangsName");
            var td = $(currEle).parent().parent();
            currLangInput = td.find("input[name='"+name+"']");
            dictionaryList();
            $('#selectLangsModal').modal('show');
        });


        $("#selectLangSave").on("click", function () {
            var langsKey=$("#langsKey").val();
            console.log(langsKey);
            langsKey=$("#langsKey").val();;
            currLangInput.val(langsKey);
            $('#selectLangsModal').modal('hide');
        });

        $("#mytable").delegate(".addLang", "click", function (e) {
            var currEle = e.currentTarget;
            var name=$(currEle).attr("inputLangsName");
            var td = $(currEle).parent().parent();
            currLangInput = td.find("input[name='"+name+"']");
            $('#addLangsModal').modal('show');
        });

        $("#addLangSave").on("click", function () {
            var langsKey="add";
            currLangInput.val(langsKey);

            var request = {};
            var langsMessageList=[];
            $(".countryLanguage").each(function (i, o) {
                var countryLanguage = {};
                alert($(o).attr("name"));
                alert($(o).val());
                countryLanguage.langsKey=$(o).attr("name");
                countryLanguage.message=$(o).val();
                langsMessageList.push(countryLanguage);
            });
            request.id = $("input[name='id']").val();
            request.message = $("input[name='message']").val();
            request.keyCode = $("input[name='keyCode']").val();
            request.categoryId = $("input[name='categoryId']").val();
            request.langsMessageList=langsMessageList;
            $.ajax({
                url: 'saveLangsDictionary',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        alert("操作成功");
                    } else {
                        alert(result.msg);
                    }
                }
            });


            $('#addLangsModal').modal('hide');
        });






















        $(".templateFormValidate").validate({
            rules: {
                sort: {
                    digits: true
                },
                title: {
                    maxlength: 50
                },
                source: {
                    required: true, maxlength: 20
                }
            },
            errorPlacement: function (error, element) {
                $(element)
                        .closest("form")
                        .find(element)
                        .after(error);
            },
            errorElement: "span"
        });


    });

</script>
</html>
