#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
    <a href="../rank/list" class="tip-bottom" data-original-title="">榜单管理</a>
    <a href="#" class="tip-bottom" data-original-title="">列表</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>榜单列表</h5>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>城市名称</th>
        <th>排行</th>
        <th>显示</th>
        <th>类型</th>
        <th>类型名称</th>
        <th class="table-set">操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($entity in $!page.content)
        <tr class="odd gradeX">
            <td>$!entity.id</td>
            <td>
                <a href="$!link.requestPath/city/edit?type=3&id=$!entity.city.id" class="alink"> $!entity.city.name</a>
            </td>
            <td>$!entity.sort</td>
            <td>
                #if($!entity.display)
                    显示
                #else
                    隐藏
                #end
            </td>

                #if($!entity.objtype==1)
                    <td>商家</td>
                    <td>商家:$!entity.merchant.id : $!entity.merchant.name</td>
                #else
                    <td>团购</td>
                    <td>团购:$!entity.item.id : $!entity.item.name</td>
                #end
            <td>
                <a href="edit?type=2&id=$!entity.id" class="btn btn-success btn-mini">编辑</a>
                <a href="edit?type=3&id=$!entity.id" class="btn btn-info btn-mini">查看</a>
            </td>
        </tr>
        #end
    </tbody>
</table>
<div class="form-actions">
    <a class="btn btn-info" href="edit?type=1">新增</a>
</div>
#parse("common/list_mid.vm")
<form class="am-form am-form-inline zy-search" role="form" id="itemCatForm" method="get">
    <div class="control-group">
        <label>国家</label>
        <select name="country.id" class="span11 parent" target-name="city.id" target-url="/city/api/getCitys">
            <option value="">全部</option>
            #foreach($e in $!countries)
                <option value="$!e.id" #if($!entity.country.id==$!e.id) selected #end>$!e.id:$!e.name</option>
            #end
        </select>
    </div>

    <div class="control-group">
        <label>城市</label>
        <select name="city.id" class="span11 child" def-value="$!entity.city.id">
            <option value="">全部</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">查询</button>
</form>
#parse("common/list_end.vm")

<script src="/dist/js/cascadeAll.js"></script>


