<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 菜单管理</title>
    #include("common/css-support.vm")
</head>
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <div id="breadcrumb">
                <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
                <a href="../city/list" class="tip-bottom" data-original-title="">榜单管理</a>
                <a href="javascipt:void(0)" class="tip-bottom" data-original-title="">编辑/查看</a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>榜单编辑&查看</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form action="update" method="post" class="form-horizontal " role="form" id="cityform">
                                <div class="control-group">
                                    <span class="col-sm-2 control-label">ID</span>
                                    <div class="controls">
                                        #if($!type==2)
                                            <input name="id" readonly type="text" class="form-control" placeholder="ID"
                                                   value="$!entity.id">
                                        #end
                                        #if($!type==3)
                                            <label>$!entity.id</label>
                                        #end
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">排行</label>
                                    <div class="controls">
                                        <input for="sort" name="sort" type="text" class="span7" placeholder="排行"
                                               value="$!entity.sort">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">类型</label>
                                    <div class="controls">
                                        <select id="objtype" name="objtype">
                                            <option value="1" #if($!entity.objtype == 1) selected #end>商户</option>
                                            <option value="2" #if($!entity.objtype == 2) selected #end>团购</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">类型值(商户/团购))</label>
                                    <div class="controls">
                                        #if($!entity.objtype == 1)
                                            <input for="merchantValue" name="merchantValue" type="text" class="span7"
                                                   placeholder="类型值"
                                                   value="商家:$!entity.merchant.id : $!entity.merchant.name">

                                            <button class="btn btn-success setDetail" type="button">设置商户值</button>
                                        #end
                                        #if($!entity.objtype == 2)
                                            <input for="tuanValue" name="tuanValue" type="text" class="span7"
                                                   placeholder="类型值"
                                                   value="团购:$!entity.item.id : $!entity.item.name">

                                            <button class="btn btn-success " type="button">设置团购值</button>
                                        #end

                                        <input for="objid" name="objid" type="text" class="span7" placeholder="类型值"
                                               value="$!entity.objid">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">国家</label>
                                    <div class="controls">
                                        <select id="country.id" name="country.id" class="span7 selector parent"
                                                method="/city/api/getCitys">
                                            <option value="">请选择</option>
                                            #foreach($e in $!countries)
                                                <option value="$!e.id" #if($!entity.country.id==$!e.id)
                                                        selected #end>$!e.id:$!e.name</option>
                                            #end
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">城市</label>
                                    <div class="controls">
                                        <select id="city.id" name="city.id" class="span7 selector child"
                                                data-value="$!entity.city.id">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">是否显示</label>
                                    <div class="controls">
                                        <select id="display" name="display" class="span7 selector">
                                            <option value="true"  #if($!entity.display==true)  selected #end>显示</option>
                                            <option value="false"  #if($!entity.display==false)  selected #end>隐藏
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    #if($!type==2 || $!type==1)
                                        <button type="submit" class="btn btn-success">保存</button>
                                    #end
                                    #if($!type==3)
                                        <a href="edit?type=2&id=$!entity.id" class="btn btn-info">编辑</a>
                                    #end
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #include("common/js-support.vm")
    <script src="/dist/js/cascade-select.js"></script>
</body>
</html>