#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom"><i class="icon-home"></i>主页</a>
    <a href="#" class="tip-bottom">优惠券分类</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>优惠券分类</h5>
    <a class="btn btn-mini btn-info buttons" href="add">新增</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>组名称</th>
        <th>描述</th>
        <th>价格</th>
        <th>有效天数</th>
        <th>起始限额</th>
        <th class="table-set" width="42px">操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($e in $!page.content)
        <tr>
            <td>$!e.id</td>
            <td>$!e.title</td>
            <td>$!e.couponGroup.name</td>
            <td>$!e.intro</td>
            <td>$!e.price</td>
            <td>$!e.availableDays</td>
            <td>$!e.startPrice</td>
            <td><a href="edit?id=$!e.id" class="btn btn-info btn-mini">编辑</a></td>
        </tr>
        #end
    </tbody>
</table>
<!--列表结束-->

#parse("common/list_mid.vm")

<form class="form-horizontal " method="get">
    <div class="control-group">
        <label>标题 或ID</label>
        <input type="text" class="span11" name="nameOrId" value="$!nameOrId">
    </div>
    <div class="control-group">
        <label>分组</label>
        <select id="couponGroup.id" name="couponGroup.id" class="span7">
            <option value="">全部</option>
            #foreach($e in $!couponGroups)
                <option value="$!e.id" #if($!entity.couponGroup.id==$!e.id) selected #end>$!e.id:$!e.name</option>
            #end
        </select>
        <label>类型</label>
        <select name="type">
            <option value="">全部</option>
            #foreach($e in $!types)
                <option value="$!e">$!e.name</option>
            #end
        </select>
    </div>
    <div class="control-group">
        <button type="submit" class="btn btn-primary">查询</button>
    </div>
</form>

#parse("common/list_end.vm")