<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 菜单管理</title>

    #include("common/css-support.vm")

    <style>
        .form-horizontal .control-label {
            padding-top: 15px;
            width: 140px;
        }

        .form-horizontal .controls {
            margin-left: 180px;
            padding: 10px 0;
        }
    </style>
</head>
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <div id="breadcrumb">
                <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
                <a href="list" class="tip-bottom" data-original-title="">多语言管理</a>
                <a href="javascipt:void(0)" class="tip-bottom" data-original-title="">编辑/查看</a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6" style="width: 80%;min-width:994px;">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>编辑&查看</h5>
                        </div>
                        <form class="form-horizontal langsDicFormValidate" role="form">

                            <div class="nopadding" style="width: 100%;">
                                <div class="fl" style="border-right:1px solid #eeeeee;box-sizing:border-box;width:50%;">
                                #*<div class="control-group">*#
                                    <div class="">
                                        <label class="control-label">keyCode：</label>
                                        <div class="controls">
                                            <input for="name" name="keyCode" type="text" class="span7"
                                                   readonly="readonly"
                                                   value="">
                                        </div>
                                    </div>
                                    <div class="">
                                        <label class="control-label">多语言分类
                                            <font style="color: red;margin: 0px;padding: 5px;">*</font>：
                                        </label>
                                        <div class="controls">
                                            <select class="span7 select2 " name="categoryId"
                                                    onchange="keyCodeRealTime()">
                                                #foreach($e in $!selectableLangsCategory)
                                                    <option value="$!e.id">$!e.name</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>


                                    #foreach($langCountry in $!langsCountries)
                                        <div class="">
                                            <label class="control-label">$!langCountry.desc
                                                ($!langCountry.value)
                                                #if($!langCountry.key == 1 || $!langCountry.key == 2)
                                                    <font style="color: red;margin: 0px;padding: 5px;">*</font>
                                                #end
                                                ：</label>
                                            <div class="controls">
                                                <input name="$!langCountry.key" type="text"
                                                       class="span7 countryLanguage">
                                                <label id="requiredKey_$!langCountry.key" class="control-label"
                                                       style="width:80px;display:none;padding-right: 8em;float: right;color:red;text-align: left;padding-top: 5px;">必填项</label>
                                            </div>
                                        </div>
                                    #end

                                </div>

                                <div class="fr" style="width:50%">
                                    <div class="">
                                        <label class="control-label">备注：</label>
                                        <div class="controls">
                                            <textarea placeholder="图文备注" class="form-control" id="remark" rows="10"
                                                      cols="5"
                                                      style="resize: none;"></textarea>
                                            <label name="remark" class="control-label"
                                                   style="width:110px;display:none;padding-right: 8em;float: right;color:red;text-align: left;padding-top: 5px;">备注不能为空</label>
                                        </div>
                                    </div>
                                    <form role="form" id="uploadForm" action="/langsMessageTip/uploadImg" name="uploadForm" enctype="multipart/form-data">
                                        <div class="">
                                            <label class="control-label">文件：</label>
                                            <div class="controls">
                                                <input id="lefile" name="file" type="file" style="display:none">
                                                <div class="input-append">
                                                    <input id="photoCover" class="span3" type="text" style="width:50%;">
                                                    <a class="btn span4" style="background-color: #eee;"
                                                       onclick="$('input[id=lefile]').click();"><i
                                                            class="icon-folder-open"
                                                            style="padding-right"></i>预览文件</a>
                                                </div>
                                                <label name="lefile" class="control-label"
                                                       style="width:110px;display:none;padding-right: 8em;float: right;color:red;text-align: left;padding-top: 5px;">请选择图片</label>
                                            </div>
                                        </div>
                                    </form>
                                    <div style="clear:both;text-align: center">
                                        <a onclick="addLangsMessageTip()"
                                           style="width: 100px;background-color: #10a782;"
                                           class="btn btn-info">上传图文备注</a>
                                    </div>
                                </div>

                                <div class="form-actions" style="clear:both;text-align: center">
                                    <a onclick="modifyLangsDictionary()" class="btn btn-info">确定</a>
                                    <a class="btn btn-primary" href="list">返回</a>
                                </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    #include("common/js-support.vm")

    <script type="text/javascript">
        $(document).ready(function () {
            /**
             * @description 查询要编辑的语言信息
             */
            var request = {};
            request.keyCode = getUrlParam("keyCode");
            $.ajax({
                url: 'viewLangsDictionary',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        console.log(result.data);
                        var langsDictionaryVo = result.data;
                        var keyCode = langsDictionaryVo.keyCode;
                        var categoryId = langsDictionaryVo.categoryId;

                        $("select[name='categoryId']").find("option[value='" + categoryId + "']").attr("selected", true);
                        $(".select2-selection__rendered").html($("select[name='categoryId']").find("option[value='" + categoryId + "']").text());

                        var langsMessageList = langsDictionaryVo.langsMessageList;
                        for (var i = 0; i < langsMessageList.length; i++) {
                            var langsMessage = langsMessageList[i];
                            $("input[name='" + langsMessage.langsKey + "']").val(langsMessage.message);
                        }

                        // 拼接KeyCode
                        var requiredUS = $("input[name='1']").val();
                        // 如果是英文,则要增加改变事件,用来改变keyCode
                        $("input[name='1']").attr("onchange", "keyCodeRealTime()");

                        // keyCode初始化值
                        $("input[name='keyCode']").val("mch_" + categoryId + requiredUS);

                    } else {
                        alert("操作失败:" + result.msg);
                    }
                }
            });

            // file 上传文件
            $('input[id=lefile]').change(function () {
                $('#photoCover').val($(this).val());
            });

        });

        /**
         * 上传图文消息
         */
        function addLangsMessageTip() {
            var keyCode = getUrlParam("keyCode");
            var remark = $("textarea[id='remark']").val();
            var imgUrl = $("input[id='lefile']").val();

            if (remark == null || remark == "") {
                $("label[name='remark']").show();
                $("textarea[id='remark']").css("border", "1px solid red");
                return false;
            } else if (imgUrl == null || imgUrl == "") {
                $("label[name='remark']").hide();
                $("textarea[id='remark']").css("border", "");
                $("label[name='lefile']").show();
                return true;
            } else {
                $("label[name='lefile']").hide();
            }

            console.log($("#uploadForm").attr("action"));
            $("#uploadForm").ajaxSubmit({
                type: 'post',
                url: "/langsMessageTip/uploadImg",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (result) {
                    if (result.code == 0) {
                        alert("操作成功!");
                    }
                }
            });

/*            var request = {};

            request.keyCode = keyCode;
            request.remark = remark;
            request.imgUrl = imgUrl;

            $.ajax({
                url: '/langsMessageTip/add',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        alert("操作成功!");
                    }
                }
            });*/

        }

        /**
         * 实时更新keyCode展示
         */
        function keyCodeRealTime() {
            // 拼接KeyCode
            var requiredUS = $("input[name='1']").val();
            // 如果是英文,则要增加改变事件,用来改变keyCode
            $("input[name='1']").attr("onchange", "keyCodeRealTime()");
            // 选择的分类
            var categoryId = $("select[name='categoryId']").val();
            // keyCode初始化值
            if (requiredUS != null) {
                $("input[name='keyCode']").val("mch_" + categoryId + requiredUS);
            }
        }

        /**
         * 检验必填项
         */
        function checkRequiredParams() {
            var requiredUS = $("input[name='1']").val();
            var requiredZH = $("input[name='2']").val();

            if (requiredUS == null || requiredUS == "") {
                $("#requiredKey_1").show();
                $("input[name='1']").css("border", "1px solid red");
                return false;
            } else if (requiredZH == null || requiredZH == "") {
                $("#requiredKey_2").show();
                $("input[name='2']").css("border", "1px solid red");
                return false;
            } else {
                $("#requiredKey_1").hide();
                $("input[name='1']").css("border", "");
                $("#requiredKey_2").hide();
                $("input[name='2']").css("border", "");
                return true;
            }
            return true;
        }

        /**
         * 修改语言
         */
        function modifyLangsDictionary() {
            keyCodeRealTime();
            var checkResult = checkRequiredParams();
            if (!checkResult) {
                return false;
            }
            var request = {};
            request.keyCode = getUrlParam("keyCode");
            request.newKeyCode = $("input[name='keyCode']").val();
            request.categoryId = Number($("select[name='categoryId']").val());

            // 页面所有的语言message
            var countryLanguages = $("input[class='span7 countryLanguage']");
            // langsMessageList
            var langsMessageList = [];
            for (var i = 0; i < countryLanguages.length; i++) {
                var countryLanguage = countryLanguages.eq(i);
                // keyCode
                var langsKey = countryLanguage.attr("name");
                // message
                var message = countryLanguage.val().trim();
                var langsCountryMessageVo = {
                    langsKey: langsKey,
                    message: message
                };
                langsMessageList.push(langsCountryMessageVo);
            }
            // 封装LangsDictionaryVo传输约束
            request.langsMessageList = langsMessageList;

            $.ajax({
                url: 'modifyLangsDictionary',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        alert("操作成功!");
                        location.href = "list";
                    }
                }
            });

        }

        //获取url中的参数
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

    </script>
</body>
</html>
