#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
    <a href="list" class="tip-bottom" data-original-title="">多语言管理</a>
    <a href="#" class="tip-bottom" data-original-title="">列表</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>多语言列表</h5>
    <a class="btn btn-mini btn-info buttons" href="add">新增</a>
    #*<a class="btn btn-mini btn-info buttons" onclick="langsCommonDialog()">通用新增</a>*#
</div>
<style>
    .tdInput {
        width: 75%;
    }

    .text-gray {
        background-color: grey;
    }

    #select2-categoryId-xe-container {
        min-width: 180px;
    }
</style>
<div style="overflow: auto;width: 100%">
    <table class="table table-bordered data-table dataTable" id="DataTables_Table_0">
        <thead role="row">
        <tr>
            <th>分类</th>
            <th>keyCode</th>
            #foreach($langCountry in $!langsCountries)
                <th>$!langCountry.desc ($!langCountry.value)</th>
            #end
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($entity in $!page)
            <tr class="odd gradeX">
                <td style="width: 10%;"><label style="text-align: center;padding-top: 5%">$!entity.categoryName</label>
                </td>
                <td style="width: 10%;"><label style="text-align: center;padding-top: 5%">$!entity.keyCode</label></td>
                #foreach($langCountry in $!langsCountries)
                    <td class="lang-message" key-code="$!entity.keyCode" langs-key="$!langCountry.key"
                        style="width: 10%">
                        #set($hasNullMessage=true)
                        #foreach($lang in $!entity.langsMessageList)
                            #if($!lang.langsKey == $!langCountry.key)
                                <label style="text-align: center;padding-top: 5%">$!lang.message</label>
                                #set($hasNullMessage=false)
                            #end
                        #end
                        #if($hasNullMessage)
                            <input style="padding-top: 5%" class='tdInput' onchange='saveMessage(this)' type='text'
                                   placeholder=''/>
                        #end
                    </td>
                #end
                <td>
                    <div style="text-align: center">
                        <a key-code="$!entity.keyCode" class="btn btn-primary btn-mini modify-item">编辑</a>
                        <a key-code="$!entity.keyCode" class="btn btn-danger btn-mini remove-item">删除</a>
                    </div>
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>

<!--***************************************通用新增语言*************************************************************-->
<div id="parameterModal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>新增多语言</h3>
    </div>
    <div class="modal-body">
        <form action="update" method="post" class="form-horizontal langsDicFormValidate" role="form"
              id="langsInput">
            <div class="control-group">
                <label class="control-label">
                    keyCode<font style="color: red;margin: 0px;padding: 5px;">*</font>：</label>
                <div class="controls">
                    <input id="verify_keyCode" type="text" style="display: none" value="" onkeyup="verifykeyCode()">
                    <input for="name" id="keyCode" readonly="readonly"
                           class="span7" name="keyCode" type="text"
                           value="$!entity.keyCode" onblur="verifykeyCode()">
                    <label id="keyCodeStatus" class="control-label"
                           style="display:none;padding-right: 8em;float: right;color:red;text-align: left;padding-top: 5px;">KeyCode重复</label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">多语言分类</label>
                <div class="controls">
                    <select class="span7 select2 " id="categoryId" name="categoryId" onchange="keyCodeRealTime()">
                        <option value="" selected="selected">全部分类</option>
                        #foreach($e in $!categories)
                            <option value="$!e.id">$!e.name</option>
                        #end
                    </select>
                </div>
            </div>

            #foreach($langCountry in $!langsCountries)
                #if($!langCountry.key == 1 || $!langCountry.key == 2)
                    <div class="control-group">
                        <label class="control-label">
                            $!langCountry.desc ($!langCountry.value)
                            <font style="color: red;margin: 0px;padding: 5px;">*</font>
                            ：</label>
                        <div class="controls">
                            #if($!langCountry.key == 1 || $!langCountry.key == 2)
                                <input name="$!langCountry.key" data-key="$!langCountry.key" type="text"
                                       onkeyup="keyCodeRealTime()" data-name="langs"
                                       class="span7 countryLanguage">
                            #end
                            <label id="requiredKey_$!langCountry.key" class="control-label"
                                   style="width:80px;display:none;padding-right: 8em;float: right;color:red;text-align: left;padding-top: 5px;">必填项</label>
                        </div>
                    </div>
                #end
            #end
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" id="common_langs_saveBtn" onclick="saveLangsDictionary()" class="btn btn-primary">保存</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>
<!--***************************************通用新增语言*************************************************************-->

#parse("common/list_mid.vm")
<form class="form-horizontal " method="get" action="list">
    <div class="control-group">
        <label>分类</label>
        <select class="span7 select2 " name="baseNameId" style="min-width: 203px;">
            <option value="">全部分类</option>
            #foreach($e in $!categories)
                <option value="$!e.id">$!e.name</option>
            #end
        </select>
    </div>

    <div class="control-group">
        <label>keyCode</label>
        <input type="text" class="span11" name="keyCode" value="$!entity.keyCode">
    </div>
    <div class="control-group">
        <label>内容</label>
        <input type="text" class="span11" name="message" value="$!entity.message">
    </div>


    <div class="control-group" style="clear: both;margin-top: 10px;">
        <button type="submit" class="btn btn-primary">查询</button>
        <a onclick="reset()" class="btn btn-primary" style="background-color: #8b8c8c">重置</a>
    </div>
</form>

#parse("common/list_end.vm")

<script>
    /** ########################多语言common弹出框增加######################## */
    /**
     * 通用弹窗
     */
    var localeLangs = false;
    function langsCommonDialog() {
        $("input[id='keyCode']").val("");
        $("input[data-name='langs']").val("");
        $("#categoryId").val("");
        $("#select2-categoryId-container").html("全部分类");

        $("#keyCodeStatus").hide();
        $("#common_langs_saveBtn").attr("style", "");
        $("#keyCode").css("border", "");
        $("#common_langs_saveBtn").attr("onclick", "saveLangsDictionary()");

        $('#parameterModal').modal('show');
        $("span[dir='ltr']").attr("style", "min-width: 180px;");

        $.ajax({
            url: 'viewLocalLanguage',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                if (result.code == 0) {
                    if (result.data != null && localeLangs == false) {
                        localeLangs = true;
                        // 如果不是必填项中文和英文
                        var langsCountry = result.data;
                        if (langsCountry.langsValue != "zh-CN" && langsCountry.langsValue != "en-US") {
                            var localeInputHtml = "<div class='control-group'>"
                                    + "<label class='control-label'>"
                                    + langsCountry.langsDesc + (langsCountry.langsValue)
                                    + "：</label>"
                                    + " <div class='controls'>"
                                    + " <input name='" + langsCountry.langsCountryKey + "' data-key='" + langsCountry.langsCountryKey + "' type='text' onkeyup='keyCodeRealTime()' data-name='langs' class='span7 countryLanguage'>"
                                    + " </div>"
                                    + "</div>";
                            $("#langsInput").append(localeInputHtml);

                        }
                    }
                }
            }
        });
    }
    /**
     * 验证keyCode是否重复
     */
    function verifykeyCode() {
        var request = {};
        var keyCode = $("input[id='verify_keyCode']").val();

        request.keyCode = keyCode;
        $.ajax({
            url: 'verifykeyCode',
            data: JSON.stringify(request),
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                if (result.code == 0) {
                    if (!result.data) {
                        $("#keyCodeStatus").show();
                        $("#common_langs_saveBtn").attr("onclick", "");
                        $("#keyCode").css("border", "1px solid red");
                        $("#common_langs_saveBtn").attr("style", "background-color: gray;");
                    } else {
                        $("#keyCodeStatus").hide();
                        $("#common_langs_saveBtn").attr("style", "");
                        $("#keyCode").css("border", "");
                        $("#common_langs_saveBtn").attr("onclick", "saveLangsDictionary()");
                    }
                }
            }
        });
    }
    /**
     * 检验必填项
     */
    function checkRequiredParams() {
        var requiredUS = $("input[name='1']").val();
        var requiredZH = $("input[name='2']").val();
        var categoryId = $("select[name='categoryId']").val();

        if (requiredUS == null || requiredUS == "") {
            $("#requiredKey_1").show();
            $("input[name='1']").css("border", "1px solid red");
            return false;
        } else if (requiredZH == null || requiredZH == "") {
            $("#requiredKey_2").show();
            $("input[name='2']").css("border", "1px solid red");
            return false;
        } else if (categoryId == null || categoryId == "") {
            alert("请选择分类!");
            return false;
        } else {
            $("#requiredKey_1").hide();
            $("input[name='1']").css("border", "");
            $("#requiredKey_2").hide();
            $("input[name='2']").css("border", "");
            return true;
        }
        return true;
    }

    /**
     * 保存多语言
     */
    function saveLangsDictionary() {
        keyCodeRealTime();

        var checkResult = checkRequiredParams();
        if (!checkResult) {
            return false;
        }

        var request = {};

        request.keyCode = $("input[id='keyCode']").val();
        request.categoryId = parseInt($("select[name='categoryId']").val());

        var langsMessageList = [];
        var keyCodes = $("input[data-name='langs']");

        for (var i = 0, j = keyCodes.length; i < j; i++) {
            var keyCodeInput = keyCodes[i];
            var langsKey = parseInt(keyCodeInput.getAttribute("data-key"));
            var message = keyCodeInput.value;
            var langsCountryMessageVo = {langsKey: langsKey, message: message};
            langsMessageList.push(langsCountryMessageVo);
        }

        request.langsMessageList = langsMessageList;

        $.ajax({
            url: 'saveLangsDictionary',
            data: JSON.stringify(request),
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                if (result.code == 0) {
                    alert("操作成功");
                    $('#parameterModal').modal('hide');
                } else {
                    alert(result.msg);
                }
            }
        });
    }
    /**
     * 实时更新keyCode展示
     */
    function keyCodeRealTime() {
        // 拼接KeyCode
        var requiredUS = $("input[name='1']").val();
        // 如果是英文,则要增加改变事件,用来改变keyCode
        $("input[name='1']").attr("onchange", "keyCodeRealTime()");
        // 选择的分类
        var categoryId = $("select[name='categoryId']").val();
        // keyCode初始化值
        if (requiredUS != null) {
            var categoryName = $("select[name='categoryId']").find("option[value='" + categoryId + "']").text();
            $("input[name='keyCode']").val(categoryName + "_" + requiredUS);
            $("#verify_keyCode").attr("value", categoryName + "_" + requiredUS);
        }
        verifykeyCode();
    }
    /** ########################多语言common弹出框增加######################## */


     /**
     * 重置查询条件
     */
    function reset() {
        location.href = "list?baseNameId=&keyCode=&message=";
    }
    /**
     * 实时保存语言
     * @param obj
     */
    function saveMessage(obj) {
        console.log("输入的值:" + $(obj).val());
        console.log("对应的keyCode:" + $(obj).parent().attr("key-code"));
        console.log("对应的langsKey:" + $(obj).parent().attr("langs-key"));

        var request = {};
        request.langsKey = $(obj).parent().attr("langs-key");
        request.keyCode = $(obj).parent().attr("key-code");
        request.message = $(obj).val();
        $.ajax({
            url: 'saveMessage',
            data: JSON.stringify(request),
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                if (result.code == 0) {
                    // alert("操作成功");
                } else {
                    alert(result.msg);
                }
            }
        });

        $(obj).parent().html("<label style='text-align: center;padding-top: 5%'>" + $(obj).val() + "</label>");
    }

    /**
     * 弹出框修改语言
     */
    $("#DataTables_Table_0").delegate(".selectParameter", "click", function (e) {
        $('#parameterModal').modal('show');

    });

    /**
     * 删除语言
     */
    $(".remove-item").each(function (i, o) {
        $(o).on("click", function (event) {
            var keyCode = $(this).attr("key-code");
            if (confirm("确实要删除keyCode为(" + keyCode + ")的多语言记录吗?")) {
                sureRemoveLangsDictionary(keyCode);
            }
        });
    });

    /**
     * 修改语言
     */
    $(".modify-item").each(function (i, o) {
        $(o).on("click", function (event) {
            var keyCode = $(this).attr("key-code");
            location.href = "edit?keyCode=" + keyCode;
        });
    });

    function sureRemoveLangsDictionary(keyCode) {
        if (confirm("确实要删除keyCode为(" + keyCode + ")的多语言记录吗?")) {
            var request = {};
            request.keyCode = keyCode;
            $.ajax({
                url: 'remove',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        window.location.reload();
                    } else {
                        alert("操作失败:" + result.msg);
                    }
                }
            });
        }
    }

</script>



