#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
    <a href="list" class="tip-bottom" data-original-title="">多语言管理</a>
    <a href="#" class="tip-bottom" data-original-title="">列表</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>多语言列表</h5>
    <a class="btn btn-mini btn-info buttons" href="add">新增</a>
</div>
<style>
    .tdInput {
        width: 75%;
    }

    .text-gray {
        background-color: grey;
    }
</style>
<div style="overflow: auto;width: 100%">
    <table class="table table-bordered data-table dataTable" id="DataTables_Table_0">
        <thead role="row">
        <tr>
            <th>分类</th>
            <th>keyCode</th>
            #foreach($langCountry in $!langsCountries)
                <th>$!langCountry.desc ($!langCountry.value)</th>
            #end
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($entity in $!page)
            <tr class="odd gradeX">
                <td style="width: 10%;"><label style="text-align: center;padding-top: 5%">$!entity.categoryId</label></td>
                <td style="width: 10%;"><label style="text-align: center;padding-top: 5%">$!entity.keyCode</label></td>
                #foreach($langCountry in $!langsCountries)
                    <td class="lang-message" key-code="$!entity.keyCode" langs-key="$!langCountry.key"
                        style="width: 10%">
                        #set($hasNullMessage=true)
                        #foreach($lang in $!entity.langsMessageList)
                            #if($!lang.langsKey == $!langCountry.key)
                                <label style="text-align: center;padding-top: 5%">$!lang.message</label>
                                #set($hasNullMessage=false)
                            #end
                        #end
                        #if($hasNullMessage)
                            <input style="padding-top: 5%" class='tdInput' onchange='saveMessage(this)' type='text' placeholder=''/>
                        #end
                    </td>
                #end
                <td>
                    <div style="text-align: center">
                        <a key-code="$!entity.keyCode" class="btn btn-primary btn-mini modify-item">编辑</a>
                        <a key-code="$!entity.keyCode" class="btn btn-danger btn-mini remove-item">删除</a>
                    </div>
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>

<!--***************************************修改语言*************************************************************-->
<div id="parameterModal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>多语言编辑</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <div class="controls">
                #foreach($langCountry in $!langsCountries)
                    <div class="control-group">
                        <label>$!langCountry.desc </label>
                        <input type="text" class="span11" name="baseName" value="$!langCountry.value ">
                    </div>
                #end
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" id="parameterSave" class="btn btn-primary">保存</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>
<!--***************************************修改语言*************************************************************-->

#parse("common/list_mid.vm")
<form class="form-horizontal " method="get" action="list">
    <div class="control-group">
        <label>分类</label>
        <input type="text" class="span11" name="baseName" value="$!entity.baseName">
    </div>

    <div class="control-group">
        <label>keyCode</label>
        <input type="text" class="span11" name="keyCode" value="$!entity.keyCode">
    </div>
    <div class="control-group">
        <label>message</label>
        <input type="text" class="span11" name="message" value="$!entity.message">
    </div>


    <div class="control-group">
        <button type="submit" class="btn btn-primary">查询</button>
    </div>
</form>

#parse("common/list_end.vm")

<script>
    /**
     * 实时保存语言
     * @param obj
     */
    function saveMessage(obj) {
        console.log("输入的值:" + $(obj).val());
        console.log("对应的keyCode:" + $(obj).parent().attr("key-code"));
        console.log("对应的langsKey:" + $(obj).parent().attr("langs-key"));

        var request = {};
        request.langsKey = $(obj).parent().attr("langs-key");
        request.keyCode = $(obj).parent().attr("key-code");
        request.message = $(obj).val();
        $.ajax({
            url: 'saveMessage',
            data: JSON.stringify(request),
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                if (result.code == 0) {
                    // alert("操作成功");
                } else {
                    alert(result.msg);
                }
            }
        });

        $(obj).parent().html("<label style='text-align: center;padding-top: 5%'>" + $(obj).val() + "</label>");
    }

    /**
     * 弹出框修改语言
     */
    $("#DataTables_Table_0").delegate(".selectParameter", "click", function (e) {
        $('#parameterModal').modal('show');

    });

    /**
     * 删除语言
     */
    $(".remove-item").each(function (i, o) {
        $(o).on("click", function (event) {
            var keyCode = $(this).attr("key-code");
            if (confirm("确实要删除keyCode为(" + keyCode + ")的多语言记录吗?")) {
                sureRemoveLangsDictionary(keyCode);
            }
        });
    });

    /**
     * 修改语言
     */
    $(".modify-item").each(function (i, o) {
        $(o).on("click", function (event) {
            var keyCode = $(this).attr("key-code");
            location.href = "edit?keyCode=" + keyCode;
        });
    });

    function sureRemoveLangsDictionary(keyCode){
        if (confirm("确实要删除keyCode为(" + keyCode + ")的多语言记录吗?")) {
            var request = {};
            request.keyCode = keyCode;
            $.ajax({
                url: 'remove',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        window.location.reload();
                    } else {
                        alert("操作失败:" + result.msg);
                    }
                }
            });
        }
    }

</script>



