<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 菜单管理</title>

    #include("common/css-support.vm")
</head>
<body>
<div id="content" style="margin-top: 10px">
    <div id="content-header">
        <div id="breadcrumb">
            <div id="breadcrumb">
                <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i
                        class="icon-home"></i> 主页</a>
                <a href="localList" class="tip-bottom" data-original-title="">分类管理</a>
                <a href="javascipt:void(0)" class="tip-bottom" data-original-title="">编辑/查看</a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span10">
                    <div class="widget-box" style="width: 100%">
                        <div class="widget-title"><span class="icon"> <i
                                class="icon-align-justify"></i> </span>
                            <h5>编辑&查看</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form class="form-horizontal langsDicFormValidate">
                                <div class="nopadding" style="width: 100%;">
                                    <div class="fl"
                                         style="border-right:1px solid #eeeeee;box-sizing:border-box;width:50%;">
                                        <div class="">
                                            <label class="control-label" style="width: 140px;">
                                                <font style="color: red;margin: 0px;padding: 5px;">*</font>
                                                keyCode：</label>
                                            <div class="controls" style="margin-left: 170px;">
                                                <input for="name" name="keyCode" type="text"
                                                       class="span7" style="width: 85%"
                                                       readonly="readonly" value="$!dictionarys[0].keyCode">
                                            </div>
                                        </div>

                                        #set($num=0)
                                        #foreach($langCountry in $!langsCountries)
                                        <div class="">
                                            <label class="control-label" style="width: 170px;">
                                                #if($!langCountry.desc == "中文" || $!langCountry.desc == "英文")
                                                    <font style="color: red;margin: 0px;padding: 5px;">*</font>
                                                    $!langCountry.desc ($!langCountry.value)
                                                #end
                                                #if($!langCountry.desc != "中文" && $!langCountry.desc != "英文")
                                                    当地语($!langCountry.value)
                                                #end  ：
                                            </label>
                                            #if($!langCountry.desc == "中文" || $!langCountry.desc == "英文")
                                            <div class="controls" style="margin-left: 170px;">
                                            #end
                                            #if($!langCountry.desc != "中文" && $!langCountry.desc != "英文")
                                            <div class="controls" style="margin-left: 170px;" id="localLanguage"
                                                 data-key="$!langCountry.key"
                                                 data-value="$!langCountry.value">
                                            #end
                                            #foreach($dictionary in $!dictionarys)
                                                #if($!dictionary.langsCountryKey == $!langCountry.key)
                                                    #if($!langCountry.desc == "中文" || $!langCountry.desc == "英文")
                                                        <input type="text" value="$!dictionary.message"
                                                               style="width: 85%" data-id="$!dictionary.id"
                                                               class="span7 countryLanguage" readonly="readonly">
                                                    #else
                                                        <input type="text" value="$!dictionary.message"
                                                               style="width: 85%" data-id="$!dictionary.id"
                                                               id='localLanguageMess' class="span7 countryLanguage">
                                                    #end
                                                #end
                                            #end
                                            #set($num=$num+1)
                                            #if($!dictionarys.size() == 2 && $num == 3)
                                                <input type="text" value="" style="width: 85%"
                                                       id='localLanguageMess' class="span7 countryLanguage">
                                            #end
                                        </div>
                                        </div>
                                        #end
                                    </div>
                                    </div>
                                    <div class="fr" style="width:50%;float: left">
                                        <div class="">
                                            <label class="control-label"
                                                   style="min-width: 100px;max-width: 100px;">描述：</label>
                                            <div class="controls" style="margin-left: 80px">
                                            <textarea placeholder="图文描述" class="form-control" id="remark" cols="4"
                                                      rows="4" style="resize: none; width: 80%;"
                                                      readonly="readonly"></textarea>
                                            </div>
                                        </div>
                                        <div class="">
                                            <label class="control-label"
                                                   style="min-width: 100px;max-width: 100px;">场景图：</label>
                                            <div style="margin-left: 80px">
                                                <a href="#" id="imgUrlHref" target="_blank">
                                                    <img style="width: 250px;height: auto;display: none;margin: 15px 0px;" id="imgUrl"
                                                         src="">
                                                </a>
                                            </div>
                                            <div class="controls" id="noImg" style="margin-left: 80px;display: none">
                                                <input type="text" readonly value="暂无场景图" class="span7 countryLanguage"
                                                       style="width: 43%">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions" style="clear: both;text-align: center;">
                                        <input type="hidden" value="$!dictionaryVo.countryKey" name="countryKey"
                                               class="country-key"/>
                                        <button type="button" id="saveBtn"
                                                onclick="modifyLocalLangsDictionary()" #*onclick按钮点击事件*#
                                                class="btn btnSave btn-success"><i class="icon-edit"> 确定</i>
                                        </button>
                                        <a class="btn btn-primary" onclick="back()"><i class="icon-repeat"> 返回</i></a>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #include("common/js-support.vm")

    <script type="text/javascript">
        $(document).ready(function () {
            var request = {};
            request.keyCode = getUrlParam("keyCode");

            /**
             * 查询备注
             */
            $.ajax({
                url: '/langsMessageTip/viewLangsMessageTip',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        if (result.data != null) {
                            var remark = result.data.remark;
                            var imgUrl = result.data.imgUrl;
                            if (remark != null && remark != "") {
                                $("#remark").val(remark);
                            }
                            if (imgUrl != null && imgUrl != "") {
                                $("#imgUrl").attr("src", imgUrl);
                                $("#imgUrlHref").attr("href", imgUrl);
                                $("#imgUrl").show();
                            } else {
                                $("#noImg").show();
                            }
                        } else {
                            $("#noImg").show();
                        }
                    }
                }
            });
        });

        // 返回列表页
        function back() {
            var countryKey = $(".country-key").val();
            location.href = "localList?countryKey=" + (countryKey == "" ? 0 : countryKey);
        }

        /**
         * 获取url中的参数
         */
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        /**
         * 修改本地语言
         */
        function modifyLocalLangsDictionary() {
            var keyCode = $("input[name='keyCode']").val();
            var localLanguageKey = Number($("#localLanguage").attr("data-key"));
            var localLanguageMess = $("#localLanguageMess").val();
            var localLanguageMessId = $("#localLanguageMess").attr("data-id");


            var request = {};

            request.id = localLanguageMessId;
            request.keyCode = keyCode;
            request.langsKey = localLanguageKey;
            request.localMess = localLanguageMess;
            LoadingTask.showLoading("html");
            $.ajax({
                url: 'modifyLocalLangsDictionary',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    LoadingTask.hideLoading("html");
                    if (result.code == 0) {
                        window.wxc.xcConfirm("操作成功！", window.wxc.xcConfirm.typeEnum.warning, {
                            onOk: function () {
                                location.href = "localList?countryKey=" + $(".country-key").val();
                            }
                        });
                    } else {
                        window.wxc.xcConfirm("操作失败！", window.wxc.xcConfirm.typeEnum.warning);
                    }
                }
            });
        }

    </script>
</body>
</html>
