<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统</title>
    #include("common/css-support.vm")
    #include("common/js-support.vm")
    <link href="/dist/css/langs-dictionary/localLang.css" rel="stylesheet"/>
</head>
<body>
<div id="content" class="content-container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div class="widget-box">
                    <div class="widget-content nopadding">

                        <div id="breadcrumb">
                            <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i
                                    class="icon-home"></i>
                                主页</a>
                            <a href="localList" class="tip-bottom" data-original-title="">当地语言管理</a>
                            <a href="#" class="tip-bottom" data-original-title="">列表</a>
                        </div>
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>当地语言列表</h5>
                            <div class="local-country-div">
                                <select class="span7 select2 local-country-select">
                                    <option value="">选择国家</option>
                                    #foreach($e in $!langsCountryVos)
                                        <option value="$!e.langsCountryKey"
                                                #if($!entity.countryKey == $!e.langsCountryKey)selected#end>$!e.langsCountryDesc</option>
                                    #end
                                </select>
                            </div>
                        </div>
                        <table class="table table-bordered data-table dataTable">
                            <thead class="table-thead">
                            <tr class="thead-tr">
                                <th class="th-id">序号</th>
                                <th class="th-category">分类</th>
                                <th class="th-keycode">keyCode</th>
                                #foreach($langCountry in $!langsCountries)
                                    <th class="th-lang">
                                        #if($!langCountry.desc == "中文" || $!langCountry.desc == "英文")
                                            $!langCountry.desc ($!langCountry.value)
                                        #end
                                        #if($!langCountry.desc != "中文" && $!langCountry.desc != "英文")
                                            当地语-$!langCountry.desc ($!langCountry.value)
                                        #end
                                    </th>
                                #end
                                <th class="th-remark">备注</th>
                                <th class="th-op">操作</th>
                            </tr>
                            </thead>
                            <tbody class="tbody-list">
                                #if ($null.isNull($page.content) || $page.content.size()==0)
                                <tr class="tbody-tr">
                                    <td colspan="11">
                                        <div class="no-result-div">
                                            <p>没有符合条件的多语言记录信息！</p>
                                        </div>
                                    </td>
                                </tr>
                                #end
                                #foreach($entity in $!page)
                                <tr class="tr-class" data-keycode="$!entity.keyCode" data-remark="$!entity.messageTip.remark" data-img="$!entity.messageTip.imgUrl">
                                    #set($placement = 'right')
                                    #if($!velocityCount <= 2)
                                        #set($placement = 'bottom')
                                    #elseif($!velocityCount >= 15)
                                        #set($placement = 'top')
                                    #end
                                    <td class="td-id" data-placement="$!placement" data-placement="$!placement">
                                        <label class="td-id-label">$!{velocityCount}</label>
                                    </td>
                                    <td class="td-category" title="$!entity.categoryName" data-placement="$!placement">
                                        <label>$!entity.categoryName</label>
                                    </td>
                                    <td class="td-keycode" title="$!entity.keyCode" data-placement="$!placement">
                                        <label class="td-keycode-label">$!entity.keyCode</label>
                                    </td>
                                    #foreach($langCountry in $!langsCountries)
                                        <td class="lang-message" data-language="$!langCountry.desc" key-code="$!entity.keyCode" langs-key="$!langCountry.key" data-placement="$!placement">
                                            #set($hasNullMessage=true)
                                            #foreach($lang in $!entity.langsMessageList)
                                                #if($!lang.langsKey == $!langCountry.key)
                                                    #if($!langCountry.key == 1 || $!langCountry.key == 2)
                                                        <input class='tdInput lang-message-label' data-message="$!lang.message" value="$!lang.message" type='text'readonly="readonly"/>
                                                    #else
                                                        #if($!lang.message != "")
                                                            <label class="lang-message-label" data-message="$!lang.message" >$!lang.message</label>
                                                        #else
                                                            <input class='tdInput lang-message-label' data-message="$!lang.message" onchange='saveLang(this)' type='text'/>
                                                        #end
                                                    #end
                                                    #set($hasNullMessage=false)
                                                #end
                                            #end
                                            #if($hasNullMessage)
                                                #if($!langCountry.key == 1 || $!langCountry.key == 2)
                                                    <input class='tdInput' readonly="readonly" type='text'/>
                                                #else
                                                    <input class='tdInput' onchange='saveLang(this)' type='text'/>
                                                #end
                                            #end
                                        </td>
                                    #end
                                    <td class="td-remark" data-placement="$!placement">
                                        <label class="td-remark-label">$!entity.messageTip.remark</label>
                                    </td>
                                    <td class="td-op" data-placement="$!placement" style="word-break: keep-all">
                                        <a class="btn btn-primary btn-mini modify-item" key-code="$!entity.keyCode"><i class="icon-edit"> 编辑</i></a>
                                    </td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
                </div>
                #set($i=$!page.number + 1)
                <div class="pagination" style="float:right">
                    <ul total="$!page.totalPages" index="$!i"></ul>
                </div>
            </div>
            <div class="span2">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-list"></i></span>
                        <h5>筛选列表</h5>
                    </div>
                    <div class="widget-content">
                        <form class="form-horizontal search-form" method="get">
                            <div class="control-group" style="margin-bottom: 10px">
                                <label>分类：</label>
                                <select class="span11 select2 " name="baseNameId">
                                    <option value="">全部分类</option>
                                    #foreach($e in $!categories)
                                        <option value="$!e.id"
                                                #if($!e.id==$!entity.baseNameId)selected #end>$!e.name</option>
                                    #end
                                </select>
                            </div>

                            <div class="control-group" style="margin-bottom: 10px">
                                <label>keyCode：</label>
                                <input type="text" class="span11" name="keyCode" value="$!entity.keyCode"
                                       placeholder="请输入keyCode">
                            </div>
                            <div class="control-group" style="margin-bottom: 10px">
                                <label>当地语：
                                    #if ("$!localLangs" != "")
                                        ($!localLangs)
                                    #else
                                        (中文)
                                    #end
                                </label>
                                <input type="text" class="span11" name="message" value="$!entity.message"
                                       placeholder="请输入当地语">
                            </div>
                            <div class="control-group" style="clear: both;margin-top: 10px;">
                                <input type="hidden" value="$!entity.countryKey" name="countryKey" class="country-key" />
                                <button type="submit" class="btn btn-primary"><i class="icon-search"> 查询</i></button>
                                <button class="btn btn-warning search-reset"><i class="icon-refresh"> 重置</i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/dist/js/page-support.js"></script>
<script src="/dist/js/langs-dictionary/localLang.js"></script>
</body>
</html>




