#parse("common/list_start.vm")
<div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
    <h5>商品详情图</h5>
</div>
<div class="widget-content">
    <ul class="thumbnails">
        #foreach($e in $!list)
            <li class="span2">
                <img width="239px" height="189px" src="$!e.imgUrl">
                <button type="button" class="btn btn-danger btn-mini remove" data-id="$!e.id">删除</button>
                <button type="button" class="btn btn-success btn-mini top" data-id="$!e.id">置顶</button>
            </li>
        #end
    </ul>
</div>

<div id="new-img-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="upload" enctype="multipart/form-data" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>新增图片</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" class="span11" id="img-id" name="id">
            <div id="filelist" style="width: 90%;align-content: center">
                <div class="controls">
                    <input type="file" name="file" multiple>
                    <button class="btn btn-danger btn-mini fr" onclick="remove(this)">删除</button>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-mini" id="add-img">继续添加</button>
        </div>
        <div class="modal-footer">
            <div class="controls">
                <p>尺寸: 640 * 480, 限制: 100k</p>
            </div>
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
#parse("common/list_mid.vm")
<a class="btn btn-success" id="new-img" data-id="$!entity.referId" href="javascript:void(0);">新增</a>
<button class="btn btn-primary" href="list" onclick="window.history.go(-1);">返回</button>
<script>
    function remove(e) {
        $(e).parent().remove();
    }

    $(function () {
        $("#add-img").on("click", function () {
            $("#filelist").append('<div class="controls"><input type="file" name="file" multiple><button class="btn btn-danger btn-mini fr" onclick="remove(this)">删除</button></div>');
        });

        $("#new-img").on("click", function (event) {
            var mchId = $(this).attr("data-id");
            $("#img-id").attr("value", mchId);
            $("#new-img-modal").modal();
        });

        $(".remove").each(function (i, o) {
            $(o).on("click", function () {
                var id = $(this).attr("data-id");
                if (!confirm('确实要删除该内容吗?'))
                    return;
                $.ajax({
                    url: 'remove',
                    data: {id: id},
                    type: 'get',
                    success: function (result) {
                        if (result.code == 0) {
                            window.location.reload();
                        } else {
                            alert("失败:" + result.msg);
                        }
                    }
                });
            });
        });

        $(".top").each(function (i, o) {
            $(o).on("click", function () {
                var id = $(this).attr("data-id");
                $.ajax({
                    url: 'top',
                    data: {id: id},
                    type: 'post',
                    success: function (result) {
                        if (result.code == 0) {
                            window.location.reload();
                        } else {
                            alert("失败:" + result.msg);
                        }
                    }
                });
            });
        });
    });
</script>
#parse("common/list_end.vm")
#include("common/js-support.vm")