#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
    <a href="../feature/list" class="tip-bottom" data-original-title="">发现管理</a>
    <a href="#" class="tip-bottom" data-original-title="">列表</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>列表</h5>
    <a class="btn btn-mini btn-info buttons" href="edit?type=1">新增</a>
</div>
<div style="overflow: auto;width: 100%">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>图片URL</th>
            <th>跳转URL</th>
            <th>内容</th>
            <th>类型</th>
            <th>城市</th>
            <th>国家</th>
            <th>显示</th>
            <th>阅读量</th>
            <th>点赞数量</th>
            <th width="110px">排序</th>
            <th class="table-set" width="120px">操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($entity in $!page.content)
            <tr class="odd gradeX">
                <td>$!entity.id</td>
                <td>$!entity.title</td>
                <td>
                    <a href="$!entity.imgurl" target="_blank" title="$!entity.imgurl">链接</a></td>
                </td>
                <td>
                    <a href="$!entity.linkurl" target="_blank" title="$!entity.linkurl">链接</a></td>
                <td>$!entity.content</td>
                <td>#if($!entity.type==1)普通#else 精选#end</td>
                <td>#if($!entity.city)$!entity.city.name ($!entity.city.id)#else 无#end</td>
                <td>
                    #if($!entity.country)$!entity.country.name ($!entity.country.id)#else 无#end</td>
                <td>
                    #if($!entity.display)显示#else 隐藏#end
                </td>
                <td>$!entity.readnum</td>
                <td>$!entity.likenum</td>
                <td>
                    <input type="number" class="sort" style="width: 50px" value="$!entity.sort" data-id="$!entity.id" tabindex="$!{velocityCount}">
                    <button class="btn btn-mini sort-btn">确定</button>
                </td>
                <td>
                    <button data-id="$!entity.id" class="btn btn-danger btn-mini remove-item">删除</button>
                    <a href="edit?type=3&id=$!entity.id" class="btn btn-success btn-mini">查看</a>
                    <a href="edit?type=2&id=$!entity.id" class="btn btn-info btn-mini">编辑</a>
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>
#parse("common/list_mid.vm")
<form id="itemCatForm" method="get">
    <div class="control-group">
        <label>国家</label>
        <select name="country.id" class="span11 parent" target-name="city.id" target-url="/city/api/getCitys">
            <option value="">全部</option>
            #foreach($e in $!countries)
                <option value="$!e.id" #if($!entity.country.id==$!e.id) selected #end>$!e.id:$!e.name</option>
            #end
        </select>

        <label>城市</label>
        <select name="city.id" class="span11 child" def-value="$!entity.city.id">
            <option value="">全部</option>
        </select>

        <label>分类</label>
        <select name="cat" class="span11">
            #foreach($e in $!cats)
                <option value="$!e" #if($!entity.cat==$!e) selected #end>$!e.name</option>
            #end
        </select>
    </div>
    <button type="submit" class="btn btn-primary">查询</button>
</form>
#parse("common/list_end.vm")
<script src="/dist/js/curd.js"></script>
<script src="/dist/js/cascade-select.js"></script>
<script type="text/javascript">
    $(".sort-btn").on("click", function () {
        var previousNode = $(this).prev();
        var value = $(previousNode).val();
        var id = $(previousNode).attr("data-id");

        $.ajax({
            url: 'sort',
            data: {id: id, value: value},
            type: 'post',
            success: function (result) {
                if (result.code == 0) {
                    window.location.reload();
                } else {
                    alert("Fail Code: " + result.code + " MSG: " + result.msg);
                }
            }
        });
    });

    $(".sort").on("keydown", function (e) {
        if (e.keyCode == 13) {
            var value = $(this).val();
            var id = $(this).attr("data-id");

            $.ajax({
                url: 'sort',
                data: {id: id, value: value},
                type: 'post',
                success: function (result) {
                    if (result.code == 0) {
                        window.location.reload();
                    } else {
                        alert("Fail Code: " + result.code + " MSG: " + result.msg);
                    }
                }
            });
        }
    });
</script>