<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统</title>
    #include("common/css-support.vm")
    <link href="/dist/css/mission/mission.css" rel="stylesheet"/>
</head>
<body>
<div id="content" class="content-container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div class="widget-box">
                    <div class="widget-content nopadding">

                        <div id="breadcrumb"><a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>
                            商户模块</a>
                            <a href="/mission_task/list" class="tip-bottom" data-original-title="">商户信息审核</a>
                        </div>
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>商户审核列表</h5>
                            <div class="country-select">
                                <select class="span7 select2 " id="country" name="country" onchange="interchangeCountry()">
                                    <option value="">选择国家</option>
                                </select>
                            </div>
                        </div>

                        <table class="table table-bordered data-table dataTable">
                            <thead class="thead-class">
                            <tr class="thread-tr">
                                <th class="th-op">操作</th>
                                <th class="th-op">门店名称</th>
                                <th class="th-op">城市</th>
                                <th class="th-op">组名-BD名</th>
                                <th class="th-img">签到图</th>
                                <th class="th-op">商户通版本号</th>
                                <th class="th-op">测试订单</th>
                                <th class="th-op">状态</th>
                                <th class="th-op">备注</th>
                                <th class="th-op">完成时间</th>
                            </tr>
                            </thead>
                            <tbody class="tbody-list">
                            <tr>
                                <td>
                                    <div class="td-op">
                                        <button type="button" class="btn btn-success btn-small td-button">通过</button>
                                        <button type="button" class="btn btn-danger btn-small td-button">拒绝</button>
                                    </div>
                                </td>
                                <td>
                                    <span>26487</span>
                                    <br/>
                                    <a target="_blank" href="">商户名</a>
                                </td>
                                <td>韩国</td>
                                <td>1组-孙昊</td>
                                <td>
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <div class="hovereffect">
                                            <a target="_blank" href="https://www.lgstatic.com/thumbnail_300x300/i/image/M00/03/4A/Cgp3O1azGGOAY3vPAABL-_SjeDU018.jpg">
                                                <img class="img-polaroid td-img" src="https://www.lgstatic.com/thumbnail_300x300/i/image/M00/03/4A/Cgp3O1azGGOAY3vPAABL-_SjeDU018.jpg">
                                            </a>
                                        </div>
                                        <div class="hovereffect">
                                            <a target="_blank" href="https://www.lgstatic.com/thumbnail_300x300/i/image/M00/03/4A/Cgp3O1azGGOAY3vPAABL-_SjeDU018.jpg">
                                                <img class="img-polaroid td-img" src="https://www.lgstatic.com/thumbnail_300x300/i/image/M00/03/4A/Cgp3O1azGGOAY3vPAABL-_SjeDU018.jpg">
                                            </a>
                                        </div>
                                        <div class="hovereffect">
                                            <a target="_blank" href="https://www.lgstatic.com/thumbnail_300x300/i/image/M00/03/4A/Cgp3O1azGGOAY3vPAABL-_SjeDU018.jpg">
                                                <img class="img-polaroid td-img" src="https://www.lgstatic.com/thumbnail_300x300/i/image/M00/03/4A/Cgp3O1azGGOAY3vPAABL-_SjeDU018.jpg">
                                            </a>
                                        </div>
                                        <div class="hovereffect">
                                            <a target="_blank" href="https://www.lgstatic.com/thumbnail_300x300/i/image/M00/03/4A/Cgp3O1azGGOAY3vPAABL-_SjeDU018.jpg">
                                                <img class="img-polaroid td-img" src="https://www.lgstatic.com/thumbnail_300x300/i/image/M00/03/4A/Cgp3O1azGGOAY3vPAABL-_SjeDU018.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>v2.3.3</td>
                                <td><a target="_blank" href="">201682945</a></td>
                                <td>状态</td>
                                <td>备注</td>
                                <td>2017/6/28 12:23</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-list"></i></span>
                        <h5>筛选列表</h5>
                    </div>
                    <div class="widget-content">
                        #include("common/js-support.vm")
                        <script src="/dist/js/mission/mission.js"></script>
                        <script src="/dist/js/page-support.js"></script>

                        <form class="form-horizontal search-form" method="get">
                            <div class="search-select">
                                <label>城市</label>
                                <select class="span11 select2" name="city">
                                    <option value=1>全部城市</option>
                                    <option value>全部城市</option>
                                    <option value>全部城市</option>
                                    <option value>全部城市</option>
                                    <option value>全部城市</option>
                                    <option value>全部城市</option>
                                    <option value>全部城市</option>
                                    <option value>全部城市</option>
                                    <option value>全部城市</option>
                                    <option value>全部城市</option>
                                    <option value>全部城市</option>
                                    <option value>全部城市</option>
                                </select>
                            </div>
                            <div class="search-select">
                                <label>商户信息</label>
                                <select class="span11 select2" name="mchId">
                                    <option value>商户信息</option>
                                </select>
                            </div>
                            <div class="search-select">
                                <label>BD信息</label>
                                <select class="span11 select2" name="bd">
                                    <option value>BD信息</option>
                                </select>
                            </div>
                            <div class="search-select">
                                <label>任务状态</label>
                                <select class="span11 select2" name="status">
                                    <option value>任务状态</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">查询</button>
                            <button class="btn btn-warning search-reset">重置</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>