<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统</title>
    #include("common/css-support.vm")
    #include("common/js-support.vm")
    <link href="/dist/css/mission/mission.css" rel="stylesheet"/>
</head>
<body>
<div id="content" class="content-container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div class="widget-box">
                    <div class="widget-content nopadding">

                        <div id="breadcrumb"><a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>
                            商户模块</a>
                            <a href="/mission_task/list" class="tip-bottom" data-original-title="">商户信息审核</a>
                        </div>
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>商户审核列表</h5>
                        </div>
                        <div style="height: 640px;overflow: auto;width: 100%">
                            <div style="width: 2000px;">
                        <table class="table table-bordered data-table dataTable" >
                            <thead class="thead-class">
                            <tr class="thread-tr">
                                <th>操作</th>
                                <th>商户名称</th>
                                <th>任务类型</th>
                                <th>合作状态</th>
                                <th>拜访类型</th>
                                <th>城市</th>
                                <th>组名-BD名</th>
                                <th>签到图</th>
                                <th>商户通版本号</th>
                                <th>商户通专业版激活状态</th>
                                <th>测试订单</th>
                                <th>状态</th>
                                <th>拜访记录</th>
                                <th>审核备注</th>
                                <th>审核时间</th>
                                <th>完成时间</th>
                            </tr>
                            </thead>
                            <tbody class="tbody-list">
                                #if ($null.isNull($page.content) || $page.content.size()==0)
                                <tr>
                                    <td colspan="11" style="text-align:center;">
                                        <div class="no-result-div"
                                             style="text-align: center;vertical-align: middle;height: 50px;line-height: 50px;">
                                            <p>没有符合条件的商户审核信息！</p>
                                        </div>
                                    </td>
                                </tr>
                                #end
                                #foreach($entity in $!page.content)
                                <tr data-mchId="$!entity.merchant.id">
                                    <td>
                                    <div class="td-op" data-mchId="$!entity.mchId">
                                        #if($!entity.status.key != 3)
                                                <nobr>
                                                    <button type="button" class="btn btn-success btn-small td-button approval">
                                                        <i class="icon-file"> 审批</i>
                                                    </button>
                                                </nobr>
                                        #end
                                    #if($!entity.merchantTrack.id)
                                        <nobr>
                                            <button type="button" class="btn btn-success btn-small td-button viewChange" data-visitId="$!entity.merchantTrack.id">
                                                <i class="icon-eye-open">查看变更</i>
                                            </button>
                                        </nobr>
                                    #end
                                    </div>
                                    </td>
                                    <td>
                                        <span>$!entity.merchant.id</span>
                                        <br/>
                                        <a target="_blank" href="/merchant/edit?id=$!entity.merchant.id">$!entity.merchant.name</a>
                                    </td>
                                    <td class="task-type">
                                        #if($!entity.version == "团购")
                                            特品推荐
                                        #else
                                            $!entity.version
                                        #end
                                    </td>
                                    <td class="task-merchant-cooperationStatus">$!entity.merchant.cooperationStatus.name</td>
                                    <td class="">
                                        #if($!entity.merchantTrack.visitType)
                                            $!entity.merchantTrack.visitType.name
                                        #end
                                    </td>
                                    <td>$!entity.merchant.district.city.name</td>
                                    <td>$!entity.group.name - $!entity.bdUser.chineseName</td>
                                    <td class="td-imgurl">
                                        #if($!entity.merchantTrack.imgUrls.size()==0 || "$!entity.merchantTrack.imgUrls"=="")
                                            <label class="no-img-result" style="cursor: default;">0张</label>
                                        #else
                                            <a style="text-decoration: underline" class="more_img" id="$!entity.merchantTrack.imgUrls" target="_blank">$!entity.merchantTrack.imgUrls.size()张</a>
                                        #end
                                    </td>
                                    <td>$!entity.mchVersion</td>
                                    #if($!entity.activate)
                                        <td>是</td>
                                    #else
                                        <td>否</td>
                                    #end
                                    <td class="td-bz"><a target="_blank" href="/order/edit?type=3&id=$!entity.orderno">$!entity.orderno</a></td>
                                    <td>$!entity.status.value</td>
                                    <td class="td-bz" title="$!entity.merchantTrack.note">$!entity.merchantTrack.note</td>
                                    <td class="td-bz" title="$!entity.remark">$!entity.remark</td>
                                    <td>$!dateFormatter.format("yyyy-MM-dd",$!entity.auditDt)<br>$!dateFormatter.format("HH:mm:ss",$!entity.auditDt)</td>
                                    <td>$!dateFormatter.format("yyyy-MM-dd",$!entity.finishDt)<br>$!dateFormatter.format("HH:mm:ss",$!entity.finishDt)</td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                </div>
                #set($i=$!page.number + 1)
                <div class="pagination" style="float:right">
                    <ul total="$!page.totalPages" index="$!i"></ul>
                </div>
            </div>
            <div class="span2">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-list"></i></span>
                        <h5>筛选列表</h5>
                    </div>
                    <div class="widget-content">
                        <form class="form-horizontal search-form" method="get">
                            #if($!countries.size() > 1)
                                <div class="search-select">
                                    <label>国家</label>
                                    <select class="span11 select2 select-country" id="country" name="country">
                                        <option value>全部</option>
                                        #foreach($e in $!countries)
                                            <option value="$!e.id" #if($!requestVo.country==$!e.id)selected #end>$!e.name</option>
                                        #end
                                    </select>
                                </div>
                            #end
                        #*<div class="search-select">
                            <label>城市</label>
                            <select class="span11 select2 select-city" name="city">
                                <option value>全部</option>
                                #foreach($e in $!cities)
                                    <option style="display: none" country-id="$!e.country.id" value="$!e.id" #if($!requestVo.city == $!e.id) selected #end>$!e.name</option>
                                #end
                            </select>
                        </div>*#
                            <div class="search-select">
                                <label>商户名称</label>
                                <select class="span11 select2" name="mchId">
                                    <option value>全部</option>
                                    #foreach($e in $!merchants)
                                        <option value="$!e.id" #if($!requestVo.mchId == $!e.id) selected #end>$!e.id : $!e.name</option>
                                    #end
                                </select>
                            </div>
                            <div class="search-select">
                                <label>战队名称</label>
                                <select class="span11 select2" name="groupId">
                                    <option value="">全部</option>
                                    #foreach($e in $!groups)
                                        <option value="$!e.id" #if($!requestVo.groupId == $!e.id) selected #end>$!e.id : $!e.name</option>
                                    #end
                                </select>
                            </div>
                            <div class="search-select">
                                <label>BD名称</label>
                                <select class="span11 select2" name="bdId">
                                    <option value="">全部</option>
                                    #foreach($e in $!bdUsers)
                                        <option value="$!e.id" #if($!requestVo.bdId == $!e.id) selected #end>$!e.id : $!e.chineseName</option>
                                    #end
                                </select>
                            </div>
                            <div class="search-select">
                                <label>任务状态</label>
                                <select class="span11 select2 task-status" name="status">
                                    #foreach($e in $!taskStatus)
                                        #if($!e.key !=0 && $!e.key != 1)
                                            <option value="$!e" #if($!requestVo.status.key == $!e.key) selected #end>$!e.value</option>
                                        #end
                                    #end
                                </select>
                            </div>

                            <div class="search-select task-status-time" id="sh-date">
                                <label>审核时间：</label>
                                <input type="text" id="date-sh-date" name="auditDt" class="span11 dateTimeFormatDay" value="$!requestVo.auditDtStr" text="$!requestVo.auditDtStr" placeholder="审核时间">
                            </div>

                            <div class="search-select">
                                <label>完成时间：</label>
                                <input type="text" name="finishDt" class="span11 dateTimeFormatDay" value="$!requestVo.finishDtStr" text="$!requestVo.finishDtStr" placeholder="完成时间">
                            </div>

                            <button type="submit" class="btn btn-primary">
                                <i class="icon-search"> 查询</i>
                            </button>
                            <button class="btn btn-warning search-reset">
                                <i class="icon-refresh"> 重置</i>
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 审批弹窗 -->
<div class="modal hide fade approvalModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">任务审批</h3>
    </div>
    <div class="modal-body" style="margin-left: 10%;">
        <div class="audit-info">
            <label class="span5 label-approval">审批结果：</label>
            <select class="approval-status">
                <option value="APPROVED">审核通过</option>
                <option value="NON_APPROVAL">审核不通过</option>
            </select>
        </div>
        <div class="remark-info" style="display: none;">
            <label class="span5 label-approval">驳回理由：</label>
            <textarea class="remark-text" placeholder="请填写备注信息" rows="3"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" class="hide-mchId"/>
        <button class="btn btn-primary sure-approval">确认</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>

<!-- 审批结果弹窗 -->
<div class="modal hide fade approvalResultModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">提示</h3>
    </div>
    <div class="modal-body">
        <p class="approvalResult-text"></p>
    </div>
    <div class="modal-footer">
        <input type="hidden" class="audit-result"/>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>
<!-- 图片浏览弹窗 -->
<div class="modal hide fade imgResultModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;top:20%">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">图片浏览</h3>
    </div>

    <div class="modal-body" style="max-height:600px">
        <div class="left" style="cursor:pointer;position: absolute;top: 50%;left: 10px;font-size:30px""><</div>
    <div class="show_img" style="margin:5px 30px">
        <img  style="width:480px;height: 400px" class="originalImg" src="">
    </div>
    <div class="right" style="cursor:pointer;position: absolute;top: 50%;right: 10px;font-size:30px"">></div>
</div>
<div class="modal-footer" style="padding:7px 15px">
    <p style="text-align:center"><span id="img_index">1</span>/<span id="img_total"></span></p>
</div>
</div>
<script type="text/javascript" src="/dist/js/page-support.js"></script>
<script type="text/javascript" src="/dist/js/mission/mission.js"></script>
</body>
</html>