<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统</title>
    #parse("common/css-support.vm")
</head>
<body>
<div id="content">
    <!--Action boxes-->
    <div class="container-fluid">
        <div class="quick-actions_homepage" style="margin-top: 20%;font-size: large;">
            Welcome to Merchant Subsystem of CMS !
        </div>
    </div>
</div>


</body>
    #include("common/js-support.vm")
</html>
