<html>
<head>
</head>
<body>
<div style="clear:both;">
    <div class="aym_scale_wrap" style="margin:0 auto;overflow: hidden;text-align: left;height: 1962px;width: 744px;">
        <div class="aym_table_wrap" style="" _scale="0.9539295392953929">
            <table style="border-collapse: collapse;border: 1px solid #666;" _ow="731px">
            <tbody>
            <tr>
                <td valign="top" width="713" style="padding:3.0px 8.0px;">
                    <div style="clear:both;">
                        <span style=""><img height="100" src="https://work.aliyun.com/attachment/downloadex?ri=%2Falimail%2FinternalLinks%2FrefreshToken&amp;o=1&amp;et=normal&amp;f=b9db50bc-5fce-404f-92bd-4e85e204ff1f&amp;e=zong.liu%4091nuanyou.com&amp;n=2018%20%E8%A1%8C%E6%94%BF%E7%89%A9%E8%B4%A8-09.png&amp;m=2_0%3ADzzzzyZwHaq%24---.9R68vFi&amp;ext=png" width="190">
                        </span>
                    </div>
                    <div style="clear:both;">
                        <div style="padding:11px;">
                        </div>
                        <div style="clear:both;">
                            <span style="color:#7f7f7f;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <strong><span style="color:#3f3f3f;">您好！&nbsp;<img height="34.16666666666667" src="https://work.aliyun.com/attachment/downloadex?ri=%2Falimail%2FinternalLinks%2FrefreshToken&amp;o=1&amp;et=normal&amp;f=6f022fbf-5b30-459c-87b4-cf65517ed2b1&amp;e=zong.liu%4091nuanyou.com&amp;n=NY%20Brand%20Style%20Guide%20%202017-33.png&amp;m=2_0%3ADzzzzyZwHaq%24---.9R68vFi&amp;ext=png" width="71.66666666666667">&nbsp;</span></strong>
                        </div>
                        <div style="">
                            <div class="FoxDiv20160907163817227226" style="">
                                <p style="margin-top: 0px;margin-bottom: 0px;line-height: 23.8px;height: auto;">
                                    <span style="color:#3f3f3f;"><span style="">&nbsp;&nbsp;&nbsp;&nbsp; </span><span>$!content</span></span><strong><span><span>已</span></span><span><span>下单成功。</span></span></strong>
                                </p>
                                <p style="margin-top: 0px;margin-bottom: 0px;line-height: 23.8px;height: auto;">
                                    <span style="color: rgb(63, 63, 63);">&nbsp;&nbsp;&nbsp;&nbsp; 商品供应商：暖游天下</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;">
                        <span style="font-family:tahoma;font-size:14.0px;color:#000000;"><br>
                        </span>
                    </div>
                    <div style="clear:both;">
                        <span style="">&nbsp;&nbsp;&nbsp;&nbsp; </span>
                        <span style="background-color:#c00000;"><span style="color: rgb(255, 255, 255);background-color: rgb(192, 0, 0);font-size: 14px;padding-right: 10px;">－订单详情</span></span>
                    </div>
                    <div style="clear:both;">
                        <span>
                        <p style="margin: 0px;line-height: 32px;height: auto;">
                            <span>&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="color:#3f3f3f;"><span style="">订单ID: </span><strong><span style="">$!orderId</span></strong></span>
                        </p>
                        </span>
                        <span>
                        <p style="margin: 0px;/* line-height: 23.8px; *//* height: auto; */">
                            <span style="color:#3f3f3f;">&nbsp;&nbsp;&nbsp;&nbsp; 数量：$!goodCount</span>
                        </p>
                        </span>
                        <div style=" padding: 11px; ">
                        </div>
                    </div>
                    <div style="clear:both;">
                        <span>&nbsp;&nbsp;&nbsp; <span><span style="color: rgb(255, 255, 255);background-color: rgb(192, 0, 0);font-size: 14px;padding-right: 10px;">－使用方法</span></span></span>
                        <div style="clear:both;">
                            <span>
                            <p style="margin: 0px;line-height: 32px;">
                                <span style="color:#262626;">&nbsp; &nbsp;&nbsp;</span><span style="color:#3f3f3f;">到店后主动向商户出示以下图片即可</span>
                            </p>
                            <p style="margin: 0px;">
                                <span><img height="466.6666666666667" src="$!codeImg" width="652.5"></span>
                            </p>
                            </span>
                            <span>
                            <div style="padding: 11px;">
                            </div>
                            <div style="clear:both;">
                                <a href="https://kr.h5.m.91nuanyou.com/view/merchant/detail.html?mchid=620804" target="_blank"><img height="201" src="https://work.aliyun.com/attachment/downloadex?ri=%2Falimail%2FinternalLinks%2FrefreshToken&amp;o=1&amp;et=normal&amp;f=2581fe6c-497b-4c76-82a3-a9eb85c2de30&amp;e=zong.liu%4091nuanyou.com&amp;n=%E4%B8%BB%E5%9B%BE01-02.jpg&amp;m=2_0%3ADzzzzyZwHaq%24---.9R68vFi&amp;ext=jpg" width="700">&nbsp;</a>
                                <br>
                            </div>
                            </span>
                        </div>
                    </div>
                    <div style="clear:both;">
                        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="" _ow="700px">
                        <tbody>
                        <tr>
                            <td width="700" style="">
                                <div style="padding: 50px 0 30px;">
                                </div>
                                <div style="margin:50.0px .0px .0px;text-align:center;">
                                    <span style="margin:.0px .0px 28.0px;display:inline-block;color:#5f5f5f;font-size:24.0px;">精挑细选，当地精品直减</span>
                                    <img src="http://yanxuan.nosdn.127.net/e72341bf1f7d1c2a448b0869c43fcda6.png" style="margin:.0px auto 28.0px;height:6.0px;width:12.0px;display:block;">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="font-size: 14px;" _ow="700px">
                        <tbody>
                        <tr>
                            <td width="230" style="background-color:#ffffff;">
                                <div _ow="230px" style=" margin: 0px; padding: 0px 3px 0px 0px; border: 0px; outline: 0px; width: 230px; ">
                                    <div style="border: 1px solid rgb(234, 234, 234);width: 225px;" _ow="225px">
                                        <div style="width: 225px;" _ow="225px">
                                            <a href="https://kr.h5.m.91nuanyou.com/view/index/index.html" target="_blank"><img height="130" src="https://kr.file.91nuanyou.com/15107364788571745147.jpg" width="225" style="margin:.0px;padding:.0px;border:none;outline:.0px;"></a>
                                        </div>
                                        <div style="margin: 16px 0px;/* padding: 0px; *//* border: 0px; *//* outline: 0px; */width: 225px;text-overflow: ellipsis;overflow: hidden;line-height: 14px;height: auto;" _ow="225px">
                                            <span style="margin:.0px .0px .0px 10.0px;padding:.0px;border:.0px;outline:.0px;float:left;width:130.0px;color:#3a3a3a;text-overflow:ellipsis;overflow:hidden;font-family:Microsoft Yahei,微软雅黑,verdana;">特产、大牌限时抢购</span>
                                            <span style="margin:.0px .0px .0px 10.0px;padding:.0px;border:.0px;outline:.0px;float:left;width:130.0px;color:#3a3a3a;text-overflow:ellipsis;overflow:hidden;font-family:Microsoft Yahei,微软雅黑,verdana;">药店团购立减</span>
                                            <span style="margin:.0px 15.0px .0px .0px;padding:.0px;border:.0px;outline:.0px;float:right;color:#d4282d;font-family:Microsoft Yahei,微软雅黑,verdana;">7折起</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td width="230" style="background-color:#ffffff;">
                                <div style="margin: 0px; padding: 0px 3px 0px 0px; border: 0px; outline: 0px; width: 230px;" _ow="230px">
                                    <div style="margin: 0px; padding: 0px; border: 1px solid rgb(234, 234, 234); outline: 0px; width: 225px;" _ow="225px">
                                        <div style="margin: 0px; padding: 0px; border: 0px; outline: 0px; width: 225px;" _ow="225px">
                                            <a href="https://kr.h5.m.91nuanyou.com/" target="_blank"><img height="130" src="https://kr.file.91nuanyou.com/15107365040348302767.jpg" width="225" style="margin:.0px;padding:.0px;border:none;outline:.0px;"></a>
                                        </div>
                                        <div style="margin: 16px 0px; padding: 0px; border: 0px; outline: 0px; width: 225px; text-overflow: ellipsis; overflow: hidden; line-height: 14px; height: auto;" _ow="225px">
                                            <span style="margin:.0px .0px .0px 10.0px;padding:.0px;border:.0px;outline:.0px;float:left;width:130.0px;color:#3a3a3a;text-overflow:ellipsis;overflow:hidden;font-family:Microsoft Yahei,微软雅黑,verdana;">网红美食独家折扣</span>
                                            <span style="margin:.0px .0px .0px 10.0px;padding:.0px;border:.0px;outline:.0px;float:left;width:130.0px;color:#3a3a3a;text-overflow:ellipsis;overflow:hidden;font-family:Microsoft Yahei,微软雅黑,verdana;">低至19.9元</span>
                                            <span style="margin:.0px 15.0px .0px .0px;padding:.0px;border:.0px;outline:.0px;float:right;color:#d4282d;font-family:Microsoft Yahei,微软雅黑,verdana;">5折起</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td width="230" style="background-color:#ffffff;">
                                <div style="margin: 0px; padding: 0px 3px 0px 0px; border: 0px; outline: 0px; width: 230px;" _ow="230px">
                                    <div style="margin: 0px; padding: 0px; border: 1px solid rgb(234, 234, 234); outline: 0px; width: 225px;" _ow="225px">
                                        <div style="margin: 0px; padding: 0px; border: 0px; outline: 0px; width: 225px;" _ow="225px">
                                            <a href="https://h5.youzan.com/v2/ump/promocard/fetch?alias=kaf0y2kw" target="_blank"><img height="130" src="https://kr.file.91nuanyou.com/15107365031687154943.jpg" width="225" style="margin:.0px;padding:.0px;border:none;outline:.0px;"></a>
                                        </div>
                                        <div style="margin: 16px 0px; padding: 0px; border: 0px; outline: 0px; width: 225px; text-overflow: ellipsis; overflow: hidden; line-height: 14px; height: auto;" _ow="225px">
                                            <span style="margin:.0px .0px .0px 10.0px;padding:.0px;border:.0px;outline:.0px;float:left;width:130.0px;color:#3a3a3a;text-overflow:ellipsis;overflow:hidden;font-family:Microsoft Yahei,微软雅黑,verdana;">海外专柜直邮，店主打包正品保障</span>
                                            <span style="margin:.0px 15.0px .0px .0px;padding:.0px;border:.0px;outline:.0px;float:right;color:#d4282d;font-family:Microsoft Yahei,微软雅黑,verdana;">领券立减</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                    <div style="clear:both;">
                        <div style="padding: 44px;">
                        </div>
                    </div>
                    <div style="clear:both;">
                        <div style=" text-align: center;padding: 15px 0; ">
                            <img height="141.66666666666669" src="https://work.aliyun.com/attachment/downloadex?ri=%2Falimail%2FinternalLinks%2FrefreshToken&amp;o=1&amp;et=normal&amp;f=c920ab1c-b0bb-4a06-97e6-052d313594aa&amp;e=zong.liu%4091nuanyou.com&amp;n=%E9%82%AE%E4%BB%B6%E6%A8%A1%E6%9D%BF02-02.jpg&amp;m=2_0%3ADzzzzyZwHaq%24---.9R68vFi&amp;ext=jpg" width="720">
                        </div>
                    </div>
                    <div style="clear:both;">
                        <div style="text-align: center;padding: 15px 0;">
                            <img height="55" src="https://work.aliyun.com/attachment/downloadex?ri=%2Falimail%2FinternalLinks%2FrefreshToken&amp;o=1&amp;et=normal&amp;f=c366d47c-1f16-4a91-9c0d-eae45cf7d83c&amp;e=zong.liu%4091nuanyou.com&amp;n=%E5%BE%B7%E5%9B%BD%E5%90%8D%E7%89%87%E6%A8%A1%E7%89%88-05.png&amp;m=2_0%3ADzzzzyZwHaq%24---.9R68vFi&amp;ext=png" width="467">
                        </div>
                    </div>
                    <div style="clear:both;">
                        <div style="text-align: center;padding: 15px 0;">
                            <img height="57" src="https://work.aliyun.com/attachment/downloadex?ri=%2Falimail%2FinternalLinks%2FrefreshToken&amp;o=1&amp;et=normal&amp;f=194928b3-b010-4f0b-88d0-2d3b59683cb6&amp;e=zong.liu%4091nuanyou.com&amp;n=2018%20%E8%A1%8C%E6%94%BF%E7%89%A9%E8%B4%A8-10.png&amp;m=2_0%3ADzzzzyZwHaq%24---.9R68vFi&amp;ext=png" width="700">
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>