<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统</title>
</head>
<body>
<div id="content">
    <img class="container-fluid">
        <img src="$!img"></img>
        <div class="quick-actions_homepage" style="margin-top: 20%;font-size: large;color: red">
            $!newItem
            $!oldItem
        </div>
    </div>
</div>


</body>
</html>
