<!DOCTYPE html>
<html lang="en">
<head th:include="common/header::header">
    <meta charset="UTF-8"/>
	<title>客服</title>
	<link rel="stylesheet" href="../../static/css/common/font-awesome.min.css"/>
	<link rel="stylesheet" href="../../static/css/common/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../static/css/common/bootstrap-select.min.css"/>
	<link rel="stylesheet" href="../../static/css/common/bootstrap-table.min.css"/>
	<link rel="stylesheet" href="../../static/css/common/common.css"/>
	<script src="../../static/libs/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../static/libs/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="../../static/libs/vendor/bootstrap/bootstrap-select.min.js"></script>
	<script src="../../static/libs/vendor/bootstrap/bootstrap-table.min.js"></script>
	<script src="../../static/js/common/common.js"></script>
</head>

<body>
	<link rel="stylesheet" href="../../static/css/customer/customer.css"/>
	<div class="content">
		<div class="content-header">
			<div class="breadcrumb">
				<a class="tip-bottom">CMS</a> >
				<a href="javascript:;" class="tip-bottom">客服</a>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="tabs">
				<div class="tab">
					<input type="radio" id="tabRadio1" class="radio" name="tab" checked="checked" />
					<label class="label" for="tabRadio1">商户信息</label>
					<div class="tab-content">
						<div class="panel panel-default panel-cms">
							<div class="panel-heading">
								<span><i class="fa fa-stop" aria-hidden="true"></i> 基础信息</span>
							</div>

							<div class="panel-body">
								<ul class="list-group">
									<li class="list-group-item">
										<span>当地名称</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>当地地址</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>所属商圈</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>商户电话</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>商户分类</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>支付方式</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<span><i class="fa fa-stop" aria-hidden="true"></i> 联系人信息</span>
							</div>

							<table class="table contact">
								<tr>
									<td>1</td>
									<td>姚莹</td>
									<td>店主</td>
									<td>1234567890000</td>
									<td>zxcvbnm@gmail.com</td>
								</tr>
								<tr>
									<td>2</td>
									<td>张强</td>
									<td>店主</td>
									<td>1234567890000</td>
									<td>zxcvbnm@gmail.com</td>
								</tr>
								<tr>
									<td>3</td>
									<td>蔡伟超</td>
									<td>店主</td>
									<td>1234567890000</td>
									<td>zxcvbnm@gmail.com</td>
								</tr>
								<tr>
									<td>4</td>
									<td>姚莹</td>
									<td>店主</td>
									<td>1234567890000</td>
									<td>zxcvbnm@gmail.com</td>
								</tr>
								<tr>
									<td>5</td>
									<td>张强</td>
									<td>店主</td>
									<td>1234567890000</td>
									<td>zxcvbnm@gmail.com</td>
								</tr>
								<tr>
									<td>6</td>
									<td>蔡伟超</td>
									<td>店主</td>
									<td>1234567890000</td>
									<td>zxcvbnm@gmail.com</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="tab"> 
					<input type="radio" id="tabRadio2" class="radio" name="tab" />
					<label class="label" for="tabRadio2">合作信息</label>
					<div class="tab-content">
						<div class="panel panel-default panel-cms panel-cms-width">
							<div class="panel-heading">
								<span><i class="fa fa-stop" aria-hidden="true"></i> 优付服务</span>
							</div>

							<div class="panel-body">
								<ul class="list-group">
									<li class="list-group-item">
										<span>生效日期</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>签约BD</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>合同期限</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>银行名称</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>截止日期</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>分行名称</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>账期类型</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>户名</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>账期（T+）</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>账号类型</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>手续费率（%）</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>银行账号</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
								</ul>
							</div>

							<div class="panel-heading">
								<span><i class="fa fa-stop" aria-hidden="true"></i> 特品推荐服务</span>
							</div>

							<div class="panel-body">
								<ul class="list-group">
									<li class="list-group-item">
										<span>生效日期</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>签约BD</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>合同期限</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>银行名称</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>截止日期</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>分行名称</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>账期类型</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>户名</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>账期（T+）</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>账号类型</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
									<li class="list-group-item">
										<span>团购佣金（%）</span>
										<span>2017-12-31</span>
									</li>
									<li class="list-group-item">
										<span>银行账号</span>
										<span>세상을 구하는세상을 구하는세상을 구하는</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="tab">
					<input type="radio" id="tabRadio3" class="radio" name="tab" />
					<label class="label" for="tabRadio3">交易信息</label>
					<div class="tab-content">
						<div class="panel panel-default panel-cms">
							<table id="table" class="table"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="../../static/js/customer/customer.js"></script>
</body>
</html>