<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统</title>
    #include("common/css-support.vm")
</head>
<body>
<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div class="widget-box">
                    <div id="breadcrumb">
                        <a href="/index" class="tip-bottom"><i class="icon-home"></i>主页</a>
                        <a href="list" class="tip-bottom">商户卡券管理</a>
                        <a href="javascript:void(0);" class="tip-bottom">编辑/查看</a>
                    </div>
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i></span>
                        <h5>卡券编辑</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal commonValidate" action="update" method="post">
                            <input name="id" type="hidden" value="$!entity.id">
                            <div class="control-group">
                                <label class="control-label">商户</label>
                                <div class="controls">
                                    <select name="merchant.id" class="span8 select2">
                                        #foreach($e in $!merchants)
                                            <option value="$!e.id" #if($!e.id == $!entity.merchant.id) selected #end>$!e.id:$!e.name</option>
                                        #end
                                    </select>
                                </div>
                                <label class="control-label">类型</label>
                                <div class="controls">
                                    <select name="type" class="span8" def-value="$!entity.type">
                                        #foreach($e in $!cardTypes)
                                            <option value="$!e" #if($!e == $!entity.type) selected #end>$!e.name</option>
                                        #end
                                    </select>
                                </div>
                                <label class="control-label">名称</label>
                                <div class="controls">
                                    <input name="title" for="title" type="text" class="span8" placeholder="名称" value="$!entity.title" required>
                                </div>
                                <label class="control-label">是否显示</label>
                                <div class="controls">
                                    <input name="display" type="radio" value="true"#if($entity.display)checked#end/>是
                                    <input name="display" type="radio" value="false"#if(!$entity.display)checked#end/>否
                                </div>
##                                <label class="control-label">数量</label>
##                                <div class="controls">
##                                    <input name="num" type="number" class="span8" placeholder="无限制" value="$!entity.num" required>
##                                </div>
                                <label class="control-label">到期时间</label>
                                <div class="controls">
                                    <input name="validTime" type="text" class="span8 dateTimeFormat" placeholder="" value="$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!entity.validTime)" required>
                                </div>
                                <label class="control-label">描述</label>
                                <div class="controls">
                                    <input name="intro" type="text" class="span8" placeholder="" value="$!entity.intro">
                                </div>
                                <label class="control-label">卡券说明</label>
                                <div class="controls">
                                    <textarea name="explains" rows="5" class="span8">$!entity.explains</textarea>
                                </div>
                            </div>

##                            #if($entity.code)
##                                <div class="control-group Gift">
##                                    <label class="control-label">礼品券使用码</label>
##                                    <div class="controls">
##                                        <input for="code" type="text" class="span8" disabled value="$!entity.code" required>
##                                    </div>
##                                </div>
##                            #end

                            <div class="control-group Discount">
                                <label class="control-label">折扣</label>
                                <div class="controls">
                                    <input name="discount" type="text" class="span8" placeholder="" value="$!entity.discount" required>
                                </div>
                                <label class="control-label">起始限额</label>
                                <div class="controls">
                                    <input name="startPrice" type="text" class="span8" placeholder="当地货币(Local Currency)" value="$!entity.startPrice" required>
                                </div>
                                <label class="control-label">上限</label>
                                <div class="controls">
                                    <input name="limitPrice" type="text" class="span8" placeholder="当地货币(Local Currency)" value="$!entity.limitPrice" required>
                                </div>
                            </div>
                            <div class="control-group Voucher">
                                <label class="control-label">代金券现价</label>
                                <div class="controls">
                                    <input name="price" type="text" class="span8" placeholder="人民币(RMB)" value="$!entity.price" required>
                                </div>
                                <label class="control-label">代金券原价</label>
                                <div class="controls">
                                    <input name="oPrice" type="text" class="span8" placeholder="人民币(RMB)" value="$!entity.oPrice" required>
                                </div>
                                <label class="control-label">代金券暖游价</label>
                                <div class="controls">
                                    <input name="merchantPrice" type="text" class="span8" placeholder="当地货币(Local Currency)" value="$!entity.merchantPrice" required>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button class="btn btn-success" type="submit" id="btn-save">保存</button>
                                <button class="btn btn-warning" type="button" id="btn-edit">编辑</button>
                                <a class="btn btn-primary" href="list">返回</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #include("common/js-support.vm")
    <script>
            #if($!disabled)
            $("#btn-save").hide();
            $(".span8").each(function (i, o) {
                $(o).attr("disabled", true);
            });
            $("#btn-edit").on("click", function () {
                $(":input").each(function (i, o) {
                    $(o).attr("disabled", false);
                    $("#btn-save").show();
                    $("#btn-edit").hide();
                });
            });
            #else
            $("#btn-edit").hide();
            #end

        $("select[name='type']").on("change", function () {
            var value = this.value;
            $(this).find("option").each(function (i, o) {
                var val = $(o).val();
                if (val != value) {
                    var e = $("." + val);
                    e.hide();
                    e.find("input").val(null);
                }
            });
            $("." + $(this).val()).show();
        }).trigger("change");
    </script>
    #include("common/image-support.vm")
    <script src="/dist/js/cascade-select.js"></script>
</body>
</html>
