<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 菜单管理</title>

    #include("common/css-support.vm")
</head>
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <div id="breadcrumb">
                <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
                <a href="list" class="tip-bottom" data-original-title="">合同管理</a>
                <a href="javascipt:void(0)" class="tip-bottom" data-original-title="">编辑/查看</a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>合同编辑&查看</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form action="update" method="post" class="form-horizontal commonValidate" role="form"
                                  id="cityform">
                                <div class="control-group">
                                    <label class="control-label">id</label>
                                    <div class="controls">
                                        $!entity.id
                                    </div>
                                </div>



                                <div class="control-group">
                                    <label class="control-label">商户本地名称</label>
                                    <div class="controls">
                                        $!entity.relatedMchName
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">企业名称</label>
                                    <div class="controls">
                                        $!entity.mchName
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label">合同模版</label>
                                    <div class="controls">
                                        $!entity.templateTitle
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">类型</label>
                                    <div class="controls" >
                                        #if($!entity.type == 1)主合同#else 附加合同#end
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">合同编号</label>
                                    <div class="controls" >
                                        $!entity.contractNo
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">上传人</label>
                                    <div class="controls" >
                                        $!entity.username
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">国家</label>
                                    <div class="controls" >
                                        #foreach($e in $!countries)#if($!entity.countryId==$!e.id) $!e.name#end#end
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">合同起始日</label>
                                    <div class="controls" >
                                        $!dateFormatter.format("yyyy-MM-dd",$!entity.startTime)
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">合同截止日</label>
                                    <div class="controls" >
                                        $!dateFormatter.format("yyyy-MM-dd",$!entity.endTime)
                                    </div>
                                </div>



                                <div class="form-actions">
                                    <a class="btn btn-success btn-mini verify" data-id="$!entity.id" valid="false">驳回</a>
                                    #if($!entity.businessLicense && $!entity.paperContract)
                                        <a class="btn btn-info btn-mini verify" data-id="$!entity.id" valid="true">通过</a>
                                    #end
                                    <a class="btn btn-success btn-mini" href="list">返回</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    #include("common/js-support.vm")

    <script type="text/javascript">

        $(".verify").each(function (i, o) {
            $(o).on("click", function (event) {
                var id = $(this).attr("data-id");
                var valid = $(this).attr("valid");
                var message;
                if (valid == "false") {
                    message = "确定驳回该合同吗？";
                } else {
                    message = "确定该合同通过审核，通过审核后，合同字段将正式生效?";
                }
                if (confirm(message)) {
                    $.ajax({
                        url: 'verify',
                        data: {contractId: id, valid: valid},
                        type: 'get',
                        success: function (result) {
                            if (result.code == 0) {
                                alert("操作成功");
                                window.location.reload();
                            } else {
                                alert("Fail Code: " + result.code + " MSG: " + result.msg);
                            }
                        }
                    });
                }
            })
        });


        $(document).ready(function () {
            var type = $!type;
            if (type == 3) {
                $(":text").attr("disabled", "disabled");
                $("select").attr("disabled", "disabled");
            }
        });
    </script>
</body>
</html>
