#parse("common/list_start.vm")

<div id="content-header">
    <div id="breadcrumb">
        <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
        <a href="/contract/list" class="tip-bottom" data-original-title="">待审核合同</a>
    </div>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>列表</h5>
</div>
<table class="table table-bordered data-table dataTable" id="DataTables_Table_0">
    <thead>
    <tr role="row">
        <th>ID</th>
        <th>商家名称</th>
        <th>合同上传日期</th>
        <th>合同类型</th>
        <th>合同编号</th>
        <th>上传人</th>
        <th>国家</th>
        <th>合同起始日</th>
        <th>合同截止日</th>
        <th>电子合同</th>
        <th>营业执照上传日期</th>
        <th>纸质合同上传日期</th>
        <th>生效</th>
    </tr>
    </thead>
    <tbody>
        #foreach($entity in $!page.content)
        <tr class="odd gradeX">
            <td>$!entity.id</td>
            <td>$!entity.merchantName</td>
            <td>$!entity.submitTime</td>
            <td>$!entity.type</td>
            <td>$!entity.templateTitle</td>
            <td>$!entity.username</td>
            <td>$!entity.username</td>
            <td>$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!entity.startTime)</td>
            <td>$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!entity.endTime)</td>
            <td>$!entity.pdfurl</td>
            <td>未知
                <a href="edit?type=3&id=$!entity.id" class="btn btn-success btn-mini">查看</a>
                <a href="edit?type=2&id=$!entity.id" class="btn btn-info btn-mini">下载</a></td>
            <td>未知
                <a href="edit?type=3&id=$!entity.id" class="btn btn-success btn-mini">查看</a>
                <a href="edit?type=2&id=$!entity.id" class="btn btn-info btn-mini">下载</a></td>
            <td>$!entity.approveTime</td>

        </tr>
        #end
    </tbody>
</table>
#parse("common/list_mid.vm")
<form>
    <div class="control-group">
        <label>ID</label>
        <input type="text" class="span11" name="nameOrId" value="$!nameOrId">


        <label>本地名称</label>
        <input type="text" class="span11" name="merchantname" value="$!merchantname">



        <label>合同名称</label>
        <input type="text" class="span11" name="merchantname" value="$!merchantname">


        <label>合同编号</label>
        <input type="text" class="span11" name="merchantname" value="$!merchantname">

        <label>合同模板</label>
        <select id="templateid" name="templateid" class="span7">
            <option value="">全部</option>
            <option value="1">主合同</option>
            <option value="2">附加合同</option>
        </select>



        <label>合同类型</label>
        <select id="country.id" name="templateid" class="span7">
            <option value="">全部</option>
            <option value="1">主合同</option>
            <option value="2">附加合同</option>
        </select>

        <label>合同生效开始时间：</label>
        <input type="text" class="span11 dateTimeFormat" name="startTime" id="startTime" value="$!startTime"
               placeholder="开始时间">

        <label>结束时间：</label>
        <input type="text" class="span11 dateTimeFormat" name="endTime" value="$!endTime" id="endTime"
               placeholder="结束时间">


        <button type="submit" class="btn btn-primary">查询</button>
    </div>
</form>
#parse("common/list_end.vm")

