#parse("common/list_start.vm")

<div id="content-header">
    <div id="breadcrumb">
        <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
        <a href="/contract/list" class="tip-bottom" data-original-title="">待审核合同</a>
    </div>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>列表</h5>
</div>

<div style="overflow: auto;width: 100%">

    <table class="table table-bordered data-table dataTable" id="DataTables_Table_0">
        <thead>
        <tr role="row">
            <th>ID</th>
            <th>商户本地名称</th>
            <th>企业名称</th>
            <th>合同上传日期</th>
            <th>合同模版</th>
            <th>合同类型</th>
            <th>合同编号</th>
            <th>上传人</th>
            <th>国家</th>
            <th>合同起始日</th>
            <th>合同截止日</th>
            <th>电子合同</th>
            <th>营业执照</th>
            <th>纸质合同</th>
            <th>生效</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($entity in $!page.content)
            <tr class="odd gradeX">
                <td>$!entity.id</td>
                <td>$!entity.relatedMchName</td>
                <td>$!entity.mchName</td>
                <td>$!dateFormatter.format("yyyy-MM-dd",$!entity.submitTime)</td>
                <td>$!entity.templateTitle</td>
                <td>#if($!entity.type == 1)主合同#else 附加合同#end</td>
                <td>$!entity.contractNo</td>
                <td>$!entity.username</td>
                <td>
                    #foreach($e in $!countries)#if($!entity.countryId==$!e.id) $!e.name#end#end
                </td>
                <td>$!dateFormatter.format("yyyy-MM-dd",$!entity.startTime)</td>
                <td>$!dateFormatter.format("yyyy-MM-dd",$!entity.endTime)</td>
                <td><a href="/contract/preview?id=$!entity.id" target="_blank" class="btn btn-success btn-mini">查看</a>
                </td>
                <td>
                    #if($!entity.type == 1)
                        #if($!entity.businessLicense)
                            <a href="$!entity.businessLicense" target="_blank" class="btn btn-success btn-mini">查看</a>
                        #else
                            <a class="btn btn-warning btn-mini new-img" data-type="1" data-id="$!entity.id"
                               href="javascript:void(0);">上传</a>
                        #end
                    #else
                        无需上传
                    #end
                </td>
                <td>
                    #if($!entity.paperContract)
                        <a href="$!entity.paperContract" target="_blank" class="btn btn-success btn-mini">查看</a>
                    #else
                        <a class="btn btn-warning btn-mini new-img" data-type="2" data-id="$!entity.id"
                           href="javascript:void(0);">上传</a>
                    #end
                </td>
                <td>$!dateFormatter.format("yyyy-MM-dd",$!entity.approveTime)</td>
                <td>
                    <a href="edit?type=2&id=$!entity.id" class="btn btn-success btn-mini">审核</a>

                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>
#parse("common/list_mid.vm")
<form>
    <div class="control-group">
        <label>ID</label>
        <input type="text" class="span11" name="id" value="$!id">

        <label>本地名称</label>
        <input type="text" class="span11" name="merchantname" value="$!merchantname">


        <label>合同编号</label>
        <input type="text" class="span11" name="" value="$!contractNum">

        <label>国家</label>
        <select id="country.id" name="countryId" class="span11" target-name="templateid" target-url="api/templates">
            <option value="">请选择</option>
            #foreach($e in $!countries)
                <option value="$!e.id" #if($!countryId==$!e.id) selected #end>$!e.id:$!e.name</option>
            #end
        </select>

        <label>合同类型</label>
        <select name="type" class="span11">
            <option value="">全部</option>
            <option value="1" #if($!type==1)
                    selected #end>主合同
            </option>
            <option value="2" #if($!type==2)
                    selected #end>附加合同
            </option>
        </select>

        <label>合同模板</label>
        <select id="templateid" name="templateid" class="span11">
            <option value="">请选择</option>
            #foreach($e in $!templates)
                <option value="$!e.id" #if($!templateid==$!e.id)
                        selected #end>$!e.id:$!e.title</option>
            #end
        </select>

        <label>纸质合同</label>
        <select name="paperContract" class="span11">
            <option value="">全部</option>
            <option value="true" #if($!paperContract==true)
                    selected #end>有
            </option>
            <option value="false" #if($!paperContract==false)
                    selected #end>没有
            </option>
        </select>

        <label>营业执照</label>
        <select name="businessLicense" class="span11">
            <option value="">全部</option>
            <option value="true" #if($!businessLicense==true)
                    selected #end>有
            </option>
            <option value="false" #if($!businessLicense==false)
                    selected #end>没有
            </option>
        </select>

        <label>合同上传起止时间：</label>
        <input type="text" class="span11 dateFormat" name="starttime" value="$!starttime" placeholder="开始时间">
        <input type="text" class="span11 dateFormat" name="endtime" value="$!endtime" placeholder="结束时间">

        <button type="submit" class="btn btn-primary">查询</button>
    </div>
</form>
<div id="new-img-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="upload" target="hidden_frame" enctype="multipart/form-data" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>新增图片</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" class="span11" id="img-id" name="id">
            <input type="hidden" class="span11" id="img-type" name="type">
            <iframe style="display:none" name='hidden_frame' id="hidden_frame"></iframe>
            <div id="filelist" style="width: 90%;align-content: center">
                <div class="controls">
                    <input type="file" name="file">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
<script src="/dist/js/curd.js"></script>
<script src="/dist/js/cascade-select.js"></script>
<script type="text/javascript">
    $(function () {
        $(".new-img").on("click", function (event) {
            var id = $(this).attr("data-id");
            var type = $(this).attr("data-type");
            $("#img-id").attr("value", id);
            $("#img-type").attr("value", type);
            $("#new-img-modal").modal();
        });


    });
</script>
#parse("common/list_end.vm")

