#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
    <a href="list" class="tip-bottom" data-original-title="">多语言分类管理</a>
    <a href="#" class="tip-bottom" data-original-title="">列表</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>语言分类列表</h5>
    <a class="btn btn-mini btn-info buttons" href="edit?type=1">新增</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>是否全局</th>
        <th>描述</th>
        <th class="table-set" width="90px">操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($entity in $!page.content)
        <tr class="odd gradeX">
            <td width="22%" style="text-align: center">$!entity.id</td>
            <td width="22%" style="text-align: center">$!entity.name</td>
            <td width="22%" style="text-align: center"> #if($!entity.isGlobal==true) 是 #else 否 #end</td>
            <td width="22%" style="text-align: center">$!entity.desc</td>
            <td width="12%">
                <div align="center">
                    <a href="edit?type=2&id=$!entity.id" class="btn btn-success btn-mini">编辑</a>
                    <a href="edit?type=3&id=$!entity.id" class="btn btn-info btn-mini">查看</a>
                    <a class="btn btn-danger btn-mini remove-item" del-id="$!entity.id">删除</a>
                </div>
            </td>
        </tr>
        #end
    </tbody>
</table>
#parse("common/list_mid.vm")
<form class="form-horizontal " method="get">
    <div class="control-group" style="margin-bottom: 10px">
        <label>名称</label>
        <input type="text" class="span11" name="name" value="$!entity.name">
    </div>
    <div class="control-group" style="margin-bottom: 10px">
        <label>是否全局</label>
        <select id="country.id" name="isGlobal" class="span11">
            <option value="">全部</option>
            <option value="true"  #if($!entity.isGlobal==true) selected #end>是</option>
            <option value="false" #if($!entity.isGlobal==false) selected #end>否</option>
        </select>
    </div>
    <div class="control-group" style="margin-bottom: 10px">
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">查询</button>
    </div>
</form>

#parse("common/list_end.vm")

<script>
    /**
     * 删除语言
     */
    $(".remove-item").each(function (i, o) {
        $(o).on("click", function (event) {
            var id = $(this).attr("del-id");
            if (confirm("确实要删除多语言分类吗?")) {
                sureRemoveLangsDictionary(id);
            }
        });
    });

    function sureRemoveLangsDictionary(id) {
        if (confirm("确实要删除多语言分类吗?")) {
            var request = {};

            request.id = Number(id);

            // 需要判断是否有关联的多语言数据字典
            $.ajax({
                url: 'verifyRelatedLangsDictionary',
                data: JSON.stringify(request),
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 0) {
                        if (result.data) {
                            alert("有关联字典项不可以删除");
                        } else {
                            location.href = location.href;
                        }
                    } else {
                        alert(result.msg);
                    }
                }
            });
        }
    }

</script>
