<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统</title>
    #include("common/css-support.vm")
    #include("common/js-support.vm")
    <script type="text/javascript" src="/dist/js/page-support.js"/>
    <script type="text/javascript" src="/dist/js/merchant-category/merchant-cat.js"/>

</head>
<body>
<div id="content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div class="widget-box">
                    <div class="widget-content nopadding">


                        <link href="/dist/css/merchant-category/merchantCat.css" rel="stylesheet"/>

                        <div id="breadcrumb"><a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>
                            主页</a>
                            <a href="/merchantCat/list" class="tip-bottom" data-original-title="">商户分类</a>
                        </div>
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>商户分类列表</h5>
                            <a class="btn btn-mini btn-info buttons" href="edit?type=1">新增</a>
                        </div>

                        <table class="table table-bordered data-table dataTable">
                            <thead class="thead-class">
                            <tr class="thread-tr">
                                <th>序号</th>
                                <th>分类名称</th>
                                <th>分类名称（本地）</th>
                                <th>分类名称（英语）</th>
                                <th>简称</th>
                                <th>分类属性</th>
                                <th>是否显示</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="tbody-list">
                                #set($sort = 1)
                                #if ($null.isNull($page.content) || $page.content.size()==0)
                                <tr>
                                    <td colspan="8" style="text-align:center;">
                                        <div class="no-result-div" style="text-align: center;vertical-align: middle;height: 50px;line-height: 50px;">
                                            <p>没有符合条件的商户分类信息！</p>
                                        </div>
                                    </td>
                                </tr>
                                #end
                                #foreach($entity in $!page)
                                <tr class="tr-class" data-id="$!entity.id">
                                    <td class="td-id tr-class">$sort</td>
                                    <td class="td-catename tr-class">
                                        #if("$!entity.pcat.name" == "")
                                            $!entity.name

                                            #if("$!entity.imageUrl" != "")
                                                <img width="20px" src="$!entity.imageUrl">
                                            #end
                                        #else
                                            $!entity.name
                                        #end
                                    </td>
                                    <td class="td-local-name">
                                        #if("$!entity.localNameLabel" != "")
                                            $!entity.localNameLabel
                                        #else
                                            <span class="empty-data">暂无</span>
                                        #end
                                    </td>
                                    <td class="td-en-name">
                                        #if("$!entity.enNameLabel" != "")
                                            $!entity.enNameLabel
                                        #else
                                            <span class="empty-data">暂无</span>
                                        #end
                                    </td>
                                    <td class="td-shortname">
                                        #if("$!entity.shortname" != "")
                                            $!entity.shortname
                                        #else
                                            <span class="empty-data">暂无</span>
                                        #end
                                    </td>
                                    <td class="td-cate">
                                        #if("$!entity.pcat" == "")
                                            一级
                                        #else
                                            二级
                                        #end
                                    </td>
                                    <td class="td-display">
                                        #if($!entity.display)
                                            显示
                                        #else
                                            隐藏
                                        #end
                                    </td>
                                    <td class="td-opt">
                                        <a href="edit?type=2&id=$!entity.id" class="btn btn-info btn-mini">
                                            编辑
                                        </a>
                                    #*<a href='javascript:void(0)' onclick="delCat('$!entity.id')" class="btn btn-danger btn-mini">
                                        删除
                                    </a>*#
                                    </td>
                                </tr>
                                    #set($sort = $sort + 1)
                                #end
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="span2">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"><i class="icon-list"></i></span>
                        <h5>筛选列表</h5>
                    </div>
                    <div class="widget-content">
                        <form class="form-horizontal search-form" method="get">
                            <div class="control-group" style="margin-bottom: 10px;width: 90%;">
                                <label>分类名称 或ID</label>
                                <input type="text" class="span11" name="nameOrId" value="$!nameOrId">
                            </div>
                            <div class="control-group" style="margin-bottom: 10px;">
                                <label>是否显示</label>
                                <select name="display" style="width: 85%;">
                                    <option value="">全部</option>
                                    <option value="true"  #if($!entity.display==true)  selected #end>显示</option>
                                    <option value="false"  #if($!entity.display==false)  selected #end>隐藏</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">查询</button>
                            <button class="btn btn-warning search-reset">重置</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>


