<!doctype html>


<div class="zTreeDemoBackground left">
    <ul id="treeDemo" class="ztree"></ul>
</div>
<link  href="/dist/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="/dist/ztree/js/jquery.ztree.core.js"></script>
<script src="/dist/ztree/js/jquery.ztree.excheck.js"></script>
<script>


/*    var setting = {
        check: {
            enable: false
        },
        data: {
            simpleData: {
                enable: true
            }
        }
    };*/

    var setting={
        check: {
            enable: false
        },
        view: {
            showLine: true,
            selectedMulti: false,
            dblClickExpand: false,
            showLine : true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onNodeCreated: this.onNodeCreated,
            beforeClick: this.beforeClick,
            onClick: this.onClick
        }
    };
    var zNodes =${nodeData};

//    var zNodes =[
//        {id:1, pId:0, name:"[core] 基本功能 演示", open:true,nocheck:false,checked:true},
//        {id:101, pId:1, name:"最简单的树 --  标准 JSON 数据",  open:true,nocheck:false,checked:true},
//        {id:102, pId:1, name:"最简单的树 --  简单 JSON 数据",  open:true,nocheck:false,checked:true},
//        {id:103, pId:1, name:"不显示 连接线", open:true,nocheck:false,checked:true}
//    ];


    $(document).ready(function(){
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });


</script>






