#parse("common/list_start.vm")
<div id="breadcrumb"><a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>
    主页</a>
    <a href="/merchantCat/list" class="tip-bottom" data-original-title="">商户分类</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>商户分类列表</h5>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>商户分类名称</th>
        <th>简称</th>
        <th>父节点分类</th>
        <th>是否显示</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($entity in $!page.content)
        <tr class="odd gradeX">
            <td>$!entity.id</td>
            <td>$!entity.name</td>
            <td>$!entity.shortname</td>
            <td>$!entity.pcat.name</td>
            <td>
                #if($!entity.display)
                    显示
                #else
                    隐藏
                #end
            </td>
            <td>
                <a href="edit?type=2&id=$!entity.id" class="btn btn-success btn-mini">编辑</a>
                <a href="edit?type=3&id=$!entity.id" class="btn btn-info btn-mini">查看</a>
            </td>
        </tr>
        #end
    </tbody>
</table>

<div class="form-actions">
    <a class="btn btn-info" href="edit?type=1">新增</a>
</div>
#parse("common/list_mid.vm")
<form class="form-horizontal " method="get">
    <div class="control-group">
        <label>分类名称 或ID</label>
        <input type="text" class="span11" name="nameOrId" value="$!nameOrId">
    </div>
    <div class="control-group">
        <label>是否显示</label>
        <select name="display">
            <option value="">全部</option>
            <option value="true"  #if($!entity.display==true)  selected #end>显示</option>
            <option value="false"  #if($!entity.display==false)  selected #end>隐藏</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">查询</button>
</form>
#parse("common/list_end.vm")









