<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 菜单管理</title>
    #include("common/css-support.vm")
    <link href="/dist/css/mission-group/missionAdd.css" rel="stylesheet"/>
</head>
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <div id="breadcrumb">
                <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
                <a href="list" class="tip-bottom" data-original-title="">战队管理</a>
                <a href="javascipt:void(0)" class="tip-bottom" data-original-title="">新增</a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>新增战队</h5>
                        </div>
                        <div class="form-horizontal">
                            <div class="nopadding">
                                <div>
                                    <div>
                                        <label class="control-label my-label">战队名称：</label>
                                        <div class="controls my-controls">
                                            <input class="span10 name" type="text" placeholder="战队名称"/>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="control-label my-label">国家：</label>
                                        <div class="controls my-controls">
                                            <select class="span10 select-country">
                                                <option class="country-unit" value>请选择国家</option>
                                                #foreach($country in $!countries)
                                                    <option value="$!country.id">$!country.name</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="control-label my-label">城市：</label>
                                        <div class="controls my-controls">
                                            <select class="span10 select-city">
                                                <option class="city-unit" value>请选择城市</option>
                                                #foreach($city in $!cities)
                                                    <option value="$!city.id" class="option-city" country-id="$!city.country.id">$!city.name</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="control-label my-label">队长：</label>
                                        <div class="controls my-controls">
                                            <select class="span10 leader">
                                                <option value>请选择队长</option>
                                                #foreach($bdUser in $!allBdUsers)
                                                    <option value="$!bdUser.id">$!bdUser.chineseName</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="control-label my-label">副队长：</label>
                                        <div class="controls my-controls">
                                            <select class="span10 viceleader">
                                                <option value>请选择副队长</option>
                                                #foreach($bdUser in $!allBdUsers)
                                                    <option value="$!bdUser.id">$!bdUser.chineseName</option>
                                                #end
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="control-label my-label">描述：</label>
                                        <div class="controls my-controls">
                                            <textarea class="span10 desc" rows="5" placeholder="描述"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions" style="text-align: center">
                                    <input type="hidden" name="isPublic" value="0"/>
                                    <a class="btn btn-success save-group">
                                        <i class="icon-edit"> 确定</i>
                                    </a>
                                    <a class="btn btn-primary my-button" href="list">
                                        <i class="icon-repeat"> 返回</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 新增战队结果 -->
    <div class="modal hide fade saveGroupResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 999999999;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 id="myModalLabel">新增战队结果</h4>
        </div>
        <div class="modal-body">
            <strong class="saveGroupResult" style="margin-left: 20px;font-size: 14px;"></strong>
        </div>
        <div class="modal-footer">
            <input type="hidden" class="add-result" value="" />
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
    #include("common/js-support.vm")
    <script src="/dist/js/mission-group/missionGroupAdd.js"></script>
</body>
</html>
