#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
    <a href="list" class="tip-bottom" data-original-title="">战队管理</a>
    <a href="#" class="tip-bottom" data-original-title="">列表</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>战队管理列表</h5>
    <a class="btn btn-mini btn-info buttons" href="add">新增</a>
#*<a class="btn btn-mini btn-info buttons" onclick="langsCommonDialog()">通用新增</a>*#
</div>
<style>
    .tdInput {
        width: 75%;
    }

    .text-gray {
        background-color: grey;
    }

    #select2-categoryId-xe-container {
        min-width: 180px;
    }

    .td-update-time{
        min-width: 120px;
    }
    .td-sort{
        min-width: 60px;
    }
</style>
<div style="width: 100%">
    <table class="table table-bordered data-table dataTable" id="DataTables_Table_0">
        <thead role="row">
        <tr>
            <th>ID</th>
            <th>战队名称</th>
            <th>国家</th>
            <th>城市</th>
            <th>对队员显示</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>描述</th>

        </tr>
        </thead>
        <tbody>

            #foreach($vo in $!vos.content)
            <tr class="odd gradeX">
                <td class="td-sort">
                    <label style="text-align: center;">$!vo.user.id</label>
                </td>
                <td class="td-sort">
                    <label style="text-align: center;">$!vo.group.id</label>
                </td>
                <td class="td-sort">
                    <label style="text-align: center;">$!vo.group.name</label>
                </td>
                <td class="td-sort">
                    <label style="text-align: center;">$!vo.country.name</label>
                </td>
                <td class="td-sort">
                    <label style="text-align: center;">$!vo.group.city.name</label>
                </td>
                <td class="td-sort">
                    <label style="text-align: center;">$!vo.group.ispublic</label>
                </td>
                <td class="td-sort">
                    <label style="text-align: center;">$!vo.group.createdt</label>
                </td>
                <td class="td-sort">
                    <label style="text-align: center;">$!vo.group.updatedt</label>
                </td>
                <td class="td-sort">
                    <label style="text-align: center;">$!vo.group.desc</label>
                </td>

                <td style="min-width: 80px;">
                    <div style="text-align: center">
                        <a key-code="$!vo.id" class="btn btn-primary btn-mini modify-item" href="edit?id=$!vo.user.id">编辑</a>
                    </div>
                </td>

            </tr>
                #set($sort = $sort + 1)
            #end
        </tbody>
    </table>
</div>


#parse("common/list_mid.vm")
<form class="form-horizontal search-form" method="get" action="list">


</form>

#parse("common/list_end.vm")



