<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统 $!{group.name}-战队成员列表</title>
    #include("common/css-support.vm")
    #include("common/js-support.vm")
    <style>
        .span10 {
            width: 100%;
        }

        .td-label {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="content" class="content-container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10" style="width: 100%">
                <div class="widget-box">
                    <div class="widget-content nopadding">
                        <div id="breadcrumb">
                            <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>
                                主页</a>
                            <a href="list" class="tip-bottom" data-original-title="">战队管理</a>
                            <a href="#" class="tip-bottom" data-original-title="">战队成员列表</a>
                        </div>
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span>
                            <h5>$!{group.name}-战队成员列表</h5>
                        </div>
                        <div style="width: 100%">
                            <table class="table table-bordered data-table dataTable" id="DataTables_Table_0">
                                <thead role="row">
                                <tr>
                                    <th class="th-sort">序号</th>
                                    <th class="th-name">用户名</th>
                                    <th class="th-chineseName">中文名</th>
                                    <th class="th-level">级别</th>
                                    <th class="th-country-name">所属国家</th>
                                    <th class="th-email">合同归档邮箱</th>
                                    <th class="th-dmail">钉钉邮箱</th>
                                    <th class="th-create-time">创建时间</th>
                                    <th class="th-update-time">更新时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                    #if ($null.isNull($list) || $list.size()==0)
                                    <tr>
                                        <td colspan="9" style="text-align:center;">
                                            <div class="no-result-div"
                                                 style="text-align: center;vertical-align: middle;height: 50px;line-height: 50px;">
                                                <p>暂无组成员</p>
                                            </div>
                                        </td>
                                    </tr>
                                    #end

                                    #foreach($vo in $!list)
                                    <tr class="odd gradeX">
                                        <td class="td-sort">
                                            <label class="td-label">$!velocityCount</label>
                                        </td>
                                        <td class="td-name">
                                            <label class="td-label">$!vo.name</label>
                                        </td>
                                        <td class="td-chineseName">
                                            <label class="td-label">$!vo.chineseName</label>
                                        </td>
                                        <td class="td-level">
                                            #if($!group.leader.id == $!vo.id)
                                                <label class="td-label group-leader" style="color: red">队长</label>
                                            #elseif($!group.viceLeader.id == $!vo.id)
                                                <label class="td-label group-viceleader" style="color: red">副队长</label>
                                            #else
                                                <label class="td-label">队员</label>
                                            #end
                                        </td>
                                        <td class="td-country-name">
                                            <label class="td-label">$!group.country.name</label>
                                        </td>
                                        <td class="td-email">
                                            <label class="td-label">$!vo.email</label>
                                        </td>
                                        <td class="td-dmail">
                                            <label class="td-label">$!vo.dmail</label>
                                        </td>
                                        <td class="td-create-time">
                                            <label class="td-label">$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!vo.createTime)</label>
                                        </td>
                                        <td class="td-update-time">
                                            <label class="td-label">$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!vo.updateTime)</label>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>



