#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom"><i class="icon-home"></i>主页</a>
    <a href="javascript:void(0);" class="tip-bottom">评价管理</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>评价列表</h5>
</div>
<link href="/dist/css/comment-order/comment.css" rel="stylesheet"/>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th class="th-orderNo">订单编号</th>
        <th class="th-score">评分</th>
        <th class="th-shopName">店铺名称</th>
        <th class="th-comment">商铺评价</th>
        <th class="th-commentTime">评论时间</th>
        <th class="th-replyTime">回复时间</th>
        <th class="th-status">状态</th>
        <th class="th-opt">操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($e in $!page.content)
        <tr class="tr-info" data-commentId="$!e.id">
            <td class="td-order">$!e.order.ordersn</td>
            <td class="td-score">$!e.score</td>
            <td class="td-shopName"><a href="$!link.requestPath/merchant/detail?id=$!e.merchant.id" class="alink"> $!e.merchant.name</a></td>
            <td class="td-comment">$!e.content</td>
            <td class="td-createTime">$!e.createTime</td>
            <td class="td-replyTime">$!e.replyTime</td>
            <td class="comment-status">
                #if($!e.display)
                    <label class="show-display">显示</label>
                #else
                    <label class="hide-dispaly">隐藏</label>
                #end
            </td>
            <td class="td-opt">
                <button data-id="$!e.id" class="btn btn-success btn-mini detail-item" modal-id="detail-modal">查看</button>
                <button data-name="commentId" data-value="$!e.id" class="btn btn-info btn-mini add-item" modal-id="reply-modal">回复</button>
                #if($!e.display)
                    <button data-id="$!e.id" class="btn btn-danger btn-mini hide-item">隐藏</button>
                #else
                    <button data-id="$!e.id" class="btn btn-warning btn-mini show-item">显示</button>
                #end
            ##  <button data-id="$!e.id" class="btn btn-danger btn-mini remove-item">删除</button>
            </td>
        </tr>
        #end
    </tbody>
</table>
#parse("common/list_mid.vm")
<form method="get">
    <div class="control-group">
        <label>商户</label>
        <select class="span11 select2" name="merchant.id">
            <option value="">全部</option>
            #foreach($merchant in $!merchants)
                <option value="$!merchant.id"
                    #if($!entity.merchant.id == $!merchant.id)
                        selected
                    #end
                >$!merchant.id:$!merchant.name</option>
            #end
        </select>

        <label>商户名称</label>
        <input type="text" class="span11" name="merchant.name" value="$!entity.merchant.name">

        <label>订单编号</label>
        <input type="text" class="span11" name="order.ordersn" value="$!entity.order.ordersn">

        <label>状态</label>
        <select name="display" class="span11">
            <option value="">全部</option>
            <option #if($!entity.display) selected #end value="true">显示</option>
            <option #if($!entity.display==false) selected #end value="false">隐藏</option>
        </select>

        <label>评分高低</label>
        <select name="scoreStr" class="span11">
            <option value="">全部</option>
            <option #if($!scoreStr == "high") selected #end value="high">高分</option>
            <option #if($!scoreStr == "low") selected #end value="low">低分</option>
        </select>

        <label>评论时间</label>
        <input type="text" class="span11 dateFormat" name="beginDate" value="$!dateFormatter.format("yyyy-MM-dd",$!time.beginDate)" placeholder="开始时间">
        <input type="text" class="span11 dateFormat" name="endDate" value="$!dateFormatter.format("yyyy-MM-dd",$!time.endDate)" placeholder="结束时间">

        <button type="submit" class="btn btn-primary">查询</button>
    </div>
</form>

<div id="reply-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>评价管理</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal commonValidate" action="reply">
            <input name="commentId" id="id" type="hidden">
            <div class="control-group">
                <label class="control-label">回复内容</label>
                <div class="controls">
                    <textarea name="content" class="span11"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary submit-item" type="button" modal-id="reply-modal">保存</button>
    </div>
</div>
<div id="detail-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>回复列表</h3>
    </div>
    <div class="modal-body controls" id="replies">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>
<script type="text/javascript" src="/dist/js/curd.js"></script>
<script type="text/javascript" src="/dist/js/comment-order/comment.js"></script>
#parse("common/list_end.vm")