#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom"><i class="icon-home"></i>主页</a>
    <a href="javascript:void(0);" class="tip-bottom">评价美化</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>卡券列表</h5>
    <a class="btn btn-mini btn-info buttons" href="add">新增</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>店铺名称</th>
        <th>评分</th>
        <th>商铺评价</th>
        <th>评论时间</th>
        <th width="90px">操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($e in $!page.content)
        <tr>
            <td>$!e.id</td>
            <td>
                <a href="$!link.requestPath/merchant/detail?id=$!e.merchant.id" class="alink">$!e.merchant.name</a>
            </td>
            <td>$!e.score</td>
            <td>$!e.content</td>
            <td>$!e.createTime</td>
            <td>
                <button data-id="$!e.id" class="btn btn-danger btn-mini remove-item">删除</button>
                <a data-id="$!e.id" class="btn btn-info btn-mini" href="edit?id=$!e.id">编辑</a>
            </td>
        </tr>
        #end
    </tbody>
</table>
#parse("common/list_mid.vm")
<form class="form-horizontal " role="form" method="get">
    <div class="control-group">
        <label>订单编号</label>
        <input type="text" name="order.ordersn" class="span9" value="$!entity.order.ordersn"/>
        <label>商户</label>
        <select name="merchant.id" class="span9 select2">
            #foreach($e in $!merchants)
                <option value="$!e.id" #if($!e.id == $!entity.merchant.id) selected #end>$!e.id:$!e.name</option>
            #end
        </select>
    </div>

    <div class="control-group">
        <button type="submit" class="btn btn-primary">查询</button>
    </div>
</form>
<script src="/dist/js/curd.js"></script>
#parse("common/list_end.vm")