#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i>主页</a>
    <a href="javascipt:void(0);" class="tip-bottom" data-original-title="">特色专辑管理</a>
</div>
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>特色专辑列表</h5>
    <a class="btn btn-mini btn-info buttons" href="add">新增</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>城市</th>
        <th>链接</th>
        <th width="200px">操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($e in $!page.content)
        <tr class="odd gradeX">
            <td>$!e.id</td>
            <td>$!e.title</td>
            <td>
                <a href="$!link.requestPath/city/edit?type=3&id=$!e.city.id" class="alink"> $!e.city.name</a>
            </td>
            <td>$!e.linkUrl</td>
            <td>
                <button data-id="$!e.id" class="btn btn-danger btn-mini remove-item">删除</button>
                <a class="btn btn-success btn-mini" data-id="$!e.id" href="detail?id=$!e.id">查看</a>
                <a class="btn btn-info btn-mini" data-id="$!e.id" href="edit?id=$!e.id">编辑</a>
            #*   #if($!e.display)
                   <button data-id="$!e.id" class="btn btn-danger btn-mini remove-item">隐藏</button>
               #end*#
                <a class="btn btn-info btn-mini" data-id="$!e.id" href="/culturalRecommendations/list?group.id=$!e.id">特色管理</a>
            </td>
        </tr>
        #end
    </tbody>
</table>
#parse("common/list_mid.vm")
<form class="form-horizontal " role="form" method="get">
    #if($!countries.size() > 1)
        <div class="control-group">
            <label>国家</label>
            <select name="countryId" class="span11" target-name="city.id" target-url="/city/api/getCitys">
                <option value="">全部</option>
                #foreach($e in $!countries)
                    <option value="$!e.id"
                        #if($!entity.countryId == $!e.id)
                            selected
                        #end
                    >$!e.id:$!e.name</option>
                #end
            </select>
        </div>
    #end
    <div class="control-group">
        <label>城市</label>
        <select name="city.id" class="span11"></select>
    </div>
    <div class="control-group">
        <label>状态：</label>
        <select name="display" class="span11">
            <option value="">全部</option>
            <option value="true" #if($!entity.display==true)selected#end>显示</option>
            <option value="false" #if($!entity.display==false)selected#end>隐藏</option>
        </select>
    </div>
    <div class="control-group">
        <label>名称</label>
        <input type="text" name="title" class="span11" value="$!entity.title" placeholder="名称"/>
    </div>
    <div class="control-group">
        <button type="submit" class="btn btn-primary">查询</button>
    </div>
</form>
#parse("common/list_end.vm")
<script src="/dist/js/curd.js"></script>
<script src="/dist/js/cascade-select.js"></script>