<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>暖游 后台管理系统</title>
    #include("common/css-support.vm")
    #include("common/js-support.vm")
    <link rel="stylesheet" href="/dist/markdown/css/editormd.css"/>
</head>
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/index" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 主页</a>
            <a href="list" class="tip-bottom" data-original-title="">商户管理</a>
            <a href="#" class="tip-bottom" data-original-title="">编辑</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i></span>
                        <h5>商户编辑</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal merchantValidate" action="update" method="post" id="commonForm">
                            <input type="hidden" class="span10" name="id" value="$!entity.id">
                            <div class="control-group">
                                <label class="control-label">中文名称</label>
                                <div class="controls">
                                    <input type="text" class="span10" placeholder="中文名称" name="name" value="$!entity.name" maxlength="80">
                                </div>
                                <label class="control-label">本地名称</label>
                                <div class="controls">
                                    <input type="text" class="span10" placeholder="本地名称" name="kpname" value="$!entity.kpname" maxlength="80">
                                </div>
                                <label class="control-label">商家电话</label>
                                <div class="controls">
                                    <input type="text" class="span10" placeholder="商家电话" name="telphone" value="$!entity.telphone" maxlength="20">
                                </div>
                                <label class="control-label">人均消费</label>
                                <div class="controls">
                                    <input type="number" class="span10" placeholder="人均消费" name="consume" value="$!entity.consume" maxlength="10">
                                </div>
                                <label class="control-label">营业开始时间</label>
                                <div class="controls">
                                    <input type="text" class="span10 timeFormat" placeholder="营业开始时间" name="businessStart" value="$!dateFormatter.format("HH:mm:ss",$!entity.businessStart)">
                                </div>
                                <label class="control-label">营业结束时间</label>
                                <div class="controls">
                                    <input type="text" class="span10 timeFormat" placeholder="营业结束时间" name="businessEnd" value="$!dateFormatter.format("HH:mm:ss",$!entity.businessEnd)">
                                </div>
                                <label class="control-label">营业日</label>
                                <div class="controls">
                                    #foreach($e in $!weeks)
                                        <input type="checkbox" class="checkbox" name="businessDay" value="$!e"
                                            #foreach($t in $!entity.businessDay)
                                               #if($!t == $!e)checked#end
                                            #end
                                        /> $!e.name
                                    #end
                                </div>
                                <label class="control-label">核销方式</label>
                                <div class="controls">
                                    <select class="span10" name="verifyType">
                                        #foreach($e in $!verifyTypes)
                                            <option value="$!e" #if($!e == $!entity.verifyType)selected#end>$!e.name</option>
                                        #end
                                    </select>
                                </div>
                                <label class="control-label">显示状态</label>
                                <div class="controls">
                                    <input type="radio" name="display" value="true" #if($entity.display)checked#end/>是
                                    <input type="radio" name="display" value="false" #if(!$entity.display)checked#end/>否
                                </div>
                                <label class="control-label">合作情况</label>
                                <div class="controls">
                                    <input type="radio" name="issign" value="true" #if($entity.issign)checked#end/>已签约
                                    <input type="radio" name="issign" value="false" #if(!$entity.issign)checked#end/>未签约
                                </div>
                                <label class="control-label">是否推荐</label>
                                <div class="controls">
                                    <input type="checkbox" name="recommend" value="true" #if($!entity.recommend)checked#end/> 是
                                </div>
                                <label class="control-label">商户评分</label>
                                <div class="controls">
                                    <input type="text" class="span10" placeholder="商户评分" name="score" value="$!entity.score">
                                </div>


                                #if(!$countryHide)
                                    <label class="control-label">商户汇率系数</label>
                                    <div class="controls">
                                        <input type="radio" name="hasratio" value="false" #if(!$!entity.ratio)checked#end/>不填写
                                        <input type="radio" name="hasratio" value="true" #if($!entity.ratio)checked#end/>填写
                                        <input type="text" class="span9 #if(!$!entity.ratio) hide #end" placeholder="商户汇率" name="ratio" value="$!entity.ratio">
                                    </div>
                                #end



                                <label class="control-label">分类信息</label>
                                <div class="controls">
                                    <select name="mcat.id" class="span10" target-name="subcat.id" target-url="/merchantCat/api/list">
                                        #foreach($e in $!cats)
                                            <option value="$!e.id" #if($!e.id == $!entity.mcat.id) selected #end>$!e.name</option>
                                        #end
                                    </select>
                                </div>
                                <label class="control-label">子分类信息</label>
                                <div class="controls">
                                    <select class="span10" name="subcat.id" def-value="$!entity.subcat.id"></select>
                                </div>
##                                <label class="control-label">2.0分类信息</label>
##                                <div class="controls">
##                                    <select class="span10" name="catId">
##                                        <option value="1" #if($!entity.catId==1) selected #end>美食</option>
##                                        <option value="2" #if($!entity.catId==2) selected #end>购物</option>
##                                        <option value="3" #if($!entity.catId==3) selected #end>景点</option>
##                                    </select>
##                                </div>
                                <label class="control-label">中文地址</label>
                                <div class="controls">
                                    <input type="text" class="span10" placeholder="中文地址" name="address" value="$!entity.address" maxlength="200">
                                </div>
                                <label class="control-label">本地地址</label>
                                <div class="controls">
                                    <input type="text" class="span10" placeholder="本地地址" name="kpaddress" value="$!entity.kpaddress" maxlength="200">
                                </div>
##                                <label class="control-label">2.0列表图</label>
##                                <div class="controls">
##                                    <input type="text" class="span9" id="indexImgUrl" placeholder="2.0列表图" name="indexImgUrl" value="$!entity.indexImgUrl">
##                                    <button type="button" class="btn btn-success previewBtn" data-id="indexImgUrl">预览</button>
##                                    <button type="button" class="btn btn-success uploadImgBtn" data-id="indexImgUrl" data-width="600" data-height="200">上传
##                                    </button>
##                                </div>

                                <label class="control-label">3.0列表图</label>
                                <div class="controls">
                                    <input type="text" class="span9" id="listImgUrl" placeholder="3.0列表图" name="listImgUrl" value="$!entity.listImgUrl">
                                    <button type="button" class="btn btn-success previewBtn" data-id="listImgUrl">预览</button>
                                    <button type="button" class="btn btn-success uploadImgBtn" data-id="listImgUrl" imageSpec="MerchantList">上传</button>
                                    <p>尺寸: 320 * 240, 限制: 50k</p>
                                </div>

                                <label class="control-label">经纬度</label>
                                <div class="controls">
                                    <input type="text" class="span4" id="longitude" placeholder="经度" name="longitude" value="$!entity.longitude" required>
                                    <input type="text" class="span4" id="latitude" placeholder="纬度" name="latitude" value="$!entity.latitude" required>
                                    <button type="button" class="btn btn-success viewMap">查看地图</button>
                                </div>

                                #if ($!entity.id)
                                    <label class="control-label">定位为默认经纬度</label>
                                    <div class="controls">
                                        #if($!entity.locateExactly==true)
                                            否
                                        #elseif($!entity.locateExactly==false)
                                            是
                                        #end
                                    </div>
                                    <input type="hidden" value="$!entity.locateExactly"  name="locateExactly">
                                #end



                                <label class="control-label">商圈信息</label>
                                <div class="controls">
                                    <select class="span10" name="district.Id">
                                        #foreach($e in $!districts)
                                            <option value="$!e.id" #if($!e.id == $!entity.district.Id) selected #end>$!e.name（$!e.kpname）</option>
                                        #end
                                    </select>
                                </div>

                                <label class="control-label">地标信息</label>
                                <div class="controls">
                                    <select class="span9" name="landmarkId" def-value="$!entity.landmarkId">
                                        <option value="">无</option>
                                    </select>
                                    <button type="button" class="btn btn-success landmark" data-width="200" data-height="150">获得地标</button>
                                </div>

                                <label class="control-label">顺序</label>
                                <div class="controls">
                                    <input type="text" class="span10" placeholder="顺序" name="sort" value="$!entity.sort">
                                </div>
                                <label class="control-label">支付方式</label>
                                <div class="controls">
                                    #foreach($e in $!payTypes)
                                        <input name="payTypes" type="checkbox" value="$!e"
                                            #foreach($t in $!entity.payTypes)
                                               #if($!e == $!t)checked#end
                                            #end
                                        /> $!e.name
                                    #end
                                </div>
                                <label class="control-label">支持类型</label>
                                <div class="controls">
                                    #foreach($e in $!supportTypes)
                                        <input type="checkbox" name="supportType" value="$!e"
                                            #foreach($t in $!entity.supportType)
                                               #if($!e == $!t)checked="true"#end
                                            #end
                                        /> $!e.name
                                    #end
                                </div>

                                <label class="control-label">收款码</label>
                                #if (!$!entity.id)
                                <div id = 'cc' class="controls">
                                    <input style="margin-bottom:10px" type="text" class="span8" placeholder="" name="collectionCodeList" value="">
                                    <a class="btn btn-info btn-mini addLang" langskeyname="name" langsvaluename="nameLabel"> <i class="icon-plus"></i> </a>
                                </div>
                                    #else
                                    <div id = 'cc' class="controls">
                                        #foreach($e in $!entity.collectionCodeList)
                                            #if($velocityCount == 1)
                                                <input style="margin-bottom:10px"  type="text" class="span8" placeholder="" name="collectionCodeList" value="$e">
                                                <a class="btn btn-info btn-mini addLang" langskeyname="name" langsvaluename="nameLabel"> <i class="icon-plus"></i> </a>
                                            #else
                                                <input style="margin-bottom:10px"  type="text" class="span8" placeholder="" name="collectionCodeList" value="$e">
                                                <a class="btn btn-info btn-mini addLang" langskeyname="name" langsvaluename="nameLabel"> <i class="icon-minus"></i> </a>
                                            #end

                                        #end

                                    </div>

                                #end

                                <label class="control-label">概述</label>
                                <div class="controls">
                                    <input type="text" class="span10" placeholder="概述" name="outline" value="$!entity.outline">
                                </div>
                                <label class="control-label">小贴士</label>
                                <div class="controls">
                                    <textarea class="span10" name="tips">$!entity.tips</textarea>
                                </div>
                                <label class="control-label">商户介绍</label>
                                <div class="controls">
                                    <textarea class="span10" name="intro" id="intro">$!entity.intro</textarea>
                                </div>
                                <div class="directMail" style="display: none">
                                    <label class="control-label">邮费</label>
                                    <div class="controls">
                                        <input type="text" class="span10" placeholder="请输入本地货币" name="postage" value="$!entity.postage" id="postage">
                                    </div>
                                    <label class="control-label">起邮重量</label>
                                    <div class="controls">
                                        <input type="text" class="span9" placeholder="最小计算重量，可选" name="mailWeight" value="$!entity.mailWeight">（KG）
                                    </div>
                                    <label class="control-label">直邮提示</label>
                                    <div class="controls">
                                        <input type="text" class="span10" name="directmailRemind" value="$!entity.directmailRemind">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success" id="btn-save">保存</button>
                                <a class="btn btn-warning" id="btn-edit">编辑</a>
                                <a class="btn btn-primary goback" href="list">返回</a>
                                <input type="hidden" value="$!disabled" id="disabled"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
            #if($!disabled)
            $("#btn-save").hide();
            $(":input").attr("disabled", true);
            $("#btn-edit").on("click", function () {
                $(":input").attr("disabled", false);
                $("#btn-save").show();
                $("#btn-edit").hide();
            });
            #else
            $("#btn-edit").hide();
            #end

        var r = '/^\d{1,9}$/';　　//正整数
        $("#btn-save").bind('click',function () {
            if ( $("input[name='collectionCodeList']").length>0 ){
                for (var i = 0;i<$("input[name='collectionCodeList']").length;i++ ) {
                    if (r.test($("input[name='collectionCodeList']")[i].value)) {
                        alert ('收款码输入错误，请重新填写');
                        return false;
                    }
                }
            }
        });

        $('.icon-plus').bind('click',function () {

            if ( $("input[name='collectionCodeList']").length>2 ){
                alert ('最多只能添加三个');
                return;
            }
            $('#cc').append('<input style="margin-bottom:10px" type="text" class="span8" placeholder="" name="collectionCodeList" value=""> <a class="btn btn-info btn-mini addLang" langskeyname="name" langsvaluename="nameLabel"> <i class="icon-minus" onclick="minus(this);"></i> </a>');
        });
        $('.icon-minus').bind('click',function () {
            $(this).parent().prev().remove();
            $(this).parent().remove();
        });
        var minus = function (e) {
            $(e).parent().prev().remove();
            $(e).parent().remove();
        }
        $("input[name='hasratio']").bind("click", function () {
//            if($(this).attr('checked') == 'checked') return ;
//            $(this).attr("checked","checked");
            if ($(this).val() == 'true') {
                if (confirm('确定要输入商品汇率系数吗?')) {
                    $("input[name='ratio']").removeClass('hide');
                } else {
                    $(this).removeAttr("checked");
                    $("input[name='hasratio']:first").prop("checked", true);
                }
            } else {
                if (confirm('确定要使用默认商品汇率系数吗?')) {
                    $("input[name='ratio']").addClass('hide');
                } else {
                    $(this).removeAttr("checked");
                    $("input[name='hasratio']:last").prop("checked", true);
                }
            }
        });


    </script>
    #include("common/image-support.vm")
    #include("common/map-support.vm")
    <script src="/dist/js/cascade-select.js"></script>

    <script charset="utf-8" src="/dist/kindeditor/kindeditor.js"></script>
    <script type="text/javascript">
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('#intro', {
                items: [
                    'source', '|', 'undo', 'redo', '|', 'preview', 'template', 'code', 'cut', 'copy', 'paste',
                    'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                    'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                    'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                    'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'hr', 'emoticons', 'pagebreak',
                    'link', 'unlink', '|', 'about'
                ]
            });
        });

        directMailChange();
        $("input[name='supportType']").click(directMailChange)

        var landmarkOption = null;
        $(".landmark").each(function () {
            $(this).on("click", function () {

                var value = $("select[name='district.Id']").val();
                var longitude = $("#longitude").val();
                var latitude = $("#latitude").val();

                $.ajax({
                    url: "/landMark/api/list",
                    async: false,
                    data: {id: value, longitude: longitude, latitude: latitude},
                    success: function (result) {
                        var htm = '';
                        $.each(result.data, function (k, v) {
                            htm += '<option value="' + v.id + '">' + v.id + ":" + v.name;
                        });
                        var target = $("select[name='landmarkId']");
                        if (landmarkOption == null) {
                            landmarkOption = "" + $(target).html();
                        }
                        htm = landmarkOption + htm;
                        $(target).html(htm);
                    }
                });
            }).click();
            var target = $("select[name='landmarkId']");
            var value = $(target).attr("def-value");
            if (value) {
                $(target).val(value);
            }
        });


        $(".merchantValidate").validate({
            rules: {
                sort: {
                    digits: true
                },
                name: {
                    required: true, maxlength: 50
                },
                title: {
                    required: true, maxlength: 50
                },
                'city.id': {
                    required: true
                },
                'country.id': {
                    required: true
                },
                cmsusername: {
                    required: true
                },
                postage: {
                    required: true, number: true
                },
                mailWeight: {
                    number: true
                },
                ratio: {
                    isPositive: true,
                    number: true
                }
            },
            errorPlacement: function (error, element) {
                $(element)
                        .closest("form")
                        .find(element)
                        .after(error);
            },
            errorElement: "span"
        });


        function directMailChange() {
            var isCheck = $("input[name=supportType][value=ZhiYouGou]")[0].checked;
            if (isCheck) {
                var postage = $("input[name=postage]").val();
                if (!postage) {
                    $("input[name=postage]").val(8000);
                }
                $(".directMail").show();
            } else {
                $(".directMail").hide();
            }
        }


        $.validator.addMethod("isPositive", function (value, element) {
            if (value == "") {
                return true;
            }
            if (value <= 0) {
                return false;
            } else {
                return true;
            }
//            var score = /^[0-9]*$/;
//            return this.optional(element) || (score.test(value));
        }, "<font color='#E47068'>请输入大于0的数字</font>");


    </script>
</body>
</html>