#parse("common/list_start.vm")
<div class="widget-title"><span class="icon"> <i class="icon-th"></i> </span>
    <h5>商家列表</h5>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>商家名称</th>
        <th>本地名称</th>
        <th>商家电话</th>
        <th>地址</th>
        <th>地址（本地）</th>
        <th>支付方式</th>
        <th>支持类型</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($entity in $!page.content)
        <tr class="odd gradeX">
            <td>$!entity.id</td>
            <td>$!entity.name</td>
            <td>$!entity.kpname</td>
            <td>$!entity.telphone</td>
            <td>$!entity.address</td>
            <td>$!entity.kpaddress</td>
            <td>
                #foreach($payType in $!entity.payTypes)
                $payType.name
            #end
            </td>
            <td>
                #foreach($type in $!entity.supportType)
                $type.name
            #end
            </td>
            <td>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="javascript:(0);">操 作 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="detail?id=$!entity.id">详细信息</a></li>
                        <li><a href="edit?id=$!entity.id">基础信息编辑</a></li>
                        <li><a href="/merchantHeadimgOld/list?mchId=$!entity.id"">商家详情页图片编辑2.0</a></li>
                        <li><a href="/merchantHeadimg/edit?mchId=$!entity.id"">商家详情页图片编辑3.0</a></li>
                        <li><a href="/merchantSubsidy/list?mchId=$!entity.id"">商户补贴编辑</a></li>
                        <li><a href="/userSubsidy/list?mchId=$!entity.id"">用户补贴编辑</a></li>
                        <li><a href="/merchantLabel/list?mchId=$!entity.id">标签编辑</a></li>
                        <li><a href="/merchantStaff/list?mchId=$!entity.id">商户员工编辑</a></li>
                        <li><a class="copyItem" data-id="$!entity.id" href="javascript:void(0);">商品复制</a></li>
                        #if(!$entity.issign)
                            <li><a class="updateScore" data-id="$!entity.id" href="javascript:void(0);">修改商户评分</a></li>
                        #end
                        #if($!entity.supportType.contains($!YouFu))
                            #if(!$entity.channelId)
                                <li><a href="javascript:void(0);" class="genCode" data-id="$!entity.id">生成优付二维码</a></li>
                            #else
                                <li><a href="javascript:void(0);" class="update-item" modal-id="lookCode" action-get="lookCode" data-id="$!entity.channelId">查看优付URL</a></li>
                            #end
                        #end
                    </ul>
                </div>
            </td>
        </tr>
        #end
    </tbody>
</table>
<div class="form-actions ">
    <a class="btn btn-info" href="add">新增</a>
</div>
#parse("common/list_mid.vm")
<form>
    <div class="control-group">
        <label>ID：</label>
        <input name="id" value="$!entity.id" type="text" placeholder="ID" class="span11">
        <label>名称：</label>
        <input name="name" value="$!entity.name" type="text" placeholder="名称" class="span11">
        <label>本地名称：</label>
        <input name="kpname" value="$!entity.kpname" type="text" placeholder="本地名称" class="span11">
        <label>状态</label>
        <select name="display" class="span11">
            <option value="">全部</option>
            <option value="true" #if($!entity.display == true) selected #end>显示</option>
            <option value="false" #if($!entity.display == false) selected #end>隐藏</option>
        </select>
        <label>国家</label>
        <select name="district.country.id" class="span11">
            <option value="">全部</option>
            #foreach($e in $!countries)
                <option value="$!e.id" #if($!entity.district.country.id==$!e.id) selected #end>$!e.name</option>
            #end
        </select>
        <button type="submit" class="btn btn-primary">查询</button>
        <a class="btn btn-warning export" href="javascript:void(0);">导出</a>
    </div>
</form>

<div id="lookCode" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">优付URL</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <input type="text" id="payUrl" name="url" class="span12" readonly>
            <div id="qrcode" style="margin-top:15px;"></div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>

<div id="update-score-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">商户评分</h3>
    </div>
    <div class="modal-body">
        <input id="update-score-mchId" type="hidden" class="span11">
        <input id="update-score-score" type="text" class="span11" placeholder="商户评分">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <a href="javascript:void(0);" id="update-score-submit" class="btn btn-primary">保存</a>
    </div>
</div>
<div id="copy-item-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>商品复制</h3>
    </div>
    <div class="modal-body">
        <div class="input-group">
            <label class="control-label">源商户</label>
            <select id="copy-item-sourceId">
                #foreach($e in $!merchants)
                    <option value="$!e.id">$!e.name（$!e.kpname）</option>
                #end
            </select>
        </div>
        <div class="input-group">
            <label class="control-label">目标商户</label>
            <input id="copy-item-targetId" type="text" class="span11" readonly>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <a href="javascript:void(0);" id="copy-item-submit" class="btn btn-primary">保存</a>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script src="/dist/js/curd.js"></script>
<script type="text/javascript">
    $(function () {
        $(".export").on("click", function () {
            var form = $("#serch");
            form.attr("action", "export");
            form.submit();
            form.attr("action", "");
            form.attr("target", "");
        });

        $(".copyItem").each(function (i, o) {
            $(o).on("click", function (event) {
                var id = $(this).attr("data-id");
                $("#copy-item-targetId").attr("value", id);
                $("#copy-item-modal").modal();
            });
        });
        $("#copy-item-submit").on("click", function (event) {
            var sourceId = $("#copy-item-sourceId").val();
            var targetId = $("#copy-item-targetId").val();

            $.ajax({
                url: 'copyItem',
                data: {sourceId: sourceId, targetId: targetId},
                type: 'post',
                success: function (result) {
                    if (result.code == 0) {
                        alert("成功");
                    } else {
                        alert("失败:" + result.msg);
                    }
                }
            });
        });

        $(".updateScore").each(function (i, o) {
            $(o).on("click", function (event) {
                var id = $(this).attr("data-id");
                $("#update-score-mchId").attr("value", id);
                $("#update-score-modal").modal();
            });
        });
        $("#update-score-submit").on("click", function (event) {
            var id = $("#update-score-mchId").val();
            var score = $("#update-score-score").val();
            $.ajax({
                url: 'updateScore',
                data: {id: id, score: score},
                type: 'post',
                success: function (result) {
                    if (result.code == 0) {
                        alert("成功");
                    } else {
                        alert("失败:" + result.msg);
                    }
                }
            });
        });
        $(".updateScore").each(function (i, o) {
            $(o).on("click", function (event) {
                var id = $(this).attr("data-id");
                $.ajax({
                    url: 'updateScore',
                    data: {id: id},
                    type: 'get',
                    success: function (result) {
                        if (result.code == 0) {
                            alert("成功");
                        } else {
                            alert("失败:" + result.msg);
                        }
                    }
                });
            });
        });
        $(".genCode").each(function (i, o) {
            $(o).on("click", function (event) {
                var id = $(this).attr("data-id");
                $.ajax({
                    url: 'genCode',
                    data: {id: id},
                    type: 'get',
                    success: function (result) {
                        if (result.code == 0) {
                            alert("成功");
                            window.location.reload();
                        } else {
                            alert("失败:" + result.msg);
                        }
                    }
                });
            });
        });
    });
    function callback() {
        var elText = $("#payUrl").val();
        $('#qrcode').qrcode({width: 200, height: 200, correctLevel: 0, text: elText});
    }
</script>
#parse("common/list_end.vm")
