#parse("common/list_start.vm")
<div class="widget-title">
    <span class="icon"><i class="icon-th"></i></span>
    <h5>多语言分类列表</h5>
    <a class="btn btn-mini btn-info buttons" href="add">新增</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>多语言分类名称</th>
        <th>本地名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($entity in $!page.content)
        <tr class="odd gradeX">
            <td>$!entity.id</td>
            <td>$!entity.name</td>
            <td>$!entity.kpname</td>
            <td>$!entity.telphone</td>
            <td>
                <a href="edit?type=2&id=$!entity.id" class="btn btn-success btn-mini">编辑</a>
                <a href="edit?type=3&id=$!entity.id" class="btn btn-info btn-mini">查看</a>
            </td>
        </tr>
        #end
    </tbody>
</table>
#parse("common/list_mid.vm")
<form class="form-horizontal " method="post">
    <div class="control-group">
        <label>ID</label>
        <input type="text" class="span11" name="nameOrId" value="$!nameOrId">
    </div>
    <div class="control-group">
        <label>国家</label>
        <select id="country.id" name="country.id" class="span7">
            <option value="">全部</option>
            #foreach($e in $!countries)
                <option value="$!e.id" #if($!entity.country.id==$!e.id) selected #end>$!e.id:$!e.name</option>
            #end
        </select>
    </div>
    <div class="control-group">
        <button type="submit" class="btn btn-primary">查询</button>
    </div>

    <input type="text" name="name1" value="1">
    <input type="text" name="name1" value="2">
</form>


<script src="http://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script src="/dist/js/curd.js"></script>
<script type="text/javascript">
    $(function () {
        $(".export").on("click", function () {
            var form = $(document.forms[0]);
            form.attr("action", "export");
            form.attr("target", "_blank");
            form.submit();
            form.attr("action", "");
            form.attr("target", "");
        });

        $(".copyItem").each(function (i, o) {
            $(o).on("click", function (event) {
                var id = $(this).attr("data-id");
                $("#copy-item-targetId").attr("value", id);
                $("#copy-item-modal").modal();
            });
        });
        $("#copy-item-submit").on("click", function (event) {
            var sourceId = $("#copy-item-sourceId").val();
            var targetId = $("#copy-item-targetId").val();
            $(this).attr("disabled", true);
            $.ajax({
                url: '/merchant/copyItem',
                data: {sourceId: sourceId, targetId: targetId},
                type: 'post',
                success: function (result) {
                    $(this).attr("disabled", false);
                    if (result.code == 0) {
                        $("#copy-item-modal").modal('hide');
                    } else {
                        alert("失败:" + result.msg);
                    }
                }
            });
        });

        $(".updateScore").each(function (i, o) {
            $(o).on("click", function (event) {
                var id = $(this).attr("data-id");
                $("#update-score-mchId").attr("value", id);
                $("#update-score-modal").modal();
            });
        });
        $("#update-score-submit").on("click", function (event) {
            var id = $("#update-score-mchId").val();
            var score = $("#update-score-score").val();
            $.ajax({
                url: '/merchant/updateScore',
                data: {id: id, score: score},
                type: 'post',
                success: function (result) {
                    if (result.code == 0) {
                        alert("成功");
                    } else {
                        alert("失败:" + result.msg);
                    }
                }
            });
        });
        $(".updateScore").each(function (i, o) {
            $(o).on("click", function (event) {
                var id = $(this).attr("data-id");
                $.ajax({
                    url: '/merchant/updateScore',
                    data: {id: id},
                    type: 'get',
                    success: function (result) {
                        if (result.code == 0) {
                            alert("成功");
                        } else {
                            alert("失败:" + result.msg);
                        }
                    }
                });
            });
        });
    });
    function callback() {
        var elText = $("#payUrl").val();
        $('#qrcode').empty();
        $('#qrcode').qrcode({width: 200, height: 200, correctLevel: 0, text: elText});
    }
</script>
#parse("common/list_end.vm")
