#parse("common/list_start.vm")
<div id="breadcrumb">
    <a href="/index" class="tip-bottom"><i class="icon-home"></i>主页</a>
    <a href="javascript:void(0);" class="tip-bottom">评论美化</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>用户昵称</th>
        <th>商户名称</th>
        <th>评价</th>
        <th>评分</th>
        <th>支付时间</th>
        <th>评价时间</th>
        <th>创建时间</th>
        <th class="table-set">操作</th>
    </tr>
    </thead>
    <tbody>
        #foreach($e in $!page.content)
        <tr>
            <td>$!e.id</td>
            <td>$!e.fakeUser.nickname</td>
            <td>$!e.merchant.name</td>
            <td style="width:15%">$!e.comment</td>
            <td>$!e.score</td>
            <td>$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!e.paytime)</td>
            <td>$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!e.commenttime)</td>
            <td>$!dateFormatter.format("yyyy-MM-dd HH:mm:ss",$!e.createtime)</td>
            <td>

                <a href="edit?type=2&id=$!entity.id" class="btn btn-success btn-mini">编辑</a>
                <a href="edit?type=3&id=$!entity.id" class="btn btn-info btn-mini">查看</a>
            </td>
        </tr>


        #end
    </tbody>
</table>
<div class="form-actions ">
    <a class="btn btn-info" href="edit?type=1">新增</a>
</div>
#parse("common/list_mid.vm")
<form class="form-horizontal " role="form" method="get">
    <div class="control-group">
        <label>用户昵称</label>
        <input type="text" name="fakeUser.nickname" class="span11" value="$!entity.fakeUser.nickname" placeholder="用户昵称"/>
    </div>
    <div class="control-group">
        <button type="submit" class="btn btn-primary">查询</button>
    </div>
</form>
<script src="/dist/js/curd.js"></script>
#parse("common/list_end.vm")